openapi: 3.0.0
info:
  title: Interoperability APIs (FHIR++)
  version: latest
  description: FHIR (Fast Healthcare Interoperability Resources, prounced as Fire)
    is a standard for exchanging healthcare information electronically. It is designed
    to be a modern, flexible, and web-based alternative to older, more cumbersome
    standards like HL7 v2. FHIR uses a RESTful API specification to define how to
    interact with Resources - this means it uses standard HTTP verbs (GET, POST, PUT,
    DELETE). Resources are the fundamental units of data in FHIR; they can represent
    anything from patient demographics to clinical observations to medications.
servers:
- url: https://xchange-sandbox.xcaliberapis.com
- url: https://your.api.server
tags:
- name: Appointment
  description: Operations related to FHIR Appointment resources in Athena.
paths:
  /api/v2/Appointment:
    get:
      summary: List Appointments
      operationId: getAthenaAppointmentsV2
      tags:
      - Appointment
      parameters:
      - &id001
        name: x-source-id
        in: header
        required: true
        schema:
          type: string
        description: Source system identifier.
      - &id002
        name: x-interaction-mode
        in: header
        required: true
        schema:
          type: boolean
        description: Interaction mode flag (true/false).
      - name: actor
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: 'Filter: actor'
      - name: appointment-type
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: appointment-type'
      - name: based-on
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: based-on'
      - name: date
        in: query
        required: false
        schema:
          type: string
          format: date
        description: 'Filter: date'
      - name: end
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: end'
      - name: identifier
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: identifier'
      - name: location
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: location'
      - name: part-status
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: part-status'
      - name: patient
        in: query
        required: true
        schema:
          type: string
        description: 'Filter: patient'
      - name: practitioner
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: practitioner'
      - name: reason-code
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: reason-code'
      - name: reason-reference
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: reason-reference'
      - name: service-category
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: service-category'
      - name: service-type
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: service-type'
      - name: slot
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: slot'
      - name: specialty
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: specialty'
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: status'
      - name: supporting-info
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: supporting-info'
      - name: departmentId
        in: query
        required: true
        schema:
          type: string
        description: Department identifier.
      responses:
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400ofgetinAppointment'
              example:
                statusCode: 400
                message: Patient ID is required
                status: error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error401ofgetinAppointment'
              example:
                success: false
                code: 401
                message: Http Exception
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500ofgetinAppointment'
              example:
                statusCode: 500
                message: Internal server error
                details: Athena API error details
                status: error
        '200':
          description: OK
          content:
            application/json:
              examples:
                Response Example:
                  value:
                    resourceType: Appointment
                    extension:
                    - url: TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIRED
                      valueBoolean: true
                    - url: TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIREDREASON
                      valueString: Insurance covers visit
                    - url: TINY_URLS.APPOINTMENT.ENCOUNTER_ID
                      valueString: ENC123456
                    - url: TINY_URLS.APPOINTMENT.ENCOUNTER_PREP
                      valueString: Fasting required
                    - url: TINY_URLS.APPOINTMENT.PATIENT_LOCATION_ID
                      valueString: LOC789
                    - url: TINY_URLS.APPOINTMENT.CANCELLEDBY
                      valueString: Dr. Smith
                    - url: TINY_URLS.APPOINTMENT.CANCELLEDDATE
                      valueDateTime: '2024-01-15T10:30:00Z'
                    - url: TINY_URLS.APPOINTMENT.CANCELLEDREASONNOSHOW
                      valueString: Patient did not show
                    - url: TINY_URLS.APPOINTMENT.APPOINTMENTCOPAY
                      valueString: '{"amount":25.00}'
                    - url: TINY_URLS.APPOINTMENT.CANCELLEDDATE
                      valueDateTime: '2023-10-15T14:30:00Z'
                    - url: TINY_URLS.APPOINTMENT.COPAY
                      valueString: '25'
                    - url: TINY_URLS.APPOINTMENT.FROZENYN
                      valueString: N
                    - url: TINY_URLS.APPOINTMENT.FROZEN
                      valueString: 'false'
                    - url: TINY_URLS.APPOINTMENT.HL7PROVIDERID
                      valueInteger: 12345
                    - url: TINY_URLS.APPOINTMENT.NATIVEATHENATELEHEALTH
                      valueString: 'true'
                    - url: TINY_URLS.APPOINTMENT.RESCHEDULEDAPPOINTMENTID
                      valueString: '67890'
                    - url: Y_URLS.APPOINTMENT.RESCHEDULEDAPPOINTMENTID
                      valueString: '12345'
                    - url: TINY_URLS.APPOINTMENT.STARTCHECKIN
                      valueDateTime: '2024-01-15T09:00:00Z'
                    - url: TINY_URLS.APPOINTMENT.STOPCHECKIN
                      valueDateTime: '2024-01-15T09:15:00Z'
                    - url: TINY_URLS.APPOINTMENT.URGENTYN
                      valueString: Y
                    - url: TINY_URLS.APPOINTMENT.ENCOUNTER_STATUS
                      valueString: completed
                    - url: TINY_URLS.APPOINTMENT.ENCOUNTERSTATE
                      valueString: active
                    - url: TINY_URLS.APPOINTMENT.APPOINTMENT_STATUS
                      valueCoding:
                        system: http://hl7.org/fhir/R4B/valueset-appointmentstatus.html
                        code: fulfilled
                        display: Fulfilled
                    - url: TINY_URLS.APPOINTMENT.CANCELLEDREASONSLOTAVAILABLE
                      valueString: Slot became available
                    id: '12345'
                    supportingInformation:
                    - reference: Encounter/67890
                    participant:
                    - actor:
                        reference: Location/101
                      status: accepted
                    - actor:
                        reference: '123'
                        extension:
                        - url: TINY_URLS.APPOINTMENT.REFERRINGPROVIDERID
                          valueString: referring-provider-id
                      status: accepted
                    - actor:
                        reference: '456'
                        extension:
                        - url: TINY_URLS.APPOINTMENT.RENDERINGPROVIDERID
                          valueString: rendering-provider-id
                      status: accepted
                    - actor:
                        reference: '789'
                        extension:
                        - url: TINY_URLS.APPOINTMENT.SUPERVISINGPROVIDERID
                          valueString: supervising-provider-id
                      status: accepted
                    - actor:
                        reference: Patient/123
                        display: John Doe
                      status: accepted
                    - actor:
                        reference: Practitioner/90210
                      status: accepted
                    - actor:
                        reference: '456'
                        extension:
                        - url: http://example.com/appointment/referringproviderid
                          valueString: referrin
                    minutesDuration: 30
                    start: '2024-01-15T09:00:00.000Z'
                    end: '2024-01-15T09:30:00.000Z'
                    cancelationReason:
                      coding:
                      - system: athena
                        code: cancel123
                    appointmentType:
                      coding:
                      - code: '123'
                        display: Office Visit
                      text: Regular Checkup
                    status: proposed
    post:
      summary: Create Appointment
      operationId: createAppointmentInAthenaV2
      tags:
      - Appointment
      parameters:
      - *id001
      - *id002
      - name: patient
        in: query
        required: true
        schema:
          type: string
        description: 'Filter: patient'
      - name: department-id
        in: query
        required: true
        schema:
          type: string
        description: .
      responses:
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400ofpostinAppointment'
              example:
                statusCode: 400
                message: Patient ID is required
                status: error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error401ofpostinAppointment'
              example:
                success: false
                code: 401
                message: Http Exception
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500ofpostinAppointment'
              example:
                statusCode: 500
                message: Internal server error
                details: Athena API error details
                status: error
        '202':
          description: Accepted
          content:
            application/json:
              examples:
                Accepted:
                  value:
                    message: response is being getting generated.
      requestBody:
        required: true
        content:
          application/json:
            examples:
              Request Example:
                value:
                  resourceType: Appointment
                  participant:
                  - actor:
                      reference: Patient/123
                  - actor:
                      reference: Location/101
                  appointmentType:
                    coding:
                    - code: '123'
                  extension:
                  - url: TINY_URLS.APPOINTMENT.URGENTYN
                    valueString: Y
                  cancelationReason:
                    coding:
                    - code: cancel123
                  reasonReference:
                  - reference: Encounter/67890
  /api/v2/Appointment/{appointment-id}:
    get:
      summary: Get Appointment by ID
      operationId: getAthenaAppointmentByIdV2
      tags:
      - Appointment
      parameters:
      - name: appointment-id
        in: path
        required: true
        schema:
          type: string
        description: '"Unique identifier of the appointment to retrieve. Required
          to identify the appointment."'
      - *id001
      - *id002
      responses:
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400ofgetinAppointmentappointmentid'
              example:
                statusCode: 400
                message: Invalid appointment ID
                status: error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error401ofgetinAppointmentappointmentid'
              example:
                success: false
                code: 401
                message: Http Exception
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500ofgetinAppointmentappointmentid'
              example:
                statusCode: 500
                message: Internal server error
                details: Athena API error details
                status: error
        '200':
          description: OK
          content:
            application/json:
              examples:
                Response Example:
                  value:
                    resourceType: Appointment
                    extension:
                    - url: TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIRED
                      valueBoolean: true
                    - url: TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIREDREASON
                      valueString: Insurance covers visit
                    - url: TINY_URLS.APPOINTMENT.ENCOUNTER_ID
                      valueString: ENC123456
                    - url: TINY_URLS.APPOINTMENT.ENCOUNTER_PREP
                      valueString: Fasting required
                    - url: TINY_URLS.APPOINTMENT.PATIENT_LOCATION_ID
                      valueString: LOC789
                    - url: TINY_URLS.APPOINTMENT.CANCELLEDBY
                      valueString: Dr. Smith
                    - url: TINY_URLS.APPOINTMENT.CANCELLEDDATE
                      valueDateTime: '2024-01-15T10:30:00Z'
                    - url: TINY_URLS.APPOINTMENT.CANCELLEDREASONNOSHOW
                      valueString: Patient did not show
                    - url: TINY_URLS.APPOINTMENT.APPOINTMENTCOPAY
                      valueString: '{"amount":25.00}'
                    - url: TINY_URLS.APPOINTMENT.CANCELLEDDATE
                      valueDateTime: '2023-10-15T14:30:00Z'
                    - url: TINY_URLS.APPOINTMENT.COPAY
                      valueString: '25'
                    - url: TINY_URLS.APPOINTMENT.FROZENYN
                      valueString: N
                    - url: TINY_URLS.APPOINTMENT.FROZEN
                      valueString: 'false'
                    - url: TINY_URLS.APPOINTMENT.HL7PROVIDERID
                      valueInteger: 12345
                    - url: TINY_URLS.APPOINTMENT.NATIVEATHENATELEHEALTH
                      valueString: 'true'
                    - url: TINY_URLS.APPOINTMENT.RESCHEDULEDAPPOINTMENTID
                      valueString: '67890'
                    - url: Y_URLS.APPOINTMENT.RESCHEDULEDAPPOINTMENTID
                      valueString: '12345'
                    - url: TINY_URLS.APPOINTMENT.STARTCHECKIN
                      valueDateTime: '2024-01-15T09:00:00Z'
                    - url: TINY_URLS.APPOINTMENT.STOPCHECKIN
                      valueDateTime: '2024-01-15T09:15:00Z'
                    - url: TINY_URLS.APPOINTMENT.URGENTYN
                      valueString: Y
                    - url: TINY_URLS.APPOINTMENT.ENCOUNTER_STATUS
                      valueString: completed
                    - url: TINY_URLS.APPOINTMENT.ENCOUNTERSTATE
                      valueString: active
                    - url: TINY_URLS.APPOINTMENT.APPOINTMENT_STATUS
                      valueCoding:
                        system: http://hl7.org/fhir/R4B/valueset-appointmentstatus.html
                        code: fulfilled
                        display: Fulfilled
                    - url: TINY_URLS.APPOINTMENT.CANCELLEDREASONSLOTAVAILABLE
                      valueString: Slot became available
                    id: '12345'
                    supportingInformation:
                    - reference: Encounter/67890
                    participant:
                    - actor:
                        reference: Location/101
                      status: accepted
                    - actor:
                        reference: '123'
                        extension:
                        - url: TINY_URLS.APPOINTMENT.REFERRINGPROVIDERID
                          valueString: referring-provider-id
                      status: accepted
                    - actor:
                        reference: '456'
                        extension:
                        - url: TINY_URLS.APPOINTMENT.RENDERINGPROVIDERID
                          valueString: rendering-provider-id
                      status: accepted
                    - actor:
                        reference: '789'
                        extension:
                        - url: TINY_URLS.APPOINTMENT.SUPERVISINGPROVIDERID
                          valueString: supervising-provider-id
                      status: accepted
                    - actor:
                        reference: Patient/123
                        display: John Doe
                      status: accepted
                    - actor:
                        reference: Practitioner/90210
                      status: accepted
                    - actor:
                        reference: '456'
                        extension:
                        - url: http://example.com/appointment/referringproviderid
                          valueString: referrin
                    minutesDuration: 30
                    start: '2024-01-15T09:00:00.000Z'
                    end: '2024-01-15T09:30:00.000Z'
                    cancelationReason:
                      coding:
                      - system: athena
                        code: cancel123
                    appointmentType:
                      coding:
                      - code: '123'
                        display: Office Visit
                      text: Regular Checkup
                    status: proposed
    delete:
      summary: Delete Appointment
      operationId: deleteAppointmentInAthena
      tags:
      - Appointment
      parameters:
      - name: appointment-id
        in: path
        required: true
        schema:
          type: string
        description: '"Unique identifier of the appointment to delete. Required for
          deletion."'
      - *id001
      - *id002
      responses:
        '200':
          description: Appointment deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response200ofdeleteinAppointmentappointmentid'
              example:
                context:
                  requestId: abc123
                  source: ATHENA
                  quorum: true
                  notify: true
                data:
                  resourceType: Bundle
                  type: searchset
                  total: 1
                  entry:
                  - resource:
                      resourceType: Appointment
                      id: example
                      meta:
                        versionId: '1'
                        lastUpdated: '2022-03-01T12:00:00Z'
                      extension:
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.APPOINTMENTCOPAY
                        valueString: '{"amount": "50", "currency": "USD"}'
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDDATE
                        valueDateTime: '2022-02-25T09:00:00Z'
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.COPAY
                        valueString: '50'
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.FROZENYN
                        valueString: Y
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.FROZEN
                        valueString: 'true'
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.HL7PROVIDERID
                        valueInteger: 123456
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.NATIVEATHENATELEHEALTH
                        valueString: enabled
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.RESCHEDULEDAPPOINTMENTID
                        valueString: resched-123
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.STARTCHECKIN
                        valueDateTime: '2022-03-01T13:50:00Z'
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.STOPCHECKIN
                        valueDateTime: '2022-03-01T15:10:00Z'
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.URGENTYN
                        valueString: N
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_STATUS
                        valueString: in-progress
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTERSTATE
                        valueString: active
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIRED
                        valueBoolean: false
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIREDREASON
                        valueString: Manual review
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_ID
                        valueString: enc-98765
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_PREP
                        valueString: prep-details
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.PATIENT_LOCATION_ID
                        valueString: loc-12345
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDBY
                        valueString: staff-001
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDREASONNOSHOW
                        valueString: No show
                      - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDREASONSLOTAVAILABLE
                        valueString: Slot available
                      status: scheduled
                      intent: proposed
                      type:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/appointment-type
                          code: consult
                      participant:
                      - role:
                          coding:
                          - system: http://terminology.hl7.org/CodeSystem/appointment-participant-role
                            code: patient
                          reference: Patient/example
                        participantRole:
                          coding:
                          - system: http://terminology.hl7.org/CodeSystem/appointment-participant-role
                            code: provider
                          reference: Practitioner/example
                      statusReason:
                        text: Reason for appointment
                      subject:
                        reference: Patient/example
                      context:
                        location:
                          reference: Location/example
                        careTeam:
                        - reference: Practitioner/example
                      start: '2022-03-01T14:00:00Z'
                      end: '2022-03-01T15:00:00Z'
                      duration: PT1H
                      reason:
                        text: Reason for appointment
                      note:
                      - text: Additional notes about the appointment
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400ofdeleteinAppointmentappointmentid'
              example:
                statusCode: 400
                message: Invalid appointment ID
                status: error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error401ofdeleteinAppointmentappointmentid'
              example:
                success: false
                code: 401
                message: Http Exception
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500ofdeleteinAppointmentappointmentid'
              example:
                statusCode: 500
                message: Internal server error
                details: Athena API error details
                status: error
    post:
      tags:
      - Appointment
      operationId: postAthenaAppointmentByIdV2
      parameters:
      - name: appointment-id
        in: path
        required: true
        schema:
          type: string
        description: '"Unique identifier of the appointment to retrieve. Required
          to identify the appointment."'
      - *id001
      - *id002
      requestBody:
        required: true
        content:
          application/json:
            examples:
              Request Example 1:
                value:
                  resourceType: Appointment
                  id: WL-9001
                  supportingInformation:
                    reference: Appointment/1232814
                  appointmentType:
                    coding:
                    - code: '402'
                  created: '2025-09-10T14:35:00Z'
                  comment: Patient prefers morning slots; okay with Monday/Wednesday.
                  extension:
                  - url: http://xcaliber-fhir/structureDefinition/day-of-week-ids
                    valueInteger: 62
                  - url: http://xcaliber-fhir/structureDefinition/department-id
                    valueInteger: 150
                  - url: http://xcaliber-fhir/structureDefinition/priority
                    valueString: High
                  requestedPeriod:
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/hour-from
                      valueInteger: 9
                    - url: http://xcaliber-fhir/structureDefinition/hour-to
                      valueInteger: 12
                  participant:
                  - actor:
                      reference: Patient/4406
                    status: accepted
                  - actor:
                      reference: Practitioner/27
                    status: accepted
              Request Example 2:
                value:
                  customfields:
                  - customfieldid: q1
                    customfieldvalue: Needs wheelchair access
                  - customfieldid: q2
                    customfieldvalue: Follow-up
                    optionid: FOLLOW_UP
              Request Example 3:
                value:
                  ignoreschedulablepermission: true
                  newappointmentid: 1232814
                  patientid: 4406
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              examples:
                Accepted:
                  value:
                    message: response is being getting generated.
    put:
      summary: Update Appointment
      operationId: updateAppointmentInAthenaV2
      tags:
      - Appointment
      parameters:
      - name: appointment-id
        in: path
        required: true
        schema:
          type: string
        description: '"Unique identifier of the appointment to retrieve. Required
          to identify the appointment."'
      - name: x-source-id
        in: header
        required: true
        schema:
          type: string
        description: Source system identifier.
      - name: x-interaction-mode
        in: header
        required: true
        schema:
          type: boolean
        description: Interaction mode flag (true/false).
      responses:
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400ofputinAppointmentappointmentid'
              example:
                statusCode: 400
                message: Missing required information
                status: error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error401ofputinAppointmentappointmentid'
              example:
                success: false
                code: 401
                message: Http Exception
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500ofputinAppointmentappointmentid'
              example:
                statusCode: 500
                message: Internal server error
                details: Athena API error details
                status: error
        '202':
          description: Accepted
          content:
            application/json:
              examples:
                Accepted:
                  value:
                    message: response is being getting generated.
      requestBody:
        required: true
        content:
          application/json:
            examples:
              Request Example 1:
                value:
                  patientid: 4406
                  appointmenttypeid: 15
                  ignoreschedulablepermission: true
                  departmentid: 21
                  urgentyn: Y
                  donotsendconfirmationemail: false
                  nopatientcase: false
                  appointmentcancelreasonid: CANCELLED_BY_PATIENT
                  reasonid: 9876
                  bookingnote: Patient prefers morning slot; fasting required.
                  insuranceinfo:
                    insuranceidnumber: INS-12345678
                    insurancenote: Verify specialist coverage before visit.
                    insurancephone: 6174021111
                    insuranceplanname: Blue Choice PPO
                    insurancepolicyholder: RelatedPerson/701
                    patientrelationshiptopolicyholder: Self
                    insurancecompany: Blue Cross
                    insurancegroupid: GRP-8877
              Request Example 2:
                value:
                  resourceType: Appointment
                  id: '12345'
                  start: '2024-01-15T09:00:00.000Z'
                  participant:
                  - actor:
                      reference: Practitioner/90210
                  - actor:
                      reference: Location/101
                  appointmentType:
                    coding:
                    - code: '123'
components:
  schemas:
    ExtractedSchema782:
      type: object
      properties:
        data:
          type: object
          properties:
            context:
              type: object
              properties:
                requestId:
                  type: string
                  example: abc123
                source:
                  type: string
                  example: ATHENA
                quorum:
                  type: boolean
                  example: true
                notify:
                  type: boolean
                  example: true
              example:
                requestId: abc123
                source: ATHENA
                quorum: true
                notify: true
            appointment:
              type: object
              required:
              - resourceType
              - id
              - status
              properties:
                resourceType:
                  type: string
                  example: Appointment
                id:
                  type: string
                meta:
                  type: object
                  properties:
                    versionId:
                      type: string
                    lastUpdated:
                      type: string
                extension:
                  type: array
                  items:
                    type: object
                    properties:
                      url:
                        type: string
                      valueString:
                        type: string
                      valueDateTime:
                        type: string
                      valueInteger:
                        type: integer
                      valueBoolean:
                        type: boolean
                status:
                  type: string
                intent:
                  type: string
                type:
                  type: object
                  properties:
                    coding:
                      type: array
                      items:
                        type: object
                        properties:
                          system:
                            type: string
                          code:
                            type: string
                participant:
                  type: array
                  items:
                    type: object
                    properties:
                      role:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                code:
                                  type: string
                          reference:
                            type: string
                      participantRole:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                code:
                                  type: string
                          reference:
                            type: string
                statusReason:
                  type: object
                  properties:
                    text:
                      type: string
                subject:
                  type: object
                  properties:
                    reference:
                      type: string
                context:
                  type: object
                  properties:
                    location:
                      type: object
                      properties:
                        reference:
                          type: string
                    careTeam:
                      type: array
                      items:
                        type: object
                        properties:
                          reference:
                            type: string
                start:
                  type: string
                end:
                  type: string
                duration:
                  type: string
                reason:
                  type: object
                  properties:
                    text:
                      type: string
                note:
                  type: array
                  items:
                    type: object
                    properties:
                      text:
                        type: string
              example:
                resourceType: Appointment
                id: example
                meta:
                  versionId: '1'
                  lastUpdated: '2022-03-01T12:00:00Z'
                extension:
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.APPOINTMENTCOPAY
                  valueString: '{"amount": "50", "currency": "USD"}'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDDATE
                  valueDateTime: '2022-02-25T09:00:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.COPAY
                  valueString: '50'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.FROZENYN
                  valueString: Y
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.FROZEN
                  valueString: 'true'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.HL7PROVIDERID
                  valueInteger: 123456
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.NATIVEATHENATELEHEALTH
                  valueString: enabled
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.RESCHEDULEDAPPOINTMENTID
                  valueString: resched-123
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.STARTCHECKIN
                  valueDateTime: '2022-03-01T13:50:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.STOPCHECKIN
                  valueDateTime: '2022-03-01T15:10:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.URGENTYN
                  valueString: N
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_STATUS
                  valueString: in-progress
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTERSTATE
                  valueString: active
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIRED
                  valueBoolean: false
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIREDREASON
                  valueString: Manual review
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_ID
                  valueString: enc-98765
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_PREP
                  valueString: prep-details
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.PATIENT_LOCATION_ID
                  valueString: loc-12345
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDBY
                  valueString: staff-001
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDREASONNOSHOW
                  valueString: No show
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDREASONSLOTAVAILABLE
                  valueString: Slot available
                status: scheduled
                intent: proposed
                type:
                  coding:
                  - system: http://terminology.hl7.org/CodeSystem/appointment-type
                    code: consult
                participant:
                - role:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/appointment-participant-role
                      code: patient
                    reference: Patient/example
                  participantRole:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/appointment-participant-role
                      code: provider
                    reference: Practitioner/example
                statusReason:
                  text: Reason for appointment
                subject:
                  reference: Patient/example
                context:
                  location:
                    reference: Location/example
                  careTeam:
                  - reference: Practitioner/example
                start: '2022-03-01T14:00:00Z'
                end: '2022-03-01T15:00:00Z'
                duration: PT1H
                reason:
                  text: Reason for appointment
                note:
                - text: Additional notes about the appointment
          description: '`data`: Appointment details to be created, including date,
            time, and other relevant information. See schema for required fields.'
      example:
        context:
          requestId: abc123
          source: ATHENA
          quorum: true
          notify: true
        data:
          appointment: {}
    ExtractedSchema798:
      type: object
      properties:
        data:
          type: object
          properties:
            context:
              type: object
              properties:
                requestId:
                  type: string
                  example: abc123
                source:
                  type: string
                  example: ATHENA
                quorum:
                  type: boolean
                  example: true
                notify:
                  type: boolean
                  example: true
              example:
                requestId: abc123
                source: ATHENA
                quorum: true
                notify: true
            appointment:
              type: object
              required:
              - resourceType
              - id
              - status
              properties:
                resourceType:
                  type: string
                  example: Appointment
                id:
                  type: string
                meta:
                  type: object
                  properties:
                    versionId:
                      type: string
                    lastUpdated:
                      type: string
                extension:
                  type: array
                  items:
                    type: object
                    properties:
                      url:
                        type: string
                      valueString:
                        type: string
                      valueDateTime:
                        type: string
                      valueInteger:
                        type: integer
                      valueBoolean:
                        type: boolean
                status:
                  type: string
                intent:
                  type: string
                type:
                  type: object
                  properties:
                    coding:
                      type: array
                      items:
                        type: object
                        properties:
                          system:
                            type: string
                          code:
                            type: string
                participant:
                  type: array
                  items:
                    type: object
                    properties:
                      role:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                code:
                                  type: string
                          reference:
                            type: string
                      participantRole:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                code:
                                  type: string
                          reference:
                            type: string
                statusReason:
                  type: object
                  properties:
                    text:
                      type: string
                subject:
                  type: object
                  properties:
                    reference:
                      type: string
                context:
                  type: object
                  properties:
                    location:
                      type: object
                      properties:
                        reference:
                          type: string
                    careTeam:
                      type: array
                      items:
                        type: object
                        properties:
                          reference:
                            type: string
                start:
                  type: string
                end:
                  type: string
                duration:
                  type: string
                reason:
                  type: object
                  properties:
                    text:
                      type: string
                note:
                  type: array
                  items:
                    type: object
                    properties:
                      text:
                        type: string
              example:
                resourceType: Appointment
                id: example
                meta:
                  versionId: '1'
                  lastUpdated: '2022-03-01T12:00:00Z'
                extension:
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.APPOINTMENTCOPAY
                  valueString: '{"amount": "50", "currency": "USD"}'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDDATE
                  valueDateTime: '2022-02-25T09:00:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.COPAY
                  valueString: '50'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.FROZENYN
                  valueString: Y
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.FROZEN
                  valueString: 'true'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.HL7PROVIDERID
                  valueInteger: 123456
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.NATIVEATHENATELEHEALTH
                  valueString: enabled
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.RESCHEDULEDAPPOINTMENTID
                  valueString: resched-123
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.STARTCHECKIN
                  valueDateTime: '2022-03-01T13:50:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.STOPCHECKIN
                  valueDateTime: '2022-03-01T15:10:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.URGENTYN
                  valueString: N
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_STATUS
                  valueString: in-progress
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTERSTATE
                  valueString: active
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIRED
                  valueBoolean: false
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIREDREASON
                  valueString: Manual review
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_ID
                  valueString: enc-98765
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_PREP
                  valueString: prep-details
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.PATIENT_LOCATION_ID
                  valueString: loc-12345
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDBY
                  valueString: staff-001
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDREASONNOSHOW
                  valueString: No show
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDREASONSLOTAVAILABLE
                  valueString: Slot available
                status: scheduled
                intent: proposed
                type:
                  coding:
                  - system: http://terminology.hl7.org/CodeSystem/appointment-type
                    code: consult
                participant:
                - role:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/appointment-participant-role
                      code: patient
                    reference: Patient/example
                  participantRole:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/appointment-participant-role
                      code: provider
                    reference: Practitioner/example
                statusReason:
                  text: Reason for appointment
                subject:
                  reference: Patient/example
                context:
                  location:
                    reference: Location/example
                  careTeam:
                  - reference: Practitioner/example
                start: '2022-03-01T14:00:00Z'
                end: '2022-03-01T15:00:00Z'
                duration: PT1H
                reason:
                  text: Reason for appointment
                note:
                - text: Additional notes about the appointment
          description: '"Appointment update details. Provide updated fields in JSON
            format."'
      example:
        context:
          requestId: abc123
          source: ATHENA
          quorum: true
          notify: true
        data:
          appointment: {}
    response200ofgetinAppointment:
      type: object
      properties:
        data:
          type: object
          properties:
            context:
              type: object
              properties:
                requestId:
                  type: string
                  example: abc123
                source:
                  type: string
                  example: ATHENA
                quorum:
                  type: boolean
                  example: true
                notify:
                  type: boolean
                  example: true
              example:
                requestId: abc123
                source: ATHENA
                quorum: true
                notify: true
            appointment:
              type: object
              required:
              - resourceType
              - id
              - status
              properties:
                resourceType:
                  type: string
                  example: Appointment
                id:
                  type: string
                meta:
                  type: object
                  properties:
                    versionId:
                      type: string
                    lastUpdated:
                      type: string
                extension:
                  type: array
                  items:
                    type: object
                    properties:
                      url:
                        type: string
                      valueString:
                        type: string
                      valueDateTime:
                        type: string
                      valueInteger:
                        type: integer
                      valueBoolean:
                        type: boolean
                status:
                  type: string
                intent:
                  type: string
                type:
                  type: object
                  properties:
                    coding:
                      type: array
                      items:
                        type: object
                        properties:
                          system:
                            type: string
                          code:
                            type: string
                participant:
                  type: array
                  items:
                    type: object
                    properties:
                      role:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                code:
                                  type: string
                          reference:
                            type: string
                      participantRole:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                code:
                                  type: string
                          reference:
                            type: string
                statusReason:
                  type: object
                  properties:
                    text:
                      type: string
                subject:
                  type: object
                  properties:
                    reference:
                      type: string
                context:
                  type: object
                  properties:
                    location:
                      type: object
                      properties:
                        reference:
                          type: string
                    careTeam:
                      type: array
                      items:
                        type: object
                        properties:
                          reference:
                            type: string
                start:
                  type: string
                end:
                  type: string
                duration:
                  type: string
                reason:
                  type: object
                  properties:
                    text:
                      type: string
                note:
                  type: array
                  items:
                    type: object
                    properties:
                      text:
                        type: string
              example:
                resourceType: Appointment
                id: example
                meta:
                  versionId: '1'
                  lastUpdated: '2022-03-01T12:00:00Z'
                extension:
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.APPOINTMENTCOPAY
                  valueString: '{"amount": "50", "currency": "USD"}'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDDATE
                  valueDateTime: '2022-02-25T09:00:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.COPAY
                  valueString: '50'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.FROZENYN
                  valueString: Y
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.FROZEN
                  valueString: 'true'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.HL7PROVIDERID
                  valueInteger: 123456
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.NATIVEATHENATELEHEALTH
                  valueString: enabled
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.RESCHEDULEDAPPOINTMENTID
                  valueString: resched-123
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.STARTCHECKIN
                  valueDateTime: '2022-03-01T13:50:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.STOPCHECKIN
                  valueDateTime: '2022-03-01T15:10:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.URGENTYN
                  valueString: N
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_STATUS
                  valueString: in-progress
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTERSTATE
                  valueString: active
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIRED
                  valueBoolean: false
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIREDREASON
                  valueString: Manual review
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_ID
                  valueString: enc-98765
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_PREP
                  valueString: prep-details
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.PATIENT_LOCATION_ID
                  valueString: loc-12345
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDBY
                  valueString: staff-001
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDREASONNOSHOW
                  valueString: No show
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDREASONSLOTAVAILABLE
                  valueString: Slot available
                status: scheduled
                intent: proposed
                type:
                  coding:
                  - system: http://terminology.hl7.org/CodeSystem/appointment-type
                    code: consult
                participant:
                - role:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/appointment-participant-role
                      code: patient
                    reference: Patient/example
                  participantRole:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/appointment-participant-role
                      code: provider
                    reference: Practitioner/example
                statusReason:
                  text: Reason for appointment
                subject:
                  reference: Patient/example
                context:
                  location:
                    reference: Location/example
                  careTeam:
                  - reference: Practitioner/example
                start: '2022-03-01T14:00:00Z'
                end: '2022-03-01T15:00:00Z'
                duration: PT1H
                reason:
                  text: Reason for appointment
                note:
                - text: Additional notes about the appointment
      example:
        context:
          requestId: abc123
          source: ATHENA
          quorum: true
          notify: true
        data:
          resourceType: Bundle
          type: searchset
          total: 1
          entry:
          - resource:
              appointment:
                resourceType: Appointment
                id: example
                meta:
                  versionId: '1'
                  lastUpdated: '2022-03-01T12:00:00Z'
                extension:
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.APPOINTMENTCOPAY
                  valueString: '{"amount": "50", "currency": "USD"}'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDDATE
                  valueDateTime: '2022-02-25T09:00:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.COPAY
                  valueString: '50'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.FROZENYN
                  valueString: Y
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.FROZEN
                  valueString: 'true'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.HL7PROVIDERID
                  valueInteger: 123456
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.NATIVEATHENATELEHEALTH
                  valueString: enabled
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.RESCHEDULEDAPPOINTMENTID
                  valueString: resched-123
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.STARTCHECKIN
                  valueDateTime: '2022-03-01T13:50:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.STOPCHECKIN
                  valueDateTime: '2022-03-01T15:10:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.URGENTYN
                  valueString: N
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_STATUS
                  valueString: in-progress
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTERSTATE
                  valueString: active
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIRED
                  valueBoolean: false
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIREDREASON
                  valueString: Manual review
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_ID
                  valueString: enc-98765
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_PREP
                  valueString: prep-details
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.PATIENT_LOCATION_ID
                  valueString: loc-12345
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDBY
                  valueString: staff-001
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDREASONNOSHOW
                  valueString: No show
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDREASONSLOTAVAILABLE
                  valueString: Slot available
                status: scheduled
                intent: proposed
                type:
                  coding:
                  - system: http://terminology.hl7.org/CodeSystem/appointment-type
                    code: consult
                participant:
                - role:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/appointment-participant-role
                      code: patient
                    reference: Patient/example
                  participantRole:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/appointment-participant-role
                      code: provider
                    reference: Practitioner/example
                statusReason:
                  text: Reason for appointment
                subject:
                  reference: Patient/example
                context:
                  location:
                    reference: Location/example
                  careTeam:
                  - reference: Practitioner/example
                start: '2022-03-01T14:00:00Z'
                end: '2022-03-01T15:00:00Z'
                duration: PT1H
                reason:
                  text: Reason for appointment
                note:
                - text: Additional notes about the appointment
    error400ofgetinAppointment:
      type: object
      properties:
        statusCode:
          type: integer
          description: HTTP status code for the error.
        message:
          type: string
          description: Error message summary.
        details:
          oneOf:
          - type: string
            description: Additional string details about the error.
          - type: object
            description: Additional object details about the error.
          description: Optional detailed error information.
        status:
          type: string
          description: Error status, typically "error"
      example:
        statusCode: 400
        message: Error message
        status: error
    error401ofgetinAppointment:
      type: object
      properties:
        success:
          type: boolean
          example: false
        code:
          type: integer
          example: 401
        message:
          type: string
          example: Http Exception
    error500ofgetinAppointment:
      type: object
      properties:
        statusCode:
          type: integer
          description: HTTP status code for the error.
        message:
          type: string
          description: Error message summary.
        details:
          oneOf:
          - type: string
            description: Additional string details about the error.
          - type: object
            description: Additional object details about the error.
          description: Optional detailed error information.
        status:
          type: string
          description: Error status, typically "error"
      example:
        statusCode: 400
        message: Error message
        status: error
    response200ofpostinAppointment:
      type: object
      properties:
        data:
          type: object
          properties:
            context:
              type: object
              properties:
                requestId:
                  type: string
                  example: abc123
                source:
                  type: string
                  example: ATHENA
                quorum:
                  type: boolean
                  example: true
                notify:
                  type: boolean
                  example: true
              example:
                requestId: abc123
                source: ATHENA
                quorum: true
                notify: true
            id:
              type: string
              example: Z88.0
            status:
              type: string
              enum:
              - success
              example: success
      example:
        context:
          requestId: abc123
          source: ATHENA
          quorum: true
          notify: true
        data:
          resourceType: Bundle
          type: searchset
          total: 1
          entry:
          - resource:
              id: Z88.0
              status: success
    error400ofpostinAppointment:
      type: object
      properties:
        statusCode:
          type: integer
          description: HTTP status code for the error.
        message:
          type: string
          description: Error message summary.
        details:
          oneOf:
          - type: string
            description: Additional string details about the error.
          - type: object
            description: Additional object details about the error.
          description: Optional detailed error information.
        status:
          type: string
          description: Error status, typically "error"
      example:
        statusCode: 400
        message: Error message
        status: error
    error401ofpostinAppointment:
      type: object
      properties:
        success:
          type: boolean
          example: false
        code:
          type: integer
          example: 401
        message:
          type: string
          example: Http Exception
    error500ofpostinAppointment:
      type: object
      properties:
        statusCode:
          type: integer
          description: HTTP status code for the error.
        message:
          type: string
          description: Error message summary.
        details:
          oneOf:
          - type: string
            description: Additional string details about the error.
          - type: object
            description: Additional object details about the error.
          description: Optional detailed error information.
        status:
          type: string
          description: Error status, typically "error"
      example:
        statusCode: 400
        message: Error message
        status: error
    response200ofgetinAppointmentappointmentid:
      type: object
      properties:
        data:
          type: object
          properties:
            context:
              type: object
              properties:
                requestId:
                  type: string
                  example: abc123
                source:
                  type: string
                  example: ATHENA
                quorum:
                  type: boolean
                  example: true
                notify:
                  type: boolean
                  example: true
              example:
                requestId: abc123
                source: ATHENA
                quorum: true
                notify: true
            appointment:
              type: object
              required:
              - resourceType
              - id
              - status
              properties:
                resourceType:
                  type: string
                  example: Appointment
                id:
                  type: string
                meta:
                  type: object
                  properties:
                    versionId:
                      type: string
                    lastUpdated:
                      type: string
                extension:
                  type: array
                  items:
                    type: object
                    properties:
                      url:
                        type: string
                      valueString:
                        type: string
                      valueDateTime:
                        type: string
                      valueInteger:
                        type: integer
                      valueBoolean:
                        type: boolean
                status:
                  type: string
                intent:
                  type: string
                type:
                  type: object
                  properties:
                    coding:
                      type: array
                      items:
                        type: object
                        properties:
                          system:
                            type: string
                          code:
                            type: string
                participant:
                  type: array
                  items:
                    type: object
                    properties:
                      role:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                code:
                                  type: string
                          reference:
                            type: string
                      participantRole:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                code:
                                  type: string
                          reference:
                            type: string
                statusReason:
                  type: object
                  properties:
                    text:
                      type: string
                subject:
                  type: object
                  properties:
                    reference:
                      type: string
                context:
                  type: object
                  properties:
                    location:
                      type: object
                      properties:
                        reference:
                          type: string
                    careTeam:
                      type: array
                      items:
                        type: object
                        properties:
                          reference:
                            type: string
                start:
                  type: string
                end:
                  type: string
                duration:
                  type: string
                reason:
                  type: object
                  properties:
                    text:
                      type: string
                note:
                  type: array
                  items:
                    type: object
                    properties:
                      text:
                        type: string
              example:
                resourceType: Appointment
                id: example
                meta:
                  versionId: '1'
                  lastUpdated: '2022-03-01T12:00:00Z'
                extension:
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.APPOINTMENTCOPAY
                  valueString: '{"amount": "50", "currency": "USD"}'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDDATE
                  valueDateTime: '2022-02-25T09:00:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.COPAY
                  valueString: '50'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.FROZENYN
                  valueString: Y
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.FROZEN
                  valueString: 'true'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.HL7PROVIDERID
                  valueInteger: 123456
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.NATIVEATHENATELEHEALTH
                  valueString: enabled
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.RESCHEDULEDAPPOINTMENTID
                  valueString: resched-123
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.STARTCHECKIN
                  valueDateTime: '2022-03-01T13:50:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.STOPCHECKIN
                  valueDateTime: '2022-03-01T15:10:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.URGENTYN
                  valueString: N
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_STATUS
                  valueString: in-progress
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTERSTATE
                  valueString: active
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIRED
                  valueBoolean: false
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIREDREASON
                  valueString: Manual review
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_ID
                  valueString: enc-98765
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_PREP
                  valueString: prep-details
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.PATIENT_LOCATION_ID
                  valueString: loc-12345
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDBY
                  valueString: staff-001
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDREASONNOSHOW
                  valueString: No show
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDREASONSLOTAVAILABLE
                  valueString: Slot available
                status: scheduled
                intent: proposed
                type:
                  coding:
                  - system: http://terminology.hl7.org/CodeSystem/appointment-type
                    code: consult
                participant:
                - role:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/appointment-participant-role
                      code: patient
                    reference: Patient/example
                  participantRole:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/appointment-participant-role
                      code: provider
                    reference: Practitioner/example
                statusReason:
                  text: Reason for appointment
                subject:
                  reference: Patient/example
                context:
                  location:
                    reference: Location/example
                  careTeam:
                  - reference: Practitioner/example
                start: '2022-03-01T14:00:00Z'
                end: '2022-03-01T15:00:00Z'
                duration: PT1H
                reason:
                  text: Reason for appointment
                note:
                - text: Additional notes about the appointment
      example:
        context:
          requestId: abc123
          source: ATHENA
          quorum: true
          notify: true
        data:
          resourceType: Bundle
          type: searchset
          total: 1
          entry:
          - resource:
              appointment:
                resourceType: Appointment
                id: example
                meta:
                  versionId: '1'
                  lastUpdated: '2022-03-01T12:00:00Z'
                extension:
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.APPOINTMENTCOPAY
                  valueString: '{"amount": "50", "currency": "USD"}'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDDATE
                  valueDateTime: '2022-02-25T09:00:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.COPAY
                  valueString: '50'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.FROZENYN
                  valueString: Y
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.FROZEN
                  valueString: 'true'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.HL7PROVIDERID
                  valueInteger: 123456
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.NATIVEATHENATELEHEALTH
                  valueString: enabled
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.RESCHEDULEDAPPOINTMENTID
                  valueString: resched-123
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.STARTCHECKIN
                  valueDateTime: '2022-03-01T13:50:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.STOPCHECKIN
                  valueDateTime: '2022-03-01T15:10:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.URGENTYN
                  valueString: N
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_STATUS
                  valueString: in-progress
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTERSTATE
                  valueString: active
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIRED
                  valueBoolean: false
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIREDREASON
                  valueString: Manual review
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_ID
                  valueString: enc-98765
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_PREP
                  valueString: prep-details
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.PATIENT_LOCATION_ID
                  valueString: loc-12345
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDBY
                  valueString: staff-001
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDREASONNOSHOW
                  valueString: No show
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDREASONSLOTAVAILABLE
                  valueString: Slot available
                status: scheduled
                intent: proposed
                type:
                  coding:
                  - system: http://terminology.hl7.org/CodeSystem/appointment-type
                    code: consult
                participant:
                - role:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/appointment-participant-role
                      code: patient
                    reference: Patient/example
                  participantRole:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/appointment-participant-role
                      code: provider
                    reference: Practitioner/example
                statusReason:
                  text: Reason for appointment
                subject:
                  reference: Patient/example
                context:
                  location:
                    reference: Location/example
                  careTeam:
                  - reference: Practitioner/example
                start: '2022-03-01T14:00:00Z'
                end: '2022-03-01T15:00:00Z'
                duration: PT1H
                reason:
                  text: Reason for appointment
                note:
                - text: Additional notes about the appointment
    error400ofgetinAppointmentappointmentid:
      type: object
      properties:
        statusCode:
          type: integer
          description: HTTP status code for the error.
        message:
          type: string
          description: Error message summary.
        details:
          oneOf:
          - type: string
            description: Additional string details about the error.
          - type: object
            description: Additional object details about the error.
          description: Optional detailed error information.
        status:
          type: string
          description: Error status, typically "error"
      example:
        statusCode: 400
        message: Error message
        status: error
    error401ofgetinAppointmentappointmentid:
      type: object
      properties:
        success:
          type: boolean
          example: false
        code:
          type: integer
          example: 401
        message:
          type: string
          example: Http Exception
    error500ofgetinAppointmentappointmentid:
      type: object
      properties:
        statusCode:
          type: integer
          description: HTTP status code for the error.
        message:
          type: string
          description: Error message summary.
        details:
          oneOf:
          - type: string
            description: Additional string details about the error.
          - type: object
            description: Additional object details about the error.
          description: Optional detailed error information.
        status:
          type: string
          description: Error status, typically "error"
      example:
        statusCode: 400
        message: Error message
        status: error
    response200ofputinAppointmentappointmentid:
      type: object
      properties:
        data:
          type: object
          properties:
            context:
              type: object
              properties:
                requestId:
                  type: string
                  example: abc123
                source:
                  type: string
                  example: ATHENA
                quorum:
                  type: boolean
                  example: true
                notify:
                  type: boolean
                  example: true
              example:
                requestId: abc123
                source: ATHENA
                quorum: true
                notify: true
            appointment:
              type: object
              required:
              - resourceType
              - id
              - status
              properties:
                resourceType:
                  type: string
                  example: Appointment
                id:
                  type: string
                meta:
                  type: object
                  properties:
                    versionId:
                      type: string
                    lastUpdated:
                      type: string
                extension:
                  type: array
                  items:
                    type: object
                    properties:
                      url:
                        type: string
                      valueString:
                        type: string
                      valueDateTime:
                        type: string
                      valueInteger:
                        type: integer
                      valueBoolean:
                        type: boolean
                status:
                  type: string
                intent:
                  type: string
                type:
                  type: object
                  properties:
                    coding:
                      type: array
                      items:
                        type: object
                        properties:
                          system:
                            type: string
                          code:
                            type: string
                participant:
                  type: array
                  items:
                    type: object
                    properties:
                      role:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                code:
                                  type: string
                          reference:
                            type: string
                      participantRole:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                code:
                                  type: string
                          reference:
                            type: string
                statusReason:
                  type: object
                  properties:
                    text:
                      type: string
                subject:
                  type: object
                  properties:
                    reference:
                      type: string
                context:
                  type: object
                  properties:
                    location:
                      type: object
                      properties:
                        reference:
                          type: string
                    careTeam:
                      type: array
                      items:
                        type: object
                        properties:
                          reference:
                            type: string
                start:
                  type: string
                end:
                  type: string
                duration:
                  type: string
                reason:
                  type: object
                  properties:
                    text:
                      type: string
                note:
                  type: array
                  items:
                    type: object
                    properties:
                      text:
                        type: string
              example:
                resourceType: Appointment
                id: example
                meta:
                  versionId: '1'
                  lastUpdated: '2022-03-01T12:00:00Z'
                extension:
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.APPOINTMENTCOPAY
                  valueString: '{"amount": "50", "currency": "USD"}'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDDATE
                  valueDateTime: '2022-02-25T09:00:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.COPAY
                  valueString: '50'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.FROZENYN
                  valueString: Y
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.FROZEN
                  valueString: 'true'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.HL7PROVIDERID
                  valueInteger: 123456
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.NATIVEATHENATELEHEALTH
                  valueString: enabled
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.RESCHEDULEDAPPOINTMENTID
                  valueString: resched-123
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.STARTCHECKIN
                  valueDateTime: '2022-03-01T13:50:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.STOPCHECKIN
                  valueDateTime: '2022-03-01T15:10:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.URGENTYN
                  valueString: N
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_STATUS
                  valueString: in-progress
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTERSTATE
                  valueString: active
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIRED
                  valueBoolean: false
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIREDREASON
                  valueString: Manual review
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_ID
                  valueString: enc-98765
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_PREP
                  valueString: prep-details
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.PATIENT_LOCATION_ID
                  valueString: loc-12345
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDBY
                  valueString: staff-001
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDREASONNOSHOW
                  valueString: No show
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDREASONSLOTAVAILABLE
                  valueString: Slot available
                status: scheduled
                intent: proposed
                type:
                  coding:
                  - system: http://terminology.hl7.org/CodeSystem/appointment-type
                    code: consult
                participant:
                - role:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/appointment-participant-role
                      code: patient
                    reference: Patient/example
                  participantRole:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/appointment-participant-role
                      code: provider
                    reference: Practitioner/example
                statusReason:
                  text: Reason for appointment
                subject:
                  reference: Patient/example
                context:
                  location:
                    reference: Location/example
                  careTeam:
                  - reference: Practitioner/example
                start: '2022-03-01T14:00:00Z'
                end: '2022-03-01T15:00:00Z'
                duration: PT1H
                reason:
                  text: Reason for appointment
                note:
                - text: Additional notes about the appointment
      example:
        context:
          requestId: abc123
          source: ATHENA
          quorum: true
          notify: true
        data:
          resourceType: Bundle
          type: searchset
          total: 1
          entry:
          - resource:
              appointment:
                resourceType: Appointment
                id: example
                meta:
                  versionId: '1'
                  lastUpdated: '2022-03-01T12:00:00Z'
                extension:
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.APPOINTMENTCOPAY
                  valueString: '{"amount": "50", "currency": "USD"}'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CANCELLEDDATE
                  valueDateTime: '2022-02-25T09:00:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.COPAY
                  valueString: '50'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.FROZENYN
                  valueString: Y
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.FROZEN
                  valueString: 'true'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.HL7PROVIDERID
                  valueInteger: 123456
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.NATIVEATHENATELEHEALTH
                  valueString: enabled
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.RESCHEDULEDAPPOINTMENTID
                  valueString: resched-123
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.STARTCHECKIN
                  valueDateTime: '2022-03-01T13:50:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.STOPCHECKIN
                  valueDateTime: '2022-03-01T15:10:00Z'
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.URGENTYN
                  valueString: N
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTER_STATUS
                  valueString: in-progress
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.ENCOUNTERSTATE
                  valueString: active
                - url: http://xcaliber-fhir/structureDefinition/TINY_URLS.APPOINTMENT.CHARGEENTRYNOTREQUIRED
                  valueBoolean: false
[...]
