openapi: 3.0.0
info:
  title: Interoperability APIs (FHIR++)
  version: latest
  description: FHIR (Fast Healthcare Interoperability Resources, prounced as Fire)
    is a standard for exchanging healthcare information electronically. It is designed
    to be a modern, flexible, and web-based alternative to older, more cumbersome
    standards like HL7 v2. FHIR uses a RESTful API specification to define how to
    interact with Resources - this means it uses standard HTTP verbs (GET, POST, PUT,
    DELETE). Resources are the fundamental units of data in FHIR; they can represent
    anything from patient demographics to clinical observations to medications.
servers:
- url: https://xchange-sandbox.xcaliberapis.com
- url: https://your.api.server
tags:
- name: Communication
  description: The Communication FHIR resource documents clinical or administrative
    messages between patients, providers, and healthcare systems, supporting care
    coordination, notifications, and patient engagement.
paths:
  /api/v2/Communication:
    get:
      summary: Get a list of Communications
      operationId: getAthenaMessagesV2
      tags:
      - Communication
      - Category-> Inbox
      - Category-> Archieved
      - Category-> Sent
      parameters:
      - &id001
        name: x-source-id
        in: header
        required: true
        schema:
          type: string
        description: Source system identifier.
      - &id002
        name: x-interaction-mode
        in: header
        required: true
        schema:
          type: boolean
        description: Interaction mode flag (true/false).
      - name: based-on
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: based-on'
      - name: category
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: category'
      - name: encounter
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: encounter'
      - name: identifier
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: identifier'
      - name: instantiates-canonical
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: instantiates-canonical'
      - name: instantiates-uri
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: instantiates-uri'
      - name: medium
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: medium'
      - name: part-of
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: part-of'
      - name: patient
        in: query
        required: true
        schema:
          type: string
        description: 'Filter: patient'
      - name: received
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: received'
      - name: recipient
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: recipient'
      - name: sender
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: sender'
      - name: sent
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: sent'
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: status'
      - name: subject
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: subject'
      - name: topic
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: 'Filter: topic'
      - name: departmentId
        in: query
        required: true
        schema:
          type: string
        description: Department identifier.
      responses:
        '400':
          description: Bad request, missing required parameter or invalid category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400ofgetinCommunicationcategorysent'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error401ofgetinCommunicationcategorysent'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error404ofgetinCommunicationcategorysent'
        '500':
          description: Server or upstream error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500ofgetinCommunicationcategorysent'
        '200':
          description: OK
          content:
            application/json:
              examples:
                Response Example:
                  value:
                    resourceType: Bundle
                    type: searchset
                    total: 2
                    entry:
                    - resource:
                        resourceType: Communication
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/timestamp
                          valueString: '2023-10-15T14:30:00Z'
                        - url: http://xcaliber-fhir/structureDefinition/from
                          valueReference:
                            reference: '90210'
                            display: Dr. John Smith
                            extension:
                            - url: http://xcaliber-fhir/structureDefinition/user-name
                              valueString: jsmith
                        - url: http://xcaliber-fhir/structureDefinition/to
                          valueReference:
                            reference: '90211'
                            display: Dr. Jane Doe
                            extension:
                            - url: http://xcaliber-fhir/structureDefinition/user-name
                              valueString: jdoe
                        identifier:
                        - type:
                            text: brand-id
                          value: brand123
                        - type:
                            text: document-id
                          value: doc456
                        subject:
                          reference: Patient/enterprise789
                        category:
                        - coding:
                          - code: message-type-code
                        topic:
                          coding:
                          - display: Message Subject
                        status: unknown
                        payload:
                        - contentString: Message text content
                          extension:
                          - url: http://xcaliber-fhir/structureDefinition/un-read
                            valueString: 'true'
                          - url: http://xcaliber-fhir/structureDefinition/is-reply
                            valueString: 'false'
                          - url: http://xcaliber-fhir/structureDefinition/display-date
                            valueDateTime: '2023-12-01T10:30:00Z'
                          - url: http://xcaliber-fhir/structureDefinition/timestamp
                            valueString: '1701423000'
                          - url: http://xcaliber-fhir/structureDefinition/from
                            valueString: sender@example.com
  /api/v2/Communication/{id}:
    get:
      summary: Get Communication by ID
      operationId: getAthenaMessageByIdV2
      tags:
      - Communication
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: '"Unique identifier of the document to retrieve communication
          for. Required for query."'
      - *id001
      - *id002
      
      responses:
        '400':
          description: Bad request, missing required parameter or not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400ofgetinCommunicationdocumentid'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error401ofgetinCommunicationdocumentid'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error404ofgetinCommunicationdocumentid'
        '500':
          description: Server or upstream error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500ofgetinCommunicationdocumentid'
        '200':
          description: OK
          content:
            application/json:
              examples:
                Response Example:
                  value:
                    resourceType: Communication
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/timestamp
                      valueString: '2023-10-15T14:30:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/from
                      valueReference:
                        reference: '90210'
                        display: Dr. John Smith
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/user-name
                          valueString: jsmith
                    - url: http://xcaliber-fhir/structureDefinition/to
                      valueReference:
                        reference: '90211'
                        display: Dr. Jane Doe
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/user-name
                          valueString: jdoe
                    identifier:
                    - type:
                        text: brand-id
                      value: brand123
                    - type:
                        text: document-id
                      value: doc456
                    subject:
                      reference: Patient/enterprise789
                    category:
                    - coding:
                      - code: message-type-code
                    topic:
                      coding:
                      - display: Message Subject
                    status: unknown
                    payload:
                    - contentString: Message text content
                      extension:
                      - url: http://xcaliber-fhir/structureDefinition/un-read
                        valueString: 'true'
                      - url: http://xcaliber-fhir/structureDefinition/is-reply
                        valueString: 'false'
                      - url: http://xcaliber-fhir/structureDefinition/display-date
                        valueDateTime: '2023-12-01T10:30:00Z'
                      - url: http://xcaliber-fhir/structureDefinition/timestamp
                        valueString: '1701423000'
                      - url: http://xcaliber-fhir/structureDefinition/from
                        valueString: sender@example.com
components:
  schemas:
    response200ofgetinCommunicationcategorysent:
      type: object
      properties:
        context:
          type: object
          properties:
            requestId:
              type: string
              example: 338cf9d66a98583fed38fd98413edfb8
            source:
              type: string
              example: ATHENA
            quorum:
              type: boolean
              example: true
            notify:
              type: boolean
              example: true
          required:
          - requestId
          - source
          - quorum
          - notify
        data:
          type: object
          properties:
            communications:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    example: COMM-1
                  status:
                    type: string
                    example: completed
                  category:
                    type: string
                    example: medication
                  subject:
                    type: string
                    example: Patient/123
                  sent:
                    type: string
                    format: date-time
                    example: '2024-06-14T15:00:00+00:00'
                  payload:
                    type: string
                    example: Message content here.
          required:
          - communications
      required:
      - context
      - data
      example:
        context:
          requestId: 338cf9d66a98583fed38fd98413edfb8
          source: ATHENA
          quorum: true
          notify: true
        data:
          resourceType: Bundle
          type: searchset
          total: 1
          entry:
          - resource:
              communications:
              - id: COMM-1
                status: completed
                category: medication
                subject: Patient/123
                sent: '2024-06-14T15:00:00+00:00'
                payload: Message content here.
    error400ofgetinCommunicationcategorysent:
      type: object
      description: Error response structure as per implementation
      properties:
        statusCode:
          type: integer
          description: HTTP status code
          example: 400
        message:
          type: string
          description: Error message
          example: Missing patient id
        details:
          type: string
          description: Additional error details (optional)
          example: patient id required
      required:
      - statusCode
      - message
    error401ofgetinCommunicationcategorysent:
      type: object
      properties:
        success:
          type: boolean
          example: false
        code:
          type: integer
          example: 401
        message:
          type: string
          example: Http Exception
      required:
      - success
      - code
      - message
      example:
        success: false
        code: 401
        message: Http Exception
    error404ofgetinCommunicationcategorysent:
      type: object
      properties:
        statusCode:
          type: integer
          example: 404
        message:
          type: string
          example: Not found
        details:
          type: string
          example: Communication not found
      required:
      - statusCode
      - message
      - details
      example:
        statusCode: 404
        message: Not found
        details: Communication not found
    error500ofgetinCommunicationcategorysent:
      type: object
      properties:
        statusCode:
          type: integer
          example: 500
        message:
          type: string
          example: Internal server error
        details:
          type: string
          example: ''
      required:
      - statusCode
      - message
      example:
        statusCode: 500
        message: Internal server error
        details: ''
    response200ofgetinCommunicationdocumentid:
      type: object
      properties:
        context:
          type: object
          properties:
            requestId:
              type: string
              example: 338cf9d66a98583fed38fd98413edfb8
            source:
              type: string
              example: ATHENA
            quorum:
              type: boolean
              example: true
            notify:
              type: boolean
              example: true
          required:
          - requestId
          - source
          - quorum
          - notify
        data:
          type: object
          properties:
            communications:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    example: COMM-1
                  status:
                    type: string
                    example: completed
                  category:
                    type: string
                    example: medication
                  subject:
                    type: string
                    example: Patient/123
                  sent:
                    type: string
                    format: date-time
                    example: '2024-06-14T15:00:00+00:00'
                  payload:
                    type: string
                    example: Message content here.
          required:
          - communications
      required:
      - context
      - data
      example:
        context:
          requestId: 338cf9d66a98583fed38fd98413edfb8
          source: ATHENA
          quorum: true
          notify: true
        data:
          resourceType: Bundle
          type: searchset
          total: 1
          entry:
          - resource:
              communications:
              - id: COMM-1
                status: completed
                category: medication
                subject: Patient/123
                sent: '2024-06-14T15:00:00+00:00'
                payload: Message content here.
    error400ofgetinCommunicationdocumentid:
      type: object
      description: Error response structure as per implementation
      properties:
        statusCode:
          type: integer
          description: HTTP status code
          example: 400
        message:
          type: string
          description: Error message
          example: Missing patient id
        details:
          type: string
          description: Additional error details (optional)
          example: patient id required
      required:
      - statusCode
      - message
    error401ofgetinCommunicationdocumentid:
      type: object
      properties:
        success:
          type: boolean
          example: false
        code:
          type: integer
          example: 401
        message:
          type: string
          example: Http Exception
      required:
      - success
      - code
      - message
      example:
        success: false
        code: 401
        message: Http Exception
    error404ofgetinCommunicationdocumentid:
      type: object
      properties:
        statusCode:
          type: integer
          example: 404
        message:
          type: string
          example: Not found
        details:
          type: string
          example: Communication not found
      required:
      - statusCode
      - message
      - details
      example:
        statusCode: 404
        message: Not found
        details: Communication not found
    error500ofgetinCommunicationdocumentid:
      type: object
      properties:
        statusCode:
          type: integer
          example: 500
        message:
          type: string
          example: Internal server error
        details:
          type: string
          example: ''
      required:
      - statusCode
      - message
      example:
        statusCode: 500
        message: Internal server error
        details: ''
  securitySchemes:
    Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
- Auth: []
