openapi: 3.0.0
info:
  title: Interoperability APIs (FHIR++)
  version: latest
  description: FHIR (Fast Healthcare Interoperability Resources, prounced as Fire)
    is a standard for exchanging healthcare information electronically. It is designed
    to be a modern, flexible, and web-based alternative to older, more cumbersome
    standards like HL7 v2. FHIR uses a RESTful API specification to define how to
    interact with Resources - this means it uses standard HTTP verbs (GET, POST, PUT,
    DELETE). Resources are the fundamental units of data in FHIR; they can represent
    anything from patient demographics to clinical observations to medications.
servers:
- url: https://xchange-sandbox.xcaliberapis.com
- url: https://your.api.server
tags:
- name: Coverage
  description: The Coverage FHIR resource represents insurance and payment information
    for a patient, including payor, coverage status, and benefit details.
paths:
  /api/v2/Coverage:
    get:
      summary: Get Coverage
      operationId: getAthenaCoverageV2
      tags:
      - Coverage
      parameters:
      - &id001
        name: x-source-id
        in: header
        required: true
        schema:
          type: string
        description: Source system identifier.
      - &id002
        name: x-interaction-mode
        in: header
        required: true
        schema:
          type: boolean
        description: Interaction mode flag (true/false).
      - name: beneficiary
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: beneficiary'
      - name: class-type
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: class-type'
      - name: class-value
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: class-value'
      - name: dependent
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: dependent'
      - name: identifier
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: identifier'
      - name: patient
        in: query
        required: true
        schema:
          type: string
        description: 'Filter: patient'
      - name: payor
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: payor'
      - name: policy-holder
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: policy-holder'
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: status'
      - name: subscriber
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: subscriber'
      - name: type
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: type'
      - name: departmentId
        in: query
        required: true
        schema:
          type: string
        description: Department identifier.
      responses:
        '400':
          description: Bad Request (Missing Patient or Practice ID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400ofgetinCoverage'
              example:
                statusCode: 400
                message: Missing patientId
                details: Patient ID is required
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error401ofgetinCoverage'
              example:
                success: false
                code: 401
                message: Http Exception
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500ofgetinCoverage'
              example:
                statusCode: 500
                message: Internal server error
                details: {}
        '200':
          description: OK
          content:
            application/json:
              examples:
                Response Example:
                  value:
                    resourceType: Coverage
                    extension:
                    - url: TINY_URLS.COVERAGE.DEPARTMENTID
                      valueInteger: 123
                    - url: TINY_URLS.COVERAGE.INSURANCEPHONE
                      valueString: 555-123-4567
                    - url: TINY_URLS.COVERAGE.INSUREDENTITYTYPEID
                      valueString: '1'
                    - url: TINY_URLS.COVERAGE.SEQUENCENUMBER
                      valueInteger: 1
                    - url: TINY_URLS.COVERAGE.UPDATEAPPOINTMENTS
                      valueBoolean: true
                    - url: TINY_URLS.COVERAGE.VALIDATEINSURANCEIDNUMBER
                      valueBoolean: true
                    - url: TINY_URLS.COVERAGE.COINSURANCEPERCENT
                      valueInteger: 20
                    - url: TINY_URLS.COVERAGE.NOTE
                      valueString: Insurance coverage note
                    - url: TINY_URLS.COVERAGE.NOTE
                      valueString: Patient has active coverage
                    - url: TINY_URLS.COVERAGE.COPAYS
                      extension:
                      - url: TINY_URLS.COVERAGE.COPAY
                        valueCode:
                        - copayamount: '25.00'
                          copaytype: office_visit
                    - url: TINY_URLS.COVERAGE.INSUREDREFERRINGPROVIDER
                      valueString: Dr. Smith
                    - url: TINY_URLS.COVERAGE.INSUREDIDNUMBER
                      valueString: INS123456789
                    - url: TINY_URLS.COVERAGE.INSURANCEPRODUCTTYPE
                      valueString: HMO
                    - url: TINY_URLS.COVERAGE.ELIGIBILITYLASTCHECKED
                      valueDate: '2024-01-15'
                    - url: TINY_URLS.COVERAGE.ELIGIBILITYMESSAGE
                      valueString: Coverage verified and active
                    - url: TINY_URLS.COVERAGE.ELIGIBILITYSTATUS
                      valueString: active
                    - url: TINY_URLS.COVERAGE.ELIGIBILITYREASON
                      valueString: eligible
                    - url: TINY_URLS.COVERAGE.INSURANCEPOLICYHOLDERADDRESS
                      valueAddress:
                        state: CA
                        postalCode: '90210'
                        country: US
                        line:
                        - 123 Main St
                        - Apt 4B
                    - url: TINY_URLS.COVERAGE.INS
                      valueHumanName:
                        given:
                        - John
                        - Michael
                        family: Smith
                        suffix: Jr
                    - url: http://tiny.url/coverage/ansi271
                      valueString: 271response
                    policyHolder:
                      extension:
                      - url: http://hl7.org/fhir/sid/us-ssn
                        valueCode: '123456789'
                      - url: http://hl7.org/fhir/us/core/StructureDefinition/us-core-birthsex
                        valueCode: M
                      - url: TINY_URLS.COVERAGE.INSURANCEPOLICYHOLDERCOUNTRY
                        valueString: US
                      - url: TINY_URLS.COVERAGE.INSURANCEPOLICYHOLDERDOB
                        valueDate: '1980-01-01'
                      - url: TINY_URLS.COVERAGE.INSURANCEPOLICYHOLDERNAME
                        valueHumanName:
                          family: Doe
                      display: John Doe
                      identifier: {}
                      reference: Patient/123
                    beneficiary:
                      reference: Patient/123
                      id: '123'
                    id: INS456
                    status: active
                    identifier:
                    - system: insurance-id-number
                      value: ABC123456
                    - system: insurance-package-id
                      value: '789'
                    period:
                      start: '2024-01-01'
                      end: '2024-12-31'
                      extension:
                      - url: http://tiny.url/coverage/cancelled
                        valueDateTime: '2024-06-15T00:00:00Z'
                    relationship:
                      id: '1'
                      text: Self
                    class:
                    - name: Premium Health Plan
                      type:
                        text: HMO
                      value: POL789123
                    costToBeneficiary:
                    - valueMoney:
                        value: 25.0
                      type:
                        text: Office Visit
                    - valueMoney:
                        value: 25.0
                      type:
                        text: copay
                    type:
                      coding:
                      - system: athena
                        display: commercial
                    contained:
                    - resourceType: Media
                      type:
                        coding:
                        - code: insurance-document
                      content:
                        id: insurance-image
                        data: base64encodeddata
    post:
      summary: Create Coverage
      operationId: createCoverageInAthena
      tags:
      - Coverage
      responses:
        '201':
          description: Coverage resource created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response201ofpostinCoverage'
              example:
                resourceType: Coverage
                id: '12345'
                extension:
                - url: http://example.org/fhir/StructureDefinition/department-id
                  valueInteger: 101
                - url: http://example.org/fhir/StructureDefinition/insurance-phone
                  valueString: 555-1234
                - url: http://example.org/fhir/StructureDefinition/insured-entity-type-id
                  valueString: entity-type-1
                - url: http://example.org/fhir/StructureDefinition/sequence-number
                  valueInteger: 1
                - url: http://example.org/fhir/StructureDefinition/update-appointments
                  valueBoolean: true
                - url: http://example.org/fhir/StructureDefinition/validate-insurance-id-number
                  valueBoolean: false
                - url: http://example.org/fhir/StructureDefinition/insured-id-number
                  valueString: ID123456789
                identifier:
                - system: insurance-id-number
                  value: INS123456
                - system: insurance-package-id
                  value: PKG123456
                policyHolder:
                  display: John Doe
                  extension:
                  - url: http://example.org/fhir/StructureDefinition/policy-holder/name
                    valueHumanName:
                      given:
                      - John
                      - A
                      family: Doe
                      suffix:
                      - Jr.
                  - url: http://example.org/fhir/StructureDefinition/policy-holder/country
                    valueString: USA
                  - url: http://example.org/fhir/StructureDefinition/policy-holder/dob
                    valueString: '1980-01-01'
                  - url: http://example.org/fhir/StructureDefinition/ssn
                    valueCode: 123-45-6789
                  - url: http://example.org/fhir/StructureDefinition/birthsex
                    valueCode: M
                period:
                  start: '2023-01-01'
                  end: '2024-01-01'
                relationship:
                  id: self
                  text: Self
                class:
                - name: Gold Plan
                  value: PN123456
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400ofpostinCoverage'
              example:
                statusCode: 400
                message: Missing patientId
                details: Patient ID is required
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error401ofpostinCoverage'
              example:
                success: false
                code: 401
                message: Http Exception
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500ofpostinCoverage'
              example:
                statusCode: 500
                message: Internal server error
                details: {}
        '202':
          description: Accepted
          content:
            application/json:
              examples:
                Accepted:
                  value:
                    message: response is being getting generated.
      parameters:
      - *id001
      - *id002
      - name: patient
        in: query
        required: true
        schema:
          type: string
        description: 'Filter: patient'
      - name: department-id
        in: query
        required: true
        schema:
          type: string
        description: 'Filter: patient'
      requestBody:
        required: true
        content:
          application/json:
            examples:
              Request Example:
                value:
                  resourceType: Coverage
                  id: INS456
                  identifier:
                  - system: insurance-id-number
                    value: ABC123456
                  - system: insurance-package-id
                    value: '789'
                  policyHolder:
                    display: John Doe
                    extension:
                    - url: http://hl7.org/fhir/us/core/StructureDefinition/us-core-birthsex
                      valueCode: M
                    - url: TINY_URLS.COVERAGE.INSURANCEPOLICYHOLDERCOUNTRY
                      valueString: US
                    - url: TINY_URLS.COVERAGE.INSURANCEPOLICYHOLDERDOB
                      valueDate: '1980-01-01'
                    - url: TINY_URLS.COVERAGE.INSURANCEPOLICYHOLDERNAME
                      valueHumanName:
                        given:
                        - John
                        - Michael
                        family: Doe
                        suffix: Jr
                    - url: TINY_URLS.COVERAGE.INSURANCEPOLICYHOLDERADDRESS
                      valueAddress:
                        line:
                        - 123 Main St
                        - Apt 4B
                        state: CA
                        country: US
                        postalCode: '90210'
                    - url: http://hl7.org/fhir/sid/us-ssn
                      valueCode: '123456789'
                  period:
                    start: '2024-01-01'
                    end: '2024-12-31'
                  relationship:
                    id: '1'
                    text: Self
                  class:
                  - name: Premium Health Plan
                    value: POL789123
                  extension:
                  - url: TINY_URLS.COVERAGE.DEPARTMENTID
                    valueInteger: 123
                  - url: TINY_URLS.COVERAGE.INSUREDENTITYTYPEID
                    valueString: '1'
                  - url: TINY_URLS.COVERAGE.UPDATEAPPOINTMENTS
                    valueBoolean: true
                  - url: TINY_URLS.COVERAGE.VALIDATEINSURANCEIDNUMBER
                    valueBoolean: true
                  - url: TINY_URLS.COVERAGE.SEQUENCENUMBER
                    valueInteger: 1
                  - url: TINY_URLS.COVERAGE.INSURANCEPHONE
                    valueString: 555-123-4567
                  - url: TINY_URLS.COVERAGE.INSUREDIDNUMBER
                    valueString: INS123456789
  /api/v2/Coverage/{coverage-id}:
    get:
      summary: Get Coverage by ID
      operationId: getAthenaCoverageByIdV2
      tags:
      - Coverage
      parameters:
      - name: coverage-id
        in: path
        required: true
        schema:
          type: string
        description: '"Unique identifier of the coverage resource to retrieve. Required
          for fetching a specific coverage by ID."'
      - *id001
      - *id002
      
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error401ofgetinCoveragecoverageid'
              example:
                success: false
                code: 401
                message: Http Exception
        '500':
          description: Not Found or Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500ofgetinCoveragecoverageid'
              example:
                statusCode: 500
                message: Internal server error
                details: {}
        '200':
          description: OK
          content:
            application/json:
              examples:
                Response Example:
                  value:
                    resourceType: Coverage
                    extension:
                    - url: TINY_URLS.COVERAGE.DEPARTMENTID
                      valueInteger: 123
                    - url: TINY_URLS.COVERAGE.INSURANCEPHONE
                      valueString: 555-123-4567
                    - url: TINY_URLS.COVERAGE.INSUREDENTITYTYPEID
                      valueString: '1'
                    - url: TINY_URLS.COVERAGE.SEQUENCENUMBER
                      valueInteger: 1
                    - url: TINY_URLS.COVERAGE.UPDATEAPPOINTMENTS
                      valueBoolean: true
                    - url: TINY_URLS.COVERAGE.VALIDATEINSURANCEIDNUMBER
                      valueBoolean: true
                    - url: TINY_URLS.COVERAGE.COINSURANCEPERCENT
                      valueInteger: 20
                    - url: TINY_URLS.COVERAGE.NOTE
                      valueString: Insurance coverage note
                    - url: TINY_URLS.COVERAGE.NOTE
                      valueString: Patient has active coverage
                    - url: TINY_URLS.COVERAGE.COPAYS
                      extension:
                      - url: TINY_URLS.COVERAGE.COPAY
                        valueCode:
                        - copayamount: '25.00'
                          copaytype: office_visit
                    - url: TINY_URLS.COVERAGE.INSUREDREFERRINGPROVIDER
                      valueString: Dr. Smith
                    - url: TINY_URLS.COVERAGE.INSUREDIDNUMBER
                      valueString: INS123456789
                    - url: TINY_URLS.COVERAGE.INSURANCEPRODUCTTYPE
                      valueString: HMO
                    - url: TINY_URLS.COVERAGE.ELIGIBILITYLASTCHECKED
                      valueDate: '2024-01-15'
                    - url: TINY_URLS.COVERAGE.ELIGIBILITYMESSAGE
                      valueString: Coverage verified and active
                    - url: TINY_URLS.COVERAGE.ELIGIBILITYSTATUS
                      valueString: active
                    - url: TINY_URLS.COVERAGE.ELIGIBILITYREASON
                      valueString: eligible
                    - url: TINY_URLS.COVERAGE.INSURANCEPOLICYHOLDERADDRESS
                      valueAddress:
                        state: CA
                        postalCode: '90210'
                        country: US
                        line:
                        - 123 Main St
                        - Apt 4B
                    - url: TINY_URLS.COVERAGE.INS
                      valueHumanName:
                        given:
                        - John
                        - Michael
                        family: Smith
                        suffix: Jr
                    - url: http://tiny.url/coverage/ansi271
                      valueString: 271response
                    policyHolder:
                      extension:
                      - url: http://hl7.org/fhir/sid/us-ssn
                        valueCode: '123456789'
                      - url: http://hl7.org/fhir/us/core/StructureDefinition/us-core-birthsex
                        valueCode: M
                      - url: TINY_URLS.COVERAGE.INSURANCEPOLICYHOLDERCOUNTRY
                        valueString: US
                      - url: TINY_URLS.COVERAGE.INSURANCEPOLICYHOLDERDOB
                        valueDate: '1980-01-01'
                      - url: TINY_URLS.COVERAGE.INSURANCEPOLICYHOLDERNAME
                        valueHumanName:
                          family: Doe
                      display: John Doe
                      identifier: {}
                      reference: Patient/123
                    beneficiary:
                      reference: Patient/123
                      id: '123'
                    id: INS456
                    status: active
                    identifier:
                    - system: insurance-id-number
                      value: ABC123456
                    - system: insurance-package-id
                      value: '789'
                    period:
                      start: '2024-01-01'
                      end: '2024-12-31'
                      extension:
                      - url: http://tiny.url/coverage/cancelled
                        valueDateTime: '2024-06-15T00:00:00Z'
                    relationship:
                      id: '1'
                      text: Self
                    class:
                    - name: Premium Health Plan
                      type:
                        text: HMO
                      value: POL789123
                    costToBeneficiary:
                    - valueMoney:
                        value: 25.0
                      type:
                        text: Office Visit
                    - valueMoney:
                        value: 25.0
                      type:
                        text: copay
                    type:
                      coding:
                      - system: athena
                        display: commercial
                    contained:
                    - resourceType: Media
                      type:
                        coding:
                        - code: insurance-document
                      content:
                        id: insurance-image
                        data: base64encodeddata
    put:
      summary: Update Coverage
      operationId: updateCoverageInAthena
      tags:
      - Coverage
      parameters:
      - name: coverage-id
        in: path
        required: true
        schema:
          type: string
        description: '"Unique identifier of the coverage resource to update.

          Format: string"'
      - *id001
      - *id002
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400ofputinCoveragecoverageid'
              example:
                statusCode: 400
                message: Missing patientId
                details: Patient ID is required
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error401ofputinCoveragecoverageid'
              example:
                success: false
                code: 401
                message: Http Exception
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500ofputinCoveragecoverageid'
              example:
                statusCode: 500
                message: Internal server error
                details: {}
        '202':
          description: Accepted
          content:
            application/json:
              examples:
                Accepted:
                  value:
                    message: response is being getting generated.
      requestBody:
        required: true
        content:
          application/json:
            examples:
              Request Example:
                value:
                  resourceType: Coverage
                  id: INS456
                  identifier:
                  - system: insurance-id-number
                    value: ABC123456
                  - system: insurance-package-id
                    value: '789'
                  extension:
                  - url: TINY_URLS.COVERAGE.DEPARTMENTID
                    valueInteger: 123
                  - url: TINY_URLS.COVERAGE.INSUREDENTITYTYPEID
                    valueString: '1'
                  - url: TINY_URLS.COVERAGE.UPDATEAPPOINTMENTS
                    valueBoolean: true
                  - url: TINY_URLS.COVERAGE.VALIDATEINSURANCEIDNUMBER
                    valueBoolean: true
                  - url: TINY_URLS.COVERAGE.SEQUENCENUMBER
                    valueInteger: 1
                  - url: TINY_URLS.COVERAGE.INSURANCEPHONE
                    valueString: 555-123-4567
                  - url: TINY_URLS.COVERAGE.INSUREDIDNUMBER
                    valueString: INS123456789
                  - url: TINY_URLS.COVERAGE.NEWSEQUENCENUMBER
                    valueInteger: 2
                  policyHolder:
                    display: John Doe
                    extension:
                    - url: TINY_URLS.COVERAGE.INSURANCEPOLICYHOLDERADDRESS
                      valueAddress:
                        line:
                        - 123 Main St
                        - Apt 4B
                        state: CA
                        postalCode: '90210'
                        country: US
                    - url: http://hl7.org/fhir/sid/us-ssn
                      valueCode: '123456789'
                    - url: http://hl7.org/fhir/us/core/StructureDefinition/us-core-birthsex
                      valueCode: M
                    - url: TINY_URLS.COVERAGE.INSURANCEPOLICYHOLDERCOUNTRY
                      valueString: US
                    - url: TINY_URLS.COVERAGE.INSURANCEPOLICYHOLDERDOB
                      valueDate: '1980-01-01'
                    - url: TINY_URLS.COVERAGE.INSURANCEPOLICYHOLDERNAME
                      valueHumanName:
                        given:
                        - John
                        - Michael
                        family: Doe
                        suffix: Jr
                  period:
                    start: '2024-01-01'
                    end: '2024-12-31'
                  relationship:
                    id: '1'
                    text: Self
                  class:
                  - name: Premium Health Plan
                    value: POL789123
    delete:
      summary: Delete Coverage
      operationId: deleteCoverageInAthena
      tags:
      - Coverage
      parameters:
      - name: coverage-id
        in: path
        required: true
        schema:
          type: string
        description: '"Unique identifier of the coverage to delete. Required for deletion."'
      - *id001
      - *id002
      responses:
        '200':
          description: Successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response200ofdeleteinCoveragecoverageid'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400ofdeleteinCoveragecoverageid'
              example:
                statusCode: 400
                message: Missing patientId
                details: Patient ID is required
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error401ofdeleteinCoveragecoverageid'
              example:
                success: false
                code: 401
                message: Http Exception
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500ofdeleteinCoveragecoverageid'
              example:
                statusCode: 500
                message: Internal server error
                details: {}
components:
  schemas:
    ExtractedSchema839:
      type: object
      properties: {}
      example:
        context:
          requestId: abc123
          source: ATHENA
          quorum: true
          notify: true
        data:
          resource:
            context:
              requestId: abc123
              source: ATHENA
              quorum: true
              notify: true
            data:
              resourceType: Bundle
              type: searchset
              total: 1
              entry:
              - resource:
                  resourceType: Coverage
                  id: example-coverage
                  meta:
                    versionId: '1'
                    lastUpdated: '2022-01-01T12:00:00Z'
                  identifier:
                  - use: usual
                    system: urn:oid:2.16.840.1.113883.4.213.1234
                    value: '1234567890'
                  type:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/coverage-type
                      code: individual
                      display: Individual
                  status: active
                  subscriber:
                    reference: Patient/example-patient
                  issuer:
                    display: Example Insurance Company
                    identifier:
                      system: urn:oid:2.16.840.1.113883.4.213.1234
                      value: '1234567890'
                  coverageEffectivePeriod:
                    startDate: '2022-01-01'
                    endDate: '2023-12-31'
                  benefit:
                    benefitBalance:
                      valueQuantity:
                        value: 5000
                        unitCode: USD
                      valueDate: '2022-01-01'
                    benefitPeriod:
                      startDate: '2022-01-01'
                      endDate: '2023-12-31'
                    maxOutOfPocket:
                      valueQuantity:
                        value: 1000
                        unitCode: USD
                    network:
                      reference: Practitioner/example-doctor
                  extension:
                  - url: http://xcaliber-fhir/structureDefinition/departmentid-url
                    valueInteger: 123
                  - url: http://xcaliber-fhir/structureDefinition/insurancephone-url
                    valueString: '18005551234'
                  - url: http://xcaliber-fhir/structureDefinition/insuredentitytypeid-url
                    valueString: typeid
                  - url: http://xcaliber-fhir/structureDefinition/sequencenumber-url
                    valueInteger: 1
                  - url: http://xcaliber-fhir/structureDefinition/updateappointments-url
                    valueBoolean: true
                  - url: http://xcaliber-fhir/structureDefinition/validateinsuranceidnumber-url
                    valueBoolean: false
                  - url: http://xcaliber-fhir/structureDefinition/coinsurancepercent-url
                    valueInteger: 20
                  - url: http://xcaliber-fhir/structureDefinition/note-url
                    valueString: Example note
                  - url: http://xcaliber-fhir/structureDefinition/copays-url
                    extension:
                    - url: copay-url
                      valueCode:
                      - copayamount: 30
                        copaytype: specialist
                  - url: http://xcaliber-fhir/structureDefinition/insuredreferringprovider-url
                    valueString: Dr. Smith
                  - url: http://xcaliber-fhir/structureDefinition/insuredidnumber-url
                    valueString: INS-123456
                  - url: http://xcaliber-fhir/structureDefinition/insuranceproducttype-url
                    valueString: HMO
                  - url: http://xcaliber-fhir/structureDefinition/eligibilitylastchecked-url
                    valueDate: '2022-11-01'
                  - url: http://xcaliber-fhir/structureDefinition/eligibilitymessage-url
                    valueString: Eligible
                  - url: http://xcaliber-fhir/structureDefinition/eligibilitystatus-url
                    valueString: active
                  - url: http://xcaliber-fhir/structureDefinition/eligibilityreason-url
                    valueString: Initial check
                  - url: http://xcaliber-fhir/structureDefinition/ansi271-url
                    valueString: ANSI DATA
                  - url: http://xcaliber-fhir/structureDefinition/dateofservice-url
                    valueDate: '2022-10-01'
                  - url: http://xcaliber-fhir/structureDefinition/lastcheckdate-url
                    valueDate: '2022-10-31'
                  policyHolder:
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/us-ssn
                      valueCode: 123-45-6789
                    - url: http://xcaliber-fhir/structureDefinition/us-core-birthsex
                      valueCode: M
                    - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholdercountry-url
                      valueString: US
                    - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholderdob-url
                      valueDate: '1980-01-01'
                    - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholderaddress-url
                      valueAddress:
                        line:
                        - 123 Main St
                        - Apt 1
                        city: Sample City
                        state: CA
                        postalCode: '12345'
                        country: US
                    - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholdername-url
                      valueHumanName:
                        given:
                        - John
                        - Q
                        family: Public
                        suffix: Jr
                  period:
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/cancelled-url
                      valueDateTime: '2023-01-01T00:00:00Z'
    ExtractedSchema853:
      type: object
      properties: {}
      example:
        context:
          requestId: abc123
          source: ATHENA
          quorum: true
          notify: true
        data:
          resource:
            context:
              requestId: abc123
              source: ATHENA
              quorum: true
              notify: true
            data:
              resourceType: Bundle
              type: searchset
              total: 1
              entry:
              - resource:
                  resourceType: Coverage
                  id: example-coverage
                  meta:
                    versionId: '1'
                    lastUpdated: '2022-01-01T12:00:00Z'
                  identifier:
                  - use: usual
                    system: urn:oid:2.16.840.1.113883.4.213.1234
                    value: '1234567890'
                  type:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/coverage-type
                      code: individual
                      display: Individual
                  status: active
                  subscriber:
                    reference: Patient/example-patient
                  issuer:
                    display: Example Insurance Company
                    identifier:
                      system: urn:oid:2.16.840.1.113883.4.213.1234
                      value: '1234567890'
                  coverageEffectivePeriod:
                    startDate: '2022-01-01'
                    endDate: '2023-12-31'
                  benefit:
                    benefitBalance:
                      valueQuantity:
                        value: 5000
                        unitCode: USD
                      valueDate: '2022-01-01'
                    benefitPeriod:
                      startDate: '2022-01-01'
                      endDate: '2023-12-31'
                    maxOutOfPocket:
                      valueQuantity:
                        value: 1000
                        unitCode: USD
                    network:
                      reference: Practitioner/example-doctor
                  extension:
                  - url: http://xcaliber-fhir/structureDefinition/departmentid-url
                    valueInteger: 123
                  - url: http://xcaliber-fhir/structureDefinition/insurancephone-url
                    valueString: '18005551234'
                  - url: http://xcaliber-fhir/structureDefinition/insuredentitytypeid-url
                    valueString: typeid
                  - url: http://xcaliber-fhir/structureDefinition/sequencenumber-url
                    valueInteger: 1
                  - url: http://xcaliber-fhir/structureDefinition/updateappointments-url
                    valueBoolean: true
                  - url: http://xcaliber-fhir/structureDefinition/validateinsuranceidnumber-url
                    valueBoolean: false
                  - url: http://xcaliber-fhir/structureDefinition/coinsurancepercent-url
                    valueInteger: 20
                  - url: http://xcaliber-fhir/structureDefinition/note-url
                    valueString: Example note
                  - url: http://xcaliber-fhir/structureDefinition/copays-url
                    extension:
                    - url: copay-url
                      valueCode:
                      - copayamount: 30
                        copaytype: specialist
                  - url: http://xcaliber-fhir/structureDefinition/insuredreferringprovider-url
                    valueString: Dr. Smith
                  - url: http://xcaliber-fhir/structureDefinition/insuredidnumber-url
                    valueString: INS-123456
                  - url: http://xcaliber-fhir/structureDefinition/insuranceproducttype-url
                    valueString: HMO
                  - url: http://xcaliber-fhir/structureDefinition/eligibilitylastchecked-url
                    valueDate: '2022-11-01'
                  - url: http://xcaliber-fhir/structureDefinition/eligibilitymessage-url
                    valueString: Eligible
                  - url: http://xcaliber-fhir/structureDefinition/eligibilitystatus-url
                    valueString: active
                  - url: http://xcaliber-fhir/structureDefinition/eligibilityreason-url
                    valueString: Initial check
                  - url: http://xcaliber-fhir/structureDefinition/ansi271-url
                    valueString: ANSI DATA
                  - url: http://xcaliber-fhir/structureDefinition/dateofservice-url
                    valueDate: '2022-10-01'
                  - url: http://xcaliber-fhir/structureDefinition/lastcheckdate-url
                    valueDate: '2022-10-31'
                  policyHolder:
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/us-ssn
                      valueCode: 123-45-6789
                    - url: http://xcaliber-fhir/structureDefinition/us-core-birthsex
                      valueCode: M
                    - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholdercountry-url
                      valueString: US
                    - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholderdob-url
                      valueDate: '1980-01-01'
                    - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholderaddress-url
                      valueAddress:
                        line:
                        - 123 Main St
                        - Apt 1
                        city: Sample City
                        state: CA
                        postalCode: '12345'
                        country: US
                    - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholdername-url
                      valueHumanName:
                        given:
                        - John
                        - Q
                        family: Public
                        suffix: Jr
                  period:
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/cancelled-url
                      valueDateTime: '2023-01-01T00:00:00Z'
    response200ofgetinCoverage:
      type: object
      properties: {}
      example:
        context:
          requestId: abc123
          source: ATHENA
          quorum: true
          notify: true
        data:
          resourceType: Bundle
          type: searchset
          total: 1
          entry:
          - resource:
              context:
                requestId: abc123
                source: ATHENA
                quorum: true
                notify: true
              data:
                resourceType: Bundle
                type: searchset
                total: 1
                entry:
                - resource:
                    resourceType: Coverage
                    id: example-coverage
                    meta:
                      versionId: '1'
                      lastUpdated: '2022-01-01T12:00:00Z'
                    identifier:
                    - use: usual
                      system: urn:oid:2.16.840.1.113883.4.213.1234
                      value: '1234567890'
                    type:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/coverage-type
                        code: individual
                        display: Individual
                    status: active
                    subscriber:
                      reference: Patient/example-patient
                    issuer:
                      display: Example Insurance Company
                      identifier:
                        system: urn:oid:2.16.840.1.113883.4.213.1234
                        value: '1234567890'
                    coverageEffectivePeriod:
                      startDate: '2022-01-01'
                      endDate: '2023-12-31'
                    benefit:
                      benefitBalance:
                        valueQuantity:
                          value: 5000
                          unitCode: USD
                        valueDate: '2022-01-01'
                      benefitPeriod:
                        startDate: '2022-01-01'
                        endDate: '2023-12-31'
                      maxOutOfPocket:
                        valueQuantity:
                          value: 1000
                          unitCode: USD
                      network:
                        reference: Practitioner/example-doctor
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/departmentid-url
                      valueInteger: 123
                    - url: http://xcaliber-fhir/structureDefinition/insurancephone-url
                      valueString: '18005551234'
                    - url: http://xcaliber-fhir/structureDefinition/insuredentitytypeid-url
                      valueString: typeid
                    - url: http://xcaliber-fhir/structureDefinition/sequencenumber-url
                      valueInteger: 1
                    - url: http://xcaliber-fhir/structureDefinition/updateappointments-url
                      valueBoolean: true
                    - url: http://xcaliber-fhir/structureDefinition/validateinsuranceidnumber-url
                      valueBoolean: false
                    - url: http://xcaliber-fhir/structureDefinition/coinsurancepercent-url
                      valueInteger: 20
                    - url: http://xcaliber-fhir/structureDefinition/note-url
                      valueString: Example note
                    - url: http://xcaliber-fhir/structureDefinition/copays-url
                      extension:
                      - url: copay-url
                        valueCode:
                        - copayamount: 30
                          copaytype: specialist
                    - url: http://xcaliber-fhir/structureDefinition/insuredreferringprovider-url
                      valueString: Dr. Smith
                    - url: http://xcaliber-fhir/structureDefinition/insuredidnumber-url
                      valueString: INS-123456
                    - url: http://xcaliber-fhir/structureDefinition/insuranceproducttype-url
                      valueString: HMO
                    - url: http://xcaliber-fhir/structureDefinition/eligibilitylastchecked-url
                      valueDate: '2022-11-01'
                    - url: http://xcaliber-fhir/structureDefinition/eligibilitymessage-url
                      valueString: Eligible
                    - url: http://xcaliber-fhir/structureDefinition/eligibilitystatus-url
                      valueString: active
                    - url: http://xcaliber-fhir/structureDefinition/eligibilityreason-url
                      valueString: Initial check
                    - url: http://xcaliber-fhir/structureDefinition/ansi271-url
                      valueString: ANSI DATA
                    - url: http://xcaliber-fhir/structureDefinition/dateofservice-url
                      valueDate: '2022-10-01'
                    - url: http://xcaliber-fhir/structureDefinition/lastcheckdate-url
                      valueDate: '2022-10-31'
                    policyHolder:
                      extension:
                      - url: http://xcaliber-fhir/structureDefinition/us-ssn
                        valueCode: 123-45-6789
                      - url: http://xcaliber-fhir/structureDefinition/us-core-birthsex
                        valueCode: M
                      - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholdercountry-url
                        valueString: US
                      - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholderdob-url
                        valueDate: '1980-01-01'
                      - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholderaddress-url
                        valueAddress:
                          line:
                          - 123 Main St
                          - Apt 1
                          city: Sample City
                          state: CA
                          postalCode: '12345'
                          country: US
                      - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholdername-url
                        valueHumanName:
                          given:
                          - John
                          - Q
                          family: Public
                          suffix: Jr
                    period:
                      extension:
                      - url: http://xcaliber-fhir/structureDefinition/cancelled-url
                        valueDateTime: '2023-01-01T00:00:00Z'
    error400ofgetinCoverage:
      type: object
      properties:
        statusCode:
          type: integer
          example: 400
        message:
          type: string
          example: Missing patientId
        details:
          type: string
          example: Patient ID is required
    error401ofgetinCoverage:
      type: object
      properties:
        success:
          type: boolean
          example: false
        code:
          type: integer
          example: 401
        message:
          type: string
          example: Http Exception
    error500ofgetinCoverage:
      type: object
      properties:
        statusCode:
          type: integer
          example: 500
        message:
          type: string
          example: Internal server error
        details:
          type: object
          example: {}
    response201ofpostinCoverage:
      type: object
      properties: {}
      example:
        context:
          requestId: abc123
          source: ATHENA
          quorum: true
          notify: true
        data:
          resourceType: Bundle
          type: searchset
          total: 1
          entry:
          - resource:
              resource:
                context:
                  requestId: abc123
                  source: ATHENA
                  quorum: true
                  notify: true
                data:
                  resourceType: Bundle
                  type: searchset
                  total: 1
                  entry:
                  - resource:
                      resourceType: Coverage
                      id: example-coverage
                      meta:
                        versionId: '1'
                        lastUpdated: '2022-01-01T12:00:00Z'
                      identifier:
                      - use: usual
                        system: urn:oid:2.16.840.1.113883.4.213.1234
                        value: '1234567890'
                      type:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/coverage-type
                          code: individual
                          display: Individual
                      status: active
                      subscriber:
                        reference: Patient/example-patient
                      issuer:
                        display: Example Insurance Company
                        identifier:
                          system: urn:oid:2.16.840.1.113883.4.213.1234
                          value: '1234567890'
                      coverageEffectivePeriod:
                        startDate: '2022-01-01'
                        endDate: '2023-12-31'
                      benefit:
                        benefitBalance:
                          valueQuantity:
                            value: 5000
                            unitCode: USD
                          valueDate: '2022-01-01'
                        benefitPeriod:
                          startDate: '2022-01-01'
                          endDate: '2023-12-31'
                        maxOutOfPocket:
                          valueQuantity:
                            value: 1000
                            unitCode: USD
                        network:
                          reference: Practitioner/example-doctor
                      extension:
                      - url: http://xcaliber-fhir/structureDefinition/departmentid-url
                        valueInteger: 123
                      - url: http://xcaliber-fhir/structureDefinition/insurancephone-url
                        valueString: '18005551234'
                      - url: http://xcaliber-fhir/structureDefinition/insuredentitytypeid-url
                        valueString: typeid
                      - url: http://xcaliber-fhir/structureDefinition/sequencenumber-url
                        valueInteger: 1
                      - url: http://xcaliber-fhir/structureDefinition/updateappointments-url
                        valueBoolean: true
                      - url: http://xcaliber-fhir/structureDefinition/validateinsuranceidnumber-url
                        valueBoolean: false
                      - url: http://xcaliber-fhir/structureDefinition/coinsurancepercent-url
                        valueInteger: 20
                      - url: http://xcaliber-fhir/structureDefinition/note-url
                        valueString: Example note
                      - url: http://xcaliber-fhir/structureDefinition/copays-url
                        extension:
                        - url: copay-url
                          valueCode:
                          - copayamount: 30
                            copaytype: specialist
                      - url: http://xcaliber-fhir/structureDefinition/insuredreferringprovider-url
                        valueString: Dr. Smith
                      - url: http://xcaliber-fhir/structureDefinition/insuredidnumber-url
                        valueString: INS-123456
                      - url: http://xcaliber-fhir/structureDefinition/insuranceproducttype-url
                        valueString: HMO
                      - url: http://xcaliber-fhir/structureDefinition/eligibilitylastchecked-url
                        valueDate: '2022-11-01'
                      - url: http://xcaliber-fhir/structureDefinition/eligibilitymessage-url
                        valueString: Eligible
                      - url: http://xcaliber-fhir/structureDefinition/eligibilitystatus-url
                        valueString: active
                      - url: http://xcaliber-fhir/structureDefinition/eligibilityreason-url
                        valueString: Initial check
                      - url: http://xcaliber-fhir/structureDefinition/ansi271-url
                        valueString: ANSI DATA
                      - url: http://xcaliber-fhir/structureDefinition/dateofservice-url
                        valueDate: '2022-10-01'
                      - url: http://xcaliber-fhir/structureDefinition/lastcheckdate-url
                        valueDate: '2022-10-31'
                      policyHolder:
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/us-ssn
                          valueCode: 123-45-6789
                        - url: http://xcaliber-fhir/structureDefinition/us-core-birthsex
                          valueCode: M
                        - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholdercountry-url
                          valueString: US
                        - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholderdob-url
                          valueDate: '1980-01-01'
                        - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholderaddress-url
                          valueAddress:
                            line:
                            - 123 Main St
                            - Apt 1
                            city: Sample City
                            state: CA
                            postalCode: '12345'
                            country: US
                        - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholdername-url
                          valueHumanName:
                            given:
                            - John
                            - Q
                            family: Public
                            suffix: Jr
                      period:
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/cancelled-url
                          valueDateTime: '2023-01-01T00:00:00Z'
    error400ofpostinCoverage:
      type: object
      properties:
        statusCode:
          type: integer
          example: 400
        message:
          type: string
          example: Missing patientId
        details:
          type: string
          example: Patient ID is required
    error401ofpostinCoverage:
      type: object
      properties:
        success:
          type: boolean
          example: false
        code:
          type: integer
          example: 401
        message:
          type: string
          example: Http Exception
    error500ofpostinCoverage:
      type: object
      properties:
        statusCode:
          type: integer
          example: 500
        message:
          type: string
          example: Internal server error
        details:
          type: object
          example: {}
    response200ofgetinCoveragecoverageid:
      type: object
      properties: {}
      example:
        context:
          requestId: abc123
          source: ATHENA
          quorum: true
          notify: true
        data:
          resourceType: Bundle
          type: searchset
          total: 1
          entry:
          - resource:
              resource:
                context:
                  requestId: abc123
                  source: ATHENA
                  quorum: true
                  notify: true
                data:
                  resourceType: Bundle
                  type: searchset
                  total: 1
                  entry:
                  - resource:
                      resourceType: Coverage
                      id: example-coverage
                      meta:
                        versionId: '1'
                        lastUpdated: '2022-01-01T12:00:00Z'
                      identifier:
                      - use: usual
                        system: urn:oid:2.16.840.1.113883.4.213.1234
                        value: '1234567890'
                      type:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/coverage-type
                          code: individual
                          display: Individual
                      status: active
                      subscriber:
                        reference: Patient/example-patient
                      issuer:
                        display: Example Insurance Company
                        identifier:
                          system: urn:oid:2.16.840.1.113883.4.213.1234
                          value: '1234567890'
                      coverageEffectivePeriod:
                        startDate: '2022-01-01'
                        endDate: '2023-12-31'
                      benefit:
                        benefitBalance:
                          valueQuantity:
                            value: 5000
                            unitCode: USD
                          valueDate: '2022-01-01'
                        benefitPeriod:
                          startDate: '2022-01-01'
                          endDate: '2023-12-31'
                        maxOutOfPocket:
                          valueQuantity:
                            value: 1000
                            unitCode: USD
                        network:
                          reference: Practitioner/example-doctor
                      extension:
                      - url: http://xcaliber-fhir/structureDefinition/departmentid-url
                        valueInteger: 123
                      - url: http://xcaliber-fhir/structureDefinition/insurancephone-url
                        valueString: '18005551234'
                      - url: http://xcaliber-fhir/structureDefinition/insuredentitytypeid-url
                        valueString: typeid
                      - url: http://xcaliber-fhir/structureDefinition/sequencenumber-url
                        valueInteger: 1
                      - url: http://xcaliber-fhir/structureDefinition/updateappointments-url
                        valueBoolean: true
                      - url: http://xcaliber-fhir/structureDefinition/validateinsuranceidnumber-url
                        valueBoolean: false
                      - url: http://xcaliber-fhir/structureDefinition/coinsurancepercent-url
                        valueInteger: 20
                      - url: http://xcaliber-fhir/structureDefinition/note-url
                        valueString: Example note
                      - url: http://xcaliber-fhir/structureDefinition/copays-url
                        extension:
                        - url: copay-url
                          valueCode:
                          - copayamount: 30
                            copaytype: specialist
                      - url: http://xcaliber-fhir/structureDefinition/insuredreferringprovider-url
                        valueString: Dr. Smith
                      - url: http://xcaliber-fhir/structureDefinition/insuredidnumber-url
                        valueString: INS-123456
                      - url: http://xcaliber-fhir/structureDefinition/insuranceproducttype-url
                        valueString: HMO
                      - url: http://xcaliber-fhir/structureDefinition/eligibilitylastchecked-url
                        valueDate: '2022-11-01'
                      - url: http://xcaliber-fhir/structureDefinition/eligibilitymessage-url
                        valueString: Eligible
                      - url: http://xcaliber-fhir/structureDefinition/eligibilitystatus-url
                        valueString: active
                      - url: http://xcaliber-fhir/structureDefinition/eligibilityreason-url
                        valueString: Initial check
                      - url: http://xcaliber-fhir/structureDefinition/ansi271-url
                        valueString: ANSI DATA
                      - url: http://xcaliber-fhir/structureDefinition/dateofservice-url
                        valueDate: '2022-10-01'
                      - url: http://xcaliber-fhir/structureDefinition/lastcheckdate-url
                        valueDate: '2022-10-31'
                      policyHolder:
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/us-ssn
                          valueCode: 123-45-6789
                        - url: http://xcaliber-fhir/structureDefinition/us-core-birthsex
                          valueCode: M
                        - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholdercountry-url
                          valueString: US
                        - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholderdob-url
                          valueDate: '1980-01-01'
                        - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholderaddress-url
                          valueAddress:
                            line:
                            - 123 Main St
                            - Apt 1
                            city: Sample City
                            state: CA
                            postalCode: '12345'
                            country: US
                        - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholdername-url
                          valueHumanName:
                            given:
                            - John
                            - Q
                            family: Public
                            suffix: Jr
                      period:
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/cancelled-url
                          valueDateTime: '2023-01-01T00:00:00Z'
    error401ofgetinCoveragecoverageid:
      type: object
      properties:
        success:
          type: boolean
          example: false
        code:
          type: integer
          example: 401
        message:
          type: string
          example: Http Exception
    error500ofgetinCoveragecoverageid:
      type: object
      properties:
        statusCode:
          type: integer
          example: 500
        message:
          type: string
          example: Internal server error
        details:
          type: object
          example: {}
    response200ofputinCoveragecoverageid:
      type: object
      properties: {}
      example:
        context:
          requestId: abc123
          source: ATHENA
          quorum: true
          notify: true
        data:
          resourceType: Bundle
          type: searchset
          total: 1
          entry:
          - resource:
              resource:
                context:
                  requestId: abc123
                  source: ATHENA
                  quorum: true
                  notify: true
                data:
                  resourceType: Bundle
                  type: searchset
                  total: 1
                  entry:
                  - resource:
                      resourceType: Coverage
                      id: example-coverage
                      meta:
                        versionId: '1'
                        lastUpdated: '2022-01-01T12:00:00Z'
                      identifier:
                      - use: usual
                        system: urn:oid:2.16.840.1.113883.4.213.1234
                        value: '1234567890'
                      type:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/coverage-type
                          code: individual
                          display: Individual
                      status: active
                      subscriber:
                        reference: Patient/example-patient
                      issuer:
                        display: Example Insurance Company
                        identifier:
                          system: urn:oid:2.16.840.1.113883.4.213.1234
                          value: '1234567890'
                      coverageEffectivePeriod:
                        startDate: '2022-01-01'
                        endDate: '2023-12-31'
                      benefit:
                        benefitBalance:
                          valueQuantity:
                            value: 5000
                            unitCode: USD
                          valueDate: '2022-01-01'
                        benefitPeriod:
                          startDate: '2022-01-01'
                          endDate: '2023-12-31'
                        maxOutOfPocket:
                          valueQuantity:
                            value: 1000
                            unitCode: USD
                        network:
                          reference: Practitioner/example-doctor
                      extension:
                      - url: http://xcaliber-fhir/structureDefinition/departmentid-url
                        valueInteger: 123
                      - url: http://xcaliber-fhir/structureDefinition/insurancephone-url
                        valueString: '18005551234'
                      - url: http://xcaliber-fhir/structureDefinition/insuredentitytypeid-url
                        valueString: typeid
                      - url: http://xcaliber-fhir/structureDefinition/sequencenumber-url
                        valueInteger: 1
                      - url: http://xcaliber-fhir/structureDefinition/updateappointments-url
                        valueBoolean: true
                      - url: http://xcaliber-fhir/structureDefinition/validateinsuranceidnumber-url
                        valueBoolean: false
                      - url: http://xcaliber-fhir/structureDefinition/coinsurancepercent-url
                        valueInteger: 20
                      - url: http://xcaliber-fhir/structureDefinition/note-url
                        valueString: Example note
                      - url: http://xcaliber-fhir/structureDefinition/copays-url
                        extension:
                        - url: copay-url
                          valueCode:
                          - copayamount: 30
                            copaytype: specialist
                      - url: http://xcaliber-fhir/structureDefinition/insuredreferringprovider-url
                        valueString: Dr. Smith
                      - url: http://xcaliber-fhir/structureDefinition/insuredidnumber-url
                        valueString: INS-123456
                      - url: http://xcaliber-fhir/structureDefinition/insuranceproducttype-url
                        valueString: HMO
                      - url: http://xcaliber-fhir/structureDefinition/eligibilitylastchecked-url
                        valueDate: '2022-11-01'
                      - url: http://xcaliber-fhir/structureDefinition/eligibilitymessage-url
                        valueString: Eligible
                      - url: http://xcaliber-fhir/structureDefinition/eligibilitystatus-url
                        valueString: active
                      - url: http://xcaliber-fhir/structureDefinition/eligibilityreason-url
                        valueString: Initial check
                      - url: http://xcaliber-fhir/structureDefinition/ansi271-url
                        valueString: ANSI DATA
                      - url: http://xcaliber-fhir/structureDefinition/dateofservice-url
                        valueDate: '2022-10-01'
                      - url: http://xcaliber-fhir/structureDefinition/lastcheckdate-url
                        valueDate: '2022-10-31'
                      policyHolder:
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/us-ssn
                          valueCode: 123-45-6789
                        - url: http://xcaliber-fhir/structureDefinition/us-core-birthsex
                          valueCode: M
                        - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholdercountry-url
                          valueString: US
                        - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholderdob-url
                          valueDate: '1980-01-01'
                        - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholderaddress-url
                          valueAddress:
                            line:
                            - 123 Main St
                            - Apt 1
                            city: Sample City
                            state: CA
                            postalCode: '12345'
                            country: US
                        - url: http://xcaliber-fhir/structureDefinition/insurancepolicyholdername-url
                          valueHumanName:
                            given:
                            - John
                            - Q
                            family: Public
                            suffix: Jr
                      period:
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/cancelled-url
                          valueDateTime: '2023-01-01T00:00:00Z'
    error400ofputinCoveragecoverageid:
      type: object
      properties:
        statusCode:
          type: integer
          example: 400
        message:
          type: string
          example: Missing patientId
        details:
          type: string
          example: Patient ID is required
    error401ofputinCoveragecoverageid:
      type: object
      properties:
        success:
          type: boolean
          example: false
        code:
          type: integer
          example: 401
        message:
          type: string
          example: Http Exception
    error500ofputinCoveragecoverageid:
      type: object
      properties:
        statusCode:
          type: integer
          example: 500
        message:
          type: string
          example: Internal server error
        details:
          type: object
          example: {}
    response200ofdeleteinCoveragecoverageid:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          example: deleted
    error400ofdeleteinCoveragecoverageid:
      type: object
      properties:
        statusCode:
          type: integer
          example: 400
        message:
          type: string
          example: Missing patientId
        details:
          type: string
          example: Patient ID is required
    error401ofdeleteinCoveragecoverageid:
      type: object
      properties:
        success:
          type: boolean
          example: false
        code:
          type: integer
          example: 401
        message:
          type: string
          example: Http Exception
    error500ofdeleteinCoveragecoverageid:
      type: object
      properties:
        statusCode:
          type: integer
          example: 500
        message:
          type: string
          example: Internal server error
        details:
          type: object
          example: {}
    Context:
      type: object
      properties:
        requestId:
          type: string
          example: abc123
        source:
          type: string
          example: ATHENA
        quorum:
          type: boolean
          example: true
        notify:
          type: boolean
          example: true
        departmentId:
          type: string
          example: '150'
      required:
      - requestId
      - source
      - quorum
      - notify
      additionalProperties: true
  securitySchemes:
    Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
- Auth: []
