openapi: 3.0.0
info:
  title: Interoperability APIs (FHIR++)
  version: latest
  description: FHIR (Fast Healthcare Interoperability Resources, prounced as Fire)
    is a standard for exchanging healthcare information electronically. It is designed
    to be a modern, flexible, and web-based alternative to older, more cumbersome
    standards like HL7 v2. FHIR uses a RESTful API specification to define how to
    interact with Resources - this means it uses standard HTTP verbs (GET, POST, PUT,
    DELETE). Resources are the fundamental units of data in FHIR; they can represent
    anything from patient demographics to clinical observations to medications.
servers:
- url: https://xchange-sandbox.xcaliberapis.com
- url: https://your.api.server
tags:
- name: VisitNotes
  description: Visit notes and document operations in Athena
paths:
  /api/v2/DocumentReference:
    get:
      tags:
      - VisitNotes
      - clinical-document
      - medical-record
      - patient-case
      - prescriptionResults
      - interpretation
      - order
      - encounter-document
      - html
      - patient-record
      - vaccine
      - surgical-results
      - surgery
      - letter
      - admin
      - physician-auth
      - phone-message
      - appointment-request
      - rto
      - unknown
      summary: Get Document Reference
      operationId: getDocumentReference
      parameters:
      - &id001
        name: x-source-id
        in: header
        required: true
        schema:
          type: string
        description: Source system identifier.
      - &id002
        name: x-interaction-mode
        in: header
        required: true
        schema:
          type: boolean
        description: Interaction mode flag (true/false).
      - name: authenticator
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: 'Filter: authenticator'
      - name: author
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: author'
      - name: category
        in: query
        required: true
        schema:
          type: string
        description: 'Filter: category'
      - name: contenttype
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: contenttype'
      - name: custodian
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: 'Filter: custodian'
      - name: date
        in: query
        required: false
        schema:
          type: string
          format: date
        description: 'Filter: date'
      - name: description
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: description'
      - name: event
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: event'
      - name: facility
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: facility'
      - name: format
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: format'
      - name: language
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: language'
      - name: location
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: location'
      - name: period
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: period'
      - name: related
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: related'
      - name: relatesto
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: 'Filter: relatesto'
      - name: relation
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: relation'
      - name: relationship
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: relationship'
      - name: security-label
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: security-label'
      - name: setting
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: setting'
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: status'
      - name: subject
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: subject'
      - name: encounter
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: encounter'
      - name: identifier
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: identifier'
      - name: patient
        in: query
        required: true
        schema:
          type: string
        description: 'Filter: patient'
      - name: type
        in: query
        required: false
        schema:
          type: string
        description: 'Filter: type'
      - name: departmentId
        in: query
        required: true
        schema:
          type: string
        description: Department identifier.
      responses:
        '400':
          description: Missing or invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error400ofgetinDocumentReferencecategoryunknown'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error401ofgetinDocumentReferencecategoryunknown'
        '500':
          description: Internal server error or upstream service failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error500ofgetinDocumentReferencecategoryunknown'
        '200':
          description: OK
          content:
            application/json:
              examples:
                Response Example 1:
                  value:
                    resourceType: DocumentReference
                    extension:
                    - url: TINY_URLS.DOCUMENTREFERENCE.DEPARTMENTID
                      valueInteger: 123
                    - url: TINY_URLS.DOCUMENTREFERENCE.ENCOUNTERVISITNAME
                      valueString: Office Visit
                    - url: TINY_URLS.DOCUMENTREFERENCE.ENCOUNTERTYPE
                      valueString: routine
                    - url: TINY_URLS.DOCUMENTREFERENCE.LASTREOPENED
                      valueString: '2023-10-15T10:30:00Z'
                    - url: TINY_URLS.DOCUMENTREFERENCE.LASTUPDATED
                      valueString: '2023-10-15T14:45:00Z'
                    - url: TINY_URLS.DOCUMENTREFERENCE.PROVIDERLASTNAME
                      valueString: Smith
                    - url: TINY_URLS.DOCUMENTREFERENCE.PROVIDERPHONE
                      valueString: 555-123-4567
                    - url: TINY_URLS.DOCUMENTREFERENCE.STAGE
                      valueString: active
                    - url: TINY_URLS.DOCUMENTREFERENCE.PATIENTSTATUSID
                      valueInteger: 1
                    - url: TINY_URLS.DOCUMENTREFERENCE.PATIENTSTATUS
                      valueString: active
                    - url: http://tiny.url/documentreference/patientstatus
                      valueString: active
                    contained:
                    - resourceType: Condition
                      id: hypertension
                      code:
                        text: hypertension
                        coding:
                        - code: I10
                          system: ICD-10
                          display: Essential hypertension
                        - code: '38341003'
                          system: SNOMED
                      note: Patient has well-controlled hypertension
                    id: '123'
                    identifier:
                    - system: http://tiny.url/encounter/xcaliber-athena-extension
                      value: '123'
                    status: current
                    docStatus: final
                    type:
                      coding:
                      - system: http://loinc.org
                        code: 67781-5
                        display: Summarization of encounter note Narrative
                    category:
                    - coding:
                      - system: http://loinc.org
                        code: 11506-3
                        display: Progress note
                      text: Progress note
                    author:
                    - reference: Practitioner/90210
                      display: Dr. Smith
                    subject:
                      reference: Patient/456
                    context:
                      encounter:
                      - reference: Encounter/123
                      - reference: Encounter/12345
                      period:
                        start: '2023-10-15T09:00:00.000Z'
                        end: '2023-10-15T10:30:00.000Z'
                      related:
                      - reference: Appointment/67890
                      - reference: Location/54321
                        display: Main Clinic Room 101
                      sourcePatientInfo:
                        extension: []
                    content:
                    - attachment:
                        contentType: text/html
                        data: PGgxPkVuY291bnRlciBOb3RlPC9oMT4KPHA+UGF0aWVudCB2aXNpdCBzdW1tYXJ5Li4uPC9wPg==
                        title: Encounter note
                clinical-document:
                  value:
                    resourceType: DocumentReference
                    id: dref-001
                    custodian:
                      reference: Practitioner/123456
                    date: '2025-09-12T10:15:30Z'
                    author:
                    - reference: Practitioner/78910
                      display: Dr. Priya Sharma
                    status: current
                    description: CBC report
                    category:
                    - coding:
                      - system: athena
                        code: CLINICALDOCUMENT
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/document-subclass
                          valueString: LAB
                    content: []
                    subject:
                      reference: Patient/123
                    context:
                      related:
                      - reference: ServiceRequest/456
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/assigned-to
                      valueString: nurse.alex
                    - url: http://xcaliber-fhir/structureDefinition/department-id
                      valueInteger: 42
                    - url: http://xcaliber-fhir/structureDefinition/document-route
                      valueString: INBOUND
                    - url: http://xcaliber-fhir/structureDefinition/document-source
                      valueString: portal
                    - url: http://xcaliber-fhir/structureDefinition/document-type-id
                      valueString: DT-001
                    - url: http://xcaliber-fhir/structureDefinition/external-note
                      valueString: External notes go here.
                    - url: http://xcaliber-fhir/structureDefinition/internal-note
                      valueString: Internal notes here.
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-datetime
                      valueDateTime: '2025-09-12T10:30:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-user
                      valueString: navya.k
                    - url: http://xcaliber-fhir/structureDefinition/observation-date
                      valueDate: '2025-09-10'
                    - url: http://xcaliber-fhir/structureDefinition/order-type
                      valueString: ROUTINE
                    - url: http://xcaliber-fhir/structureDefinition/priority
                      valueString: normal
                    - url: http://xcaliber-fhir/structureDefinition/action-note
                      valueString: Please review.
                    - url: http://xcaliber-fhir/structureDefinition/created-user
                      valueString: system
                    - url: http://xcaliber-fhir/structureDefinition/entity-type
                      valueString: document
                    - url: http://xcaliber-fhir/structureDefinition/file-size
                      valueString: 256KB
                    - url: http://xcaliber-fhir/structureDefinition/original-file-name
                      valueString: cbc.pdf
                    - url: http://xcaliber-fhir/structureDefinition/document-data
                      valueString: <base64 or url>
                    - url: http://xcaliber-fhir/structureDefinition/file-extension
                      valueString: pdf
                medical-record:
                  value:
                    resourceType: DocumentReference
                    id: mr-001
                    custodian:
                      reference: Practitioner/12345
                    date: '2025-09-10T14:30:00Z'
                    author:
                    - reference: Practitioner/67890
                    status: current
                    description: MRI brain report
                    category:
                    - coding:
                      - system: athena
                        code: CLINICALDOCUMENT
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/document-subclass
                          valueString: IMAGING
                    context:
                      encounter:
                      - reference: Encounter/enc-123
                      related:
                      - reference: ServiceRequest/sr-987
                      - reference: Appointment/appt-555
                    content: []
                    subject:
                      reference: Patient/pat-321
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/assigned-to
                      valueString: radiology.team
                    - url: http://xcaliber-fhir/structureDefinition/contraindication-reason
                      valueCodeableConcept:
                        coding:
                        - code: PREG
                          system: http://example.org/codeset
                          display: Pregnancy
                        - code: CONTRAST
                          system: http://example.org/codeset
                          display: Contrast allergy
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason
                      valueCodeableConcept:
                        coding:
                        - code: PATIENT_DECLINED
                          system: http://example.org/codeset
                          display: Patient declined
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason-text
                      valueString: Patient was anxious about MRI.
                    - url: http://xcaliber-fhir/structureDefinition/deleted-date-time
                      valueDateTime: '2025-09-11T08:00:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/department-id
                      valueString: '42'
                    - url: http://xcaliber-fhir/structureDefinition/document-route
                      valueString: INBOUND
                    - url: http://xcaliber-fhir/structureDefinition/document-source
                      valueString: portal
                    - url: http://xcaliber-fhir/structureDefinition/document-type
                      valueString: RAD
                    - url: http://xcaliber-fhir/structureDefinition/document-type-id
                      valueString: DT-001
                    - url: http://xcaliber-fhir/structureDefinition/external-accession-id
                      valueString: ACC-7788
                    - url: http://xcaliber-fhir/structureDefinition/external-note
                      valueString: External note about the document.
                    - url: http://xcaliber-fhir/structureDefinition/internal-accession-id
                      valueString: IACC-1122
                    - url: http://xcaliber-fhir/structureDefinition/internal-note
                      valueString: Internal processing note.
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-datetime
                      valueDateTime: '2025-09-12T10:30:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/observation-datetime
                      valueDateTime: '2025-09-10T09:00:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/priority
                      valueString: routine
                    - url: http://xcaliber-fhir/structureDefinition/receiver-note
                      valueString: Please review and sign off.
                    - url: http://xcaliber-fhir/structureDefinition/subject
                      valueString: Neurology
                    - url: http://xcaliber-fhir/structureDefinition/document-data
                      valueString: BASE64_OR_URL_PLACEHOLDER
                patient-case:
                  value:
                    resourceType: DocumentReference
                    id: pcase-001
                    custodian:
                      reference: Practitioner/12345
                    date: '2025-09-12T10:15:30Z'
                    author:
                    - reference: Practitioner/67890
                      display: Dr. Priya Sharma
                    context:
                      encounter:
                      - reference: Encounter/enc-001
                      related:
                      - reference: ServiceRequest/sr-1001
                      - reference: Appointment/appt-2002
                      extension:
                      - url: http://xcaliber-fhir/structureDefinition/encounter-date
                        valueDate: '2025-09-10'
                    status: current
                    description: 'Patient case: post-op review'
                    category:
                    - coding:
                      - system: athena
                        code: CLINICALDOCUMENT
                        display: Clinical document
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/document-subclass
                          valueString: CASE_NOTE
                    content:
                    - attachment:
                        url: https://files.example.com/case-summary.pdf
                    - attachment:
                        url: https://files.example.com/case-image.png
                    subject:
                      reference: Patient/pat-123
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/external-accession-id
                      valueString: EXT-ACC-001
                    - url: http://xcaliber-fhir/structureDefinition/subject
                      valueString: Orthopedics
                    - url: http://xcaliber-fhir/structureDefinition/assigned-to
                      valueString: care.team.alpha
                    - url: http://xcaliber-fhir/structureDefinition/department-id
                      valueInteger: 42
                    - url: http://xcaliber-fhir/structureDefinition/document-route
                      valueString: INBOUND
                    - url: http://xcaliber-fhir/structureDefinition/tied-to-procedure-or-surgery
                      valueString: Knee arthroscopy
                    - url: http://xcaliber-fhir/structureDefinition/documentsource
                      valueString: portal
                    - url: http://xcaliber-fhir/structureDefinition/document-type-id
                      valueString: DT-CASE
                    - url: http://xcaliber-fhir/structureDefinition/external-note
                      valueString: External case note.
                    - url: http://xcaliber-fhir/structureDefinition/internal-note
                      valueString: Internal review pending.
                    - url: http://xcaliber-fhir/structureDefinition/internal-accession-id
                      valueString: INT-ACC-002
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-datetime
                      valueDateTime: '2025-09-12T11:00:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-user
                      valueString: navya.k
                    - url: http://xcaliber-fhir/structureDefinition/observation-datetime
                      valueDateTime: '2025-09-10T09:30:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/observation-date
                      valueDate: '2025-09-10'
                    - url: http://xcaliber-fhir/structureDefinition/order-type
                      valueString: ROUTINE
                    - url: http://xcaliber-fhir/structureDefinition/priority
                      valueString: normal
                    - url: http://xcaliber-fhir/structureDefinition/action-note
                      valueString: Call patient for follow-up.
                    - url: http://xcaliber-fhir/structureDefinition/deleted-date-time
                      valueDateTime: '2025-09-11T08:00:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/created-user
                      valueString: system
                    - url: http://xcaliber-fhir/structureDefinition/call-back
                      valueContactPoint:
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/call-back-name
                          valueString: Karan
                        use: mobile
                        value: +91-90000-00000
                    - url: http://xcaliber-fhir/structureDefinition/entity-type
                      valueString: patient-case
                    - url: http://xcaliber-fhir/structureDefinition/document-data
                      valueString: BASE64_OR_URL
                prescriptionResults:
                  value:
                    resourceType: DocumentReference
                    id: rx-001
                    status: current
                    subject:
                      reference: Patient/pat-789
                    description: Prescription for Amoxicillin
                    category:
                    - coding:
                      - system: athena
                        code: PRESCRIPTION
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/document-subclass
                          valueString: MEDICATION
                    date: '2025-09-12T09:00:00Z'
                    author:
                    - reference: Practitioner/pr-12345
                    identifier:
                    - value: '1234567890'
                      type:
                        text: provider-npi
                    context:
                      encounter:
                      - reference: Encounter/enc-555
                      related:
                      - reference: ServiceRequest/sr-333
                      - reference: Appointment/appt-444
                    custodian:
                      reference: Practitioner/fac-222
                    contained: []
                    content: []
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/assigned-to
                      valueString: pharmacy.team
                    - url: http://xcaliber-fhir/structureDefinition/deleted-datetime
                      valueDateTime: '2025-09-11T10:00:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/department-id
                      valueString: '42'
                    - url: http://xcaliber-fhir/structureDefinition/document-route
                      valueString: OUTBOUND
                    - url: http://xcaliber-fhir/structureDefinition/document-source
                      valueString: ehr
                    - url: http://xcaliber-fhir/structureDefinition/document-type-id
                      valueInteger: 7001
                    - url: http://xcaliber-fhir/structureDefinition/external-accession-id
                      valueString: EXT-ACC-9001
                    - url: http://xcaliber-fhir/structureDefinition/external-note
                      valueString: Rx sent electronically.
                    - url: http://xcaliber-fhir/structureDefinition/internal-accession-id
                      valueString: INT-ACC-111
                    - url: http://xcaliber-fhir/structureDefinition/internal-note
                      valueString: Verified allergies prior to prescribing.
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-datetime
                      valueDateTime: '2025-09-12T10:30:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/observation-datetime
                      valueDateTime: '2025-09-12T08:30:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/ordering-mode
                      valueString: E-PRESCRIBE
                    - url: http://xcaliber-fhir/structureDefinition/order-type
                      valueString: NEW
                    - url: http://xcaliber-fhir/structureDefinition/patient-case-id
                      valueString: pcase-123
                    - url: http://xcaliber-fhir/structureDefinition/priority
                      valueString: routine
                    - url: http://xcaliber-fhir/structureDefinition/subject
                      valueString: General Medicine
                    - url: http://xcaliber-fhir/structureDefinition/billing-ndc
                      valueString: 0002-8215-01
                interpretation:
                  value:
                    resourceType: DocumentReference
                    id: interp-001
                    content: []
                    custodian:
                      reference: Practitioner/pr-123
                    date: '2025-09-12T09:45:00Z'
                    author:
                    - reference: Practitioner/pr-456
                    status: current
                    description: 'Imaging interpretation: chest X-ray'
                    category:
                    - coding:
                      - system: athena
                        code: INTERPRETATION
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/document-subclass
                          valueString: RAD
                    context:
                      encounter:
                      - reference: Encounter/enc-123
                      related:
                      - reference: ServiceRequest/sr-987
                      - reference: Appointment/appt-456
                    subject:
                      reference: Patient/pat-123
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/assigned-to
                      valueString: radiologist.lee
                    - url: http://xcaliber-fhir/structureDefinition/deleted-date-time
                      valueDateTime: '2025-09-12T10:30:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/department-id
                      valueString: '42'
                    - url: http://xcaliber-fhir/structureDefinition/document-route
                      valueString: INBOUND
                    - url: http://xcaliber-fhir/structureDefinition/document-source
                      valueString: PACS
                    - url: http://xcaliber-fhir/structureDefinition/document-type
                      valueString: ImagingInterpretation
                    - url: http://xcaliber-fhir/structureDefinition/document-type-id
                      valueString: DT-INT-01
                    - url: http://xcaliber-fhir/structureDefinition/external-accession-id
                      valueString: EXT-ACC-1234
                    - url: http://xcaliber-fhir/structureDefinition/external-note
                      valueString: Summary sent to ordering physician.
                    - url: http://xcaliber-fhir/structureDefinition/internal-accession-id
                      valueString: INT-ACC-5678
                    - url: http://xcaliber-fhir/structureDefinition/internal-note
                      valueString: Preliminary read completed.
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-datetime
                      valueDateTime: '2025-09-12T11:00:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/observation-datetime
                      valueDateTime: '2025-09-12T08:15:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/priority
                      valueString: STAT
                    - url: http://xcaliber-fhir/structureDefinition/receiver-note
                      valueString: Please review urgently.
                    - url: http://xcaliber-fhir/structureDefinition/subject
                      valueString: Radiology
                order:
                  value:
                    resourceType: DocumentReference
                    id: ord-001
                    custodian:
                      reference: Practitioner/pr-100
                      display: Dr. Ananya Mehta
                    date: '2025-09-12T09:20:00Z'
                    author:
                    - reference: Practitioner/pr-200
                    status: current
                    description: Lab order for CBC
                    category:
                    - coding:
                      - system: athena
                        code: ORDER
                        display: Lab Order
                      extension:
                      - url: http://xcaliber-fhir/structureDefinition/document-subclass
                        valueString: LAB
                    contained:
                    - resourceType: Coverage
                      id: cov-1
                      identifier:
                      - type:
                          text: authorization-number
                        value: AUTH-7788
                      - type:
                          text: insurance-package-id
                        value: PKG-4455
                      period:
                        start: '2025-09-01'
                        end: '2026-08-31'
                      class:
                      - name: Gold PPO
                      extension:
                      - url: http://xcaliber-fhir/structureDefinition/additional-information
                        valueString: Requires prior auth
                      - url: http://xcaliber-fhir/structureDefinition/authorization-status
                        valueString: Approved
                      - url: http://xcaliber-fhir/structureDefinition/member-id
                        valueString: M-998877
                      - url: http://xcaliber-fhir/structureDefinition/sequence
                        valueString: '1'
                      - url: http://xcaliber-fhir/structureDefinition/visits-approved
                        valueString: '3'
                    - resourceType: DocumentReference
                      id: att-001
                      description: Previous lab report
                      category:
                        coding:
                        - system: athena
                          code: LABDOC
                      context:
                        encounter:
                        - reference: Encounter/enc-100
                      extension:
                      - url: http://xcaliber-fhir/structureDefinition/section-name
                        valueString: Labs
                      - url: http://xcaliber-fhir/structureDefinition/section-name-key
                        valueString: LABS_SECTION
                      - url: http://xcaliber-fhir/structureDefinition/flow-sheet-id
                        valueString: FS-22
                    - resourceType: DocumentReference
                      id: ref-attach-001
                      description: Referral note
                      category:
                        coding:
                        - system: athena
                          code: REFERRAL
                      context:
                        encounter:
                        - reference: Encounter/enc-101
                      extension:
                      - url: http://xcaliber-fhir/structureDefinition/section-name
                        valueString: Referrals
                      - url: http://xcaliber-fhir/structureDefinition/section-name-key
                        valueString: REF_SECTION
                      - url: http://xcaliber-fhir/structureDefinition/flow-sheet-id
                        valueString: FS-30
                    - resourceType: Location
                      address:
                        line:
                        - 123 MG Road
                        city: Bengaluru
                        state: KA
                        postalCode: '560001'
                      telecom:
                      - system: phone
                        value: +91-80-1234-5678
                      - system: fax
                        value: +91-80-9876-5432
                      name: City Diagnostics
                    - resourceType: Task
                      status: requested
                      description: Fasting 8 hours
                      note:
                      - text: Patient informed by phone.
                    - resourceType: QuestionnaireResponse
                      item:
                      - text: Any recent antibiotics?
                        answer:
                        - valueString: 'No'
                    - resourceType: ServiceRequest
                      status: unknown
                      intent: unknown
                      reasonCode:
                      - coding:
                        - code: R53.83
                          display: Other fatigue
                          system: ICD-10
                        - code: '84229001'
                          display: Complete blood count
                          system: SNOMED
                          extension:
                          - url: http://xcaliber-fhir/structureDefinition/unstripped-diagnosis-code
                            valueString: R53.83
                      code:
                        coding:
                        - code: '85027'
                    context:
                      encounter:
                      - reference: Encounter/enc-200
                      related:
                      - reference: DocumentReference/doc-777
                        display: Previous report
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/document-sub-class
                          valueString: LAB
                      - reference: ServiceRequest/sr-300
                      - reference: Appointment/appt-400
                      facilityType:
                        coding:
                        - system: athena
                          code: '11'
                          display: Office
                    subject:
                      reference: Patient/pat-001
                    content: []
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/action-note
                      valueString: Collect specimen before 10 AM.
                    - url: http://xcaliber-fhir/structureDefinition/alarm-days
                      valueString: '2'
                    - url: http://xcaliber-fhir/structureDefinition/approved-date
                      valueDate: '2025-09-11'
                    - url: http://xcaliber-fhir/structureDefinition/assigned-to
                      valueString: lab.team.alpha
                    - url: http://xcaliber-fhir/structureDefinition/created-user
                      valueString: system
                    - url: http://xcaliber-fhir/structureDefinition/date-of-service
                      valueDate: '2025-09-12'
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason
                      valueCodeableConcept:
                        coding:
                        - code: PATIENT_DECLINED
                          system: LOCAL
                          display: Patient declined
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason-text
                      valueString: Patient requested to postpone.
                    - url: http://xcaliber-fhir/structureDefinition/deleted-date-time
                      valueDateTime: '2025-09-13T07:30:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/department-id
                      valueString: '42'
                    - url: http://xcaliber-fhir/structureDefinition/document-route
                      valueString: OUTBOUND
                    - url: http://xcaliber-fhir/structureDefinition/document-source
                      valueString: ehr
                    - url: http://xcaliber-fhir/structureDefinition/document-type
                      valueString: LabOrder
                    - url: http://xcaliber-fhir/structureDefinition/document-type-id
                      valueString: DT-ORDER-01
                    - url: http://xcaliber-fhir/structureDefinition/external-accession-id
                      valueString: EXT-ACC-555
                    - url: http://xcaliber-fhir/structureDefinition/external-note
                      valueString: Order faxed to partner lab.
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason
                      valueCodeableConcept:
                        coding:
                        - code: LAB-EXT
                          system: LOCAL
                          display: External lab code
                    - url: http://xcaliber-fhir/structureDefinition/internal-accession-id
                      valueString: INT-ACC-999
                    - url: http://xcaliber-fhir/structureDefinition/internal-note
                      valueString: Verify insurance eligibility before scheduling.
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-datetime
                      valueDateTime: '2025-09-12T10:55:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-user
                      valueString: navya.k
                    - url: http://xcaliber-fhir/structureDefinition/observation-date
                      valueDate: '2025-09-12'
                    - url: http://xcaliber-fhir/structureDefinition/observation-datetime
                      valueDateTime: '2025-09-12T08:10:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/order-type
                      valueString: ROUTINE
                    - url: http://xcaliber-fhir/structureDefinition/out-of-network-referral-reason-id
                      valueString: OON-12
                    - url: http://xcaliber-fhir/structureDefinition/patient-case-id
                      valueString: pcase-456
                    - url: http://xcaliber-fhir/structureDefinition/perform-date
                      valueDate: '2025-09-14'
                    - url: http://xcaliber-fhir/structureDefinition/priority
                      valueString: normal
                    - url: http://xcaliber-fhir/structureDefinition/receiver-note
                      valueString: Send results via portal.
                    - url: http://xcaliber-fhir/structureDefinition/requested-visits
                      valueString: '1'
                    - url: http://xcaliber-fhir/structureDefinition/standing-order-duration-days
                      valueString: '30'
                    - url: http://xcaliber-fhir/structureDefinition/standing-order-frequency-days
                      valueString: '7'
                    - url: http://xcaliber-fhir/structureDefinition/standing-order-start-date
                      valueDate: '2025-09-15'
                    - url: http://xcaliber-fhir/structureDefinition/submitter
                      valueString: frontdesk.user
                    - url: http://xcaliber-fhir/structureDefinition/summary-care-document-id
                      valueString: scd-123
                    - url: http://xcaliber-fhir/structureDefinition/document-date
                      valueDate: '2025-09-12'
                    - url: http://xcaliber-fhir/structureDefinition/schedule-within
                      valueString: 48h
                    - url: http://xcaliber-fhir/structureDefinition/has-summary-care
                      valueString: 'true'
                encounter-document:
                  value:
                    resourceType: DocumentReference
                    id: encdoc-001
                    custodian:
                      reference: Practitioner/pr-123
                    date: '2025-09-12T09:00:00Z'
                    author:
                    - reference: Practitioner/pr-456
                      display: Dr. A. Sharma
                    status: current
                    description: Encounter summary note
                    category:
                    - coding:
                      - system: athena
                        code: CLINICALDOCUMENT
                        display: Encounter Note
                      extension:
                      - url: http://xcaliber-fhir/structureDefinition/document-subclass
                        valueString: VISIT_NOTE
                    content: []
                    subject:
                      reference: Patient/pat-001
                    context:
                      encounter:
                      - reference: Encounter/enc-001
                      related:
                      - reference: ServiceRequest/sr-1001
                      - reference: Appointment/appt-2002
                      extension:
                      - url: http://xcaliber-fhir/structureDefinition/encounter-date
                        valueDate: '2025-09-10'
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/action-note
                      valueString: Follow-up in 2 weeks.
                    - url: http://xcaliber-fhir/structureDefinition/assigned-to
                      valueString: care.team.alpha
                    - url: http://xcaliber-fhir/structureDefinition/created-user
                      valueString: system
                    - url: http://xcaliber-fhir/structureDefinition/deleted-date-time
                      valueDateTime: '2025-09-12T12:00:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/department-id
                      valueString: '42'
                    - url: http://xcaliber-fhir/structureDefinition/document-source
                      valueString: ehr
                    - url: http://xcaliber-fhir/structureDefinition/document-subclass
                      valueString: VISIT_NOTE
                    - url: http://xcaliber-fhir/structureDefinition/entity-type
                      valueString: encounter-document
                    - url: http://xcaliber-fhir/structureDefinition/internal-note
                      valueString: Patient reported mild dizziness.
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-datetime
                      valueDateTime: '2025-09-12T10:30:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-user
                      valueString: navya.k
                    - url: http://xcaliber-fhir/structureDefinition/priority
                      valueString: routine
                    - url: http://xcaliber-fhir/structureDefinition/contraindication-reason
                      valueCodeableConcept:
                        coding:
                        - code: CONTRA1
                          system: LOCAL
                          display: Known drug interaction
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason
                      valueCodeableConcept:
                        coding:
                        - code: PATIENT_DECLINED
                          system: LOCAL
                          display: Patient declined procedure
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason-text
                      valueString: Prefers to wait until next visit.
                    - url: http://xcaliber-fhir/structureDefinition/document-route
                      valueString: INBOUND
                    - url: http://xcaliber-fhir/structureDefinition/document-type
                      valueString: EncounterDocument
                    - url: http://xcaliber-fhir/structureDefinition/document-type-id
                      valueString: DT-ENC-01
                    - url: http://xcaliber-fhir/structureDefinition/external-accession-id
                      valueString: EXT-ACC-123
                    - url: http://xcaliber-fhir/structureDefinition/external-note
                      valueString: Shared with patient via portal.
                    - url: http://xcaliber-fhir/structureDefinition/internal-accession-id
                      valueString: INT-ACC-456
                    - url: http://xcaliber-fhir/structureDefinition/observation-datetime
                      valueDateTime: '2025-09-10T09:15:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/receiver-note
                      valueString: Primary physician to review.
                    - url: http://xcaliber-fhir/structureDefinition/file-size
                      valueString: 128KB
                    - url: http://xcaliber-fhir/structureDefinition/original-file-name
                      valueString: encounter-note.pdf
                    - url: http://xcaliber-fhir/structureDefinition/document-data
                      valueString: BASE64_OR_URL
                html:
                  value:
                    resourceType: DocumentReference
                    id: html-001
                    custodian:
                      reference: Practitioner/pr-123
                    date: '2025-09-12T09:30:00Z'
                    author:
                    - reference: Practitioner/pr-456
                    status: current
                    description: Discharge summary (HTML)
                    category:
                    - coding:
                      - system: athena
                        code: CLINICALDOCUMENT
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/document-subclass
                          valueString: HTML
                    context:
                      encounter:
                      - reference: Encounter/enc-001
                      related:
                      - reference: ServiceRequest/sr-123
                      - reference: Appointment/appt-789
                    subject:
                      reference: Patient/pat-001
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/assigned-to
                      valueString: care.team.alpha
                    - url: http://xcaliber-fhir/structureDefinition/contraindication-reason
                      valueCodeableConcept:
                        coding:
                        - code: INT-DRUG
                          system: LOCAL
                          display: Potential drug interaction
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason
                      valueCodeableConcept:
                        coding:
                        - code: PATIENT_DECLINED
                          system: LOCAL
                          display: Patient declined
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason-text
                      valueString: Patient requested to delay procedure.
                    - url: http://xcaliber-fhir/structureDefinition/deleted-date-time
                      valueDateTime: '2025-09-12T12:00:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/department-id
                      valueString: '42'
                    - url: http://xcaliber-fhir/structureDefinition/document-route
                      valueString: OUTBOUND
                    - url: http://xcaliber-fhir/structureDefinition/document-source
                      valueString: ehr
                    - url: http://xcaliber-fhir/structureDefinition/document-type
                      valueString: DischargeSummary
                    - url: http://xcaliber-fhir/structureDefinition/document-type-id
                      valueString: DT-HTML-01
                    - url: http://xcaliber-fhir/structureDefinition/external-accession-id
                      valueString: EXT-ACC-777
                    - url: http://xcaliber-fhir/structureDefinition/external-note
                      valueString: Shared with patient via portal.
                    - url: http://xcaliber-fhir/structureDefinition/internal-accession-id
                      valueString: INT-ACC-555
                    - url: http://xcaliber-fhir/structureDefinition/internal-note
                      valueString: Reviewed by attending.
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-datetime
                      valueDateTime: '2025-09-12T11:15:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/observation-datetime
                      valueDateTime: '2025-09-12T08:10:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/priority
                      valueString: routine
                    - url: http://xcaliber-fhir/structureDefinition/receiver-note
                      valueString: Primary physician to review.
                    - url: http://xcaliber-fhir/structureDefinition/subject
                      valueString: General Medicine
                patient-record:
                  value:
                    resourceType: DocumentReference
                    id: patrec-001
                    custodian:
                      reference: Practitioner/pr-123
                    date: '2025-09-12T09:45:00Z'
                    author:
                    - reference: Practitioner/pr-456
                    content: []
                    status: current
                    description: Patient record snapshot
                    category:
                    - coding:
                      - system: athena
                        code: PATIENTRECORD
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/document-subclass
                          valueString: SUMMARY
                    context:
                      encounter:
                      - reference: Encounter/enc-001
                      related:
                      - reference: ServiceRequest/sr-1001
                      - reference: Appointment/appt-2002
                    subject:
                      reference: Patient/pat-001
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/assigned-to
                      valueString: care.team.alpha
                    - url: http://xcaliber-fhir/structureDefinition/contraindication-reason
                      valueCodeableConcept:
                        coding:
                        - code: CONTRA1
                          system: LOCAL
                          display: Known interaction
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason
                      valueCodeableConcept:
                        coding:
                        - code: PATIENT_DECLINED
                          system: LOCAL
                          display: Patient declined
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason-text
                      valueString: Patient requested to postpone.
                    - url: http://xcaliber-fhir/structureDefinition/deleted-date-time
                      valueDateTime: '2025-09-12T12:00:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/department-id
                      valueString: '42'
                    - url: http://xcaliber-fhir/structureDefinition/document-route
                      valueString: INBOUND
                    - url: http://xcaliber-fhir/structureDefinition/document-source
                      valueString: ehr
                    - url: http://xcaliber-fhir/structureDefinition/document-type
                      valueString: PatientRecord
                    - url: http://xcaliber-fhir/structureDefinition/document-type-id
                      valueString: DT-PR-01
                    - url: http://xcaliber-fhir/structureDefinition/external-accession-id
                      valueString: EXT-ACC-123
                    - url: http://xcaliber-fhir/structureDefinition/external-note
                      valueString: Shared with patient via portal.
                    - url: http://xcaliber-fhir/structureDefinition/internal-accession-id
                      valueString: INT-ACC-456
                    - url: http://xcaliber-fhir/structureDefinition/internal-note
                      valueString: Reviewed by attending physician.
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-datetime
                      valueDateTime: '2025-09-12T11:15:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/observation-datetime
                      valueDateTime: '2025-09-12T08:10:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/priority
                      valueString: routine
                    - url: http://xcaliber-fhir/structureDefinition/receiver-note
                      valueString: Primary physician to review.
                    - url: http://xcaliber-fhir/structureDefinition/subject
                      valueString: General Medicine
                vaccine:
                  value:
                    resourceType: DocumentReference
                    id: vax-001
                    custodian:
                      reference: Location/loc-101
                    date: '2025-09-12T09:00:00Z'
                    author:
                    - reference: Practitioner/pr-789
                    content: []
                    status: current
                    description: Immunization record
                    category:
                    - coding:
                      - system: athena
                        code: IMMUNIZATION
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/document-subclass
                          valueString: COVID19
                    context:
                      encounter:
                      - reference: Encounter/enc-123
                      related:
                      - reference: ServiceRequest/sr-456
                      - reference: Appointment/appt-789
                    subject:
                      reference: Patient/pat-001
                    contained: []
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/assigned-to
                      valueString: nurse.rn1
                    - url: http://xcaliber-fhir/structureDefinition/contraindication-reason
                      valueCodeableConcept:
                        coding:
                        - code: ANAPH
                          system: LOCAL
                          display: History of anaphylaxis
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason
                      valueCodeableConcept:
                        coding:
                        - code: PATIENT_DECLINED
                          system: LOCAL
                          display: Patient declined
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason-text
                      valueString: Prefers to take later.
                    - url: http://xcaliber-fhir/structureDefinition/deleted-date-time
                      valueDateTime: '2025-09-13T07:30:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/department-id
                      valueString: '42'
                    - url: http://xcaliber-fhir/structureDefinition/document-route
                      valueString: INBOUND
                    - url: http://xcaliber-fhir/structureDefinition/document-source
                      valueString: ehr
                    - url: http://xcaliber-fhir/structureDefinition/document-type
                      valueString: ImmunizationRecord
                    - url: http://xcaliber-fhir/structureDefinition/document-type-id
                      valueString: DT-IMM-01
                    - url: http://xcaliber-fhir/structureDefinition/external-accession-id
                      valueString: EXT-ACC-555
                    - url: http://xcaliber-fhir/structureDefinition/external-note
                      valueString: Provided VIS prior to vaccination.
                    - url: http://xcaliber-fhir/structureDefinition/internal-accession-id
                      valueString: INT-ACC-999
                    - url: http://xcaliber-fhir/structureDefinition/internal-note
                      valueString: Observation for 15 minutes completed.
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-datetime
                      valueDateTime: '2025-09-12T10:30:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-user
                      valueString: navya.k
                    - url: http://xcaliber-fhir/structureDefinition/observation-datetime
                      valueDateTime: '2025-09-12T08:10:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/priority
                      valueString: routine
                    - url: http://xcaliber-fhir/structureDefinition/patient-note
                      valueString: Mild soreness at injection site.
                    - url: http://xcaliber-fhir/structureDefinition/subject
                      valueString: Immunization
                    - url: http://xcaliber-fhir/structureDefinition/order-type
                      valueString: VACCINE
                surgical-results:
                  value:
                    resourceType: DocumentReference
                    id: surgres-001
                    custodian:
                      reference: Practitioner/pr-321
                    date: '2025-09-12T09:15:00Z'
                    author:
                    - reference: Practitioner/pr-123
                    status: current
                    description: Surgical pathology result
                    category:
                    - coding:
                      - system: athena
                        code: SURGICALRESULT
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/document-subclass
                          valueString: PATHOLOGY
                    context:
                      encounter:
                      - reference: Encounter/enc-789
                      related:
                      - reference: ServiceRequest/sr-321
                      - reference: Appointment/appt-654
                    subject:
                      reference: Patient/pat-111
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/assigned-to
                      valueString: lab.pathology
                    - url: http://xcaliber-fhir/structureDefinition/contraindication-reason
                      valueCodeableConcept:
                        coding:
                        - code: CONTRA-EX
                          system: LOCAL
                          display: Example contraindication
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason
                      valueCodeableConcept:
                        coding:
                        - code: PATIENT_DECLINED
                          system: LOCAL
                          display: Patient declined
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason-text
                      valueString: Patient opted to delay follow-up.
                    - url: http://xcaliber-fhir/structureDefinition/deleted-date-time
                      valueDateTime: '2025-09-13T07:30:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/department-id
                      valueString: '42'
                    - url: http://xcaliber-fhir/structureDefinition/document-route
                      valueString: INBOUND
                    - url: http://xcaliber-fhir/structureDefinition/document-source
                      valueString: ehr
                    - url: http://xcaliber-fhir/structureDefinition/document-type
                      valueString: SurgicalResult
                    - url: http://xcaliber-fhir/structureDefinition/document-type-id
                      valueString: DT-SURG-01
                    - url: http://xcaliber-fhir/structureDefinition/external-accession-id
                      valueString: EXT-ACC-888
                    - url: http://xcaliber-fhir/structureDefinition/external-note
                      valueString: Report verified by consultant.
                    - url: http://xcaliber-fhir/structureDefinition/internal-accession-id
                      valueString: INT-ACC-777
                    - url: http://xcaliber-fhir/structureDefinition/internal-note
                      valueString: Slides sent for second opinion.
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-datetime
                      valueDateTime: '2025-09-12T11:05:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/observation-datetime
                      valueDateTime: '2025-09-12T08:35:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/priority
                      valueString: routine
                    - url: http://xcaliber-fhir/structureDefinition/receiver-note
                      valueString: Route to surgeon for review.
                    - url: http://xcaliber-fhir/structureDefinition/subject
                      valueString: Surgery
                surgery:
                  value:
                    resourceType: DocumentReference
                    id: surg-001
                    subject:
                      reference: Patient/pat-001
                    custodian:
                      reference: Practitioner/pr-100
                    date: '2025-09-12T09:30:00Z'
                    author:
                    - reference: Practitioner/pr-200
                    status: current
                    description: Surgery scheduling packet
                    category:
                    - coding:
                      - system: athena
                        code: SURGERY
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/document-subclass
                          valueString: ORTHOPEDIC
                    context:
                      encounter:
                      - reference: Encounter/enc-789
                      related:
                      - reference: ServiceRequest/sr-456
                      - reference: Appointment/appt-123
                    content: []
                    contained:
                    - resourceType: Coverage
                      id: cov-001
                      identifier:
                      - type:
                          text: authorization-number
                        value: AUTH-7788
                      - type:
                          text: insurance-package-id
                        value: PKG-4455
                      period:
                        start: '2025-09-01'
                        end: '2026-08-31'
                      class:
                      - name: Gold PPO
                      extension:
                      - url: http://xcaliber-fhir/structureDefinition/additional-information
                        valueString: Requires prior auth
                      - url: http://xcaliber-fhir/structureDefinition/authorization-status
                        valueString: Approved
                      - url: http://xcaliber-fhir/structureDefinition/member-id
                        valueString: M-998877
                      - url: http://xcaliber-fhir/structureDefinition/sequence
                        valueString: '1'
                      - url: http://xcaliber-fhir/structureDefinition/visits-approved
                        valueString: '2'
                    - resourceType: DocumentReference
                      id: att-001
                      description: Pre-op instructions
                      category:
                        coding:
                        - system: athena
                          code: PREOP
                      context:
                        encounter:
                        - reference: Encounter/enc-789
                      extension:
                      - url: http://xcaliber-fhir/structureDefinition/section-name
                        valueString: Instructions
                      - url: http://xcaliber-fhir/structureDefinition/section-name-key
                        valueString: PREOP_INSTR
                      - url: http://xcaliber-fhir/structureDefinition/flow-sheet-id
                        valueString: FS-30
                    - resourceType: Task
                      status: requested
                      description: NPO after midnight
                      note:
                      - text: Patient notified by phone.
                    - resourceType: QuestionnaireResponse
                      item:
                      - text: Any blood thinners?
                        answer:
                        - valueString: 'No'
                    - resourceType: ServiceRequest
                      reasonCode:
                      - coding:
                        - code: M17.11
                          display: Unilateral primary osteoarthritis, right knee
                          system: ICD-10
                        - code: '52734007'
                          display: Arthroscopic surgery
                          system: SNOMED
                          extension:
                          - url: http://xcaliber-fhir/structureDefinition/unstripped-diagnosis-code
                            valueString: M17.11
                      code:
                        coding:
                        - code: '29881'
                    - resourceType: Location
                      address:
                        line:
                        - 123 OR Block
                        city: Bengaluru
                        state: KA
                        postalCode: '560001'
                      telecom:
                      - system: phone
                        value: +91-80-1234-5678
                      - system: fax
                        value: +91-80-8765-4321
                      name: City Hospital OR
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/assigned-to
                      valueString: surgery.coord1
                    - url: http://xcaliber-fhir/structureDefinition/alarm-days
                      valueString: '2'
                    - url: http://xcaliber-fhir/structureDefinition/approved-date
                      valueDate: '2025-09-11'
                    - url: http://xcaliber-fhir/structureDefinition/date-of-service
                      valueString: '2025-09-20'
                    - url: http://xcaliber-fhir/structureDefinition/has-summary-care
                      valueString: 'true'
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason
                      valueCodeableConcept:
                        coding:
                        - code: PATIENT_POSTPONE
                          system: LOCAL
                          display: Patient requested postponement
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason-text
                      valueString: Prefers next month.
                    - url: http://xcaliber-fhir/structureDefinition/deleted-date-time
                      valueDateTime: '2025-09-13T07:30:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/department-id
                      valueString: '42'
                    - url: http://xcaliber-fhir/structureDefinition/document-route
                      valueString: OUTBOUND
                    - url: http://xcaliber-fhir/structureDefinition/documentsource
                      valueString: ehr
                    - url: http://xcaliber-fhir/structureDefinition/document-type
                      valueString: Surgery
                    - url: http://xcaliber-fhir/structureDefinition/document-type-id
                      valueString: DT-SURG-REQ
                    - url: http://xcaliber-fhir/structureDefinition/external-accession-id
                      valueString: EXT-ACC-900
                    - url: http://xcaliber-fhir/structureDefinition/internal-accession-id
                      valueString: INT-ACC-700
                    - url: http://xcaliber-fhir/structureDefinition/internal-note
                      valueString: Awaiting anesthesia clearance.
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-datetime
                      valueDateTime: '2025-09-12T10:55:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/observation-datetime
                      valueDateTime: '2025-09-12T08:10:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/future-submit-date
                      valueDateTime: '2025-09-18T09:00:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/priority
                      valueString: routine
                    - url: http://xcaliber-fhir/structureDefinition/receiver-note
                      valueString: Route to OR scheduler.
                    - url: http://xcaliber-fhir/structureDefinition/subject
                      valueString: Orthopedics
                    - url: http://xcaliber-fhir/structureDefinition/order-type
                      valueString: SURGERY
                    - url: http://xcaliber-fhir/structureDefinition/patient-note
                      valueString: Patient prefers morning slot.
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-user
                      valueString: navya.k
                letter:
                  value:
                    resourceType: DocumentReference
                    id: letter-001
                    custodian:
                      reference: Practitioner/pr-654
                    date: '2025-09-12T09:40:00Z'
                    author:
                    - reference: Practitioner/pr-12345
                      display: Dr. Priya Sharma
                    status: current
                    description: 'Patient letter: return-to-work'
                    category:
                    - coding:
                      - system: athena
                        code: LETTER
                        display: Patient letter
                      extension:
                      - url: http://xcaliber-fhir/structureDefinition/document-subclass
                        valueString: WORK_CLEARANCE
                    content: []
                    subject:
                      reference: Patient/pat-001
                    context:
                      encounter:
                      - reference: Encounter/enc-101
                      related:
                      - reference: ServiceRequest/sr-202
                      - reference: Appointment/appt-303
                      extension:
                      - url: http://xcaliber-fhir/structureDefinition/encounter-date
                        valueDate: '2025-09-10'
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/action-note
                      valueString: Mail a printed copy to employer.
                    - url: http://xcaliber-fhir/structureDefinition/assigned-to
                      valueString: care.coordinator1
                    - url: http://xcaliber-fhir/structureDefinition/created-user
                      valueString: system
                    - url: http://xcaliber-fhir/structureDefinition/deleted-date-time
                      valueDateTime: '2025-09-13T07:30:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/department-id
                      valueString: '42'
                    - url: http://xcaliber-fhir/structureDefinition/document-source
                      valueString: ehr
                    - url: http://xcaliber-fhir/structureDefinition/document-subclass
                      valueString: WORK_CLEARANCE
                    - url: http://xcaliber-fhir/structureDefinition/entity-type
                      valueString: letter
                    - url: http://xcaliber-fhir/structureDefinition/internal-note
                      valueString: Verified patient identity and consent.
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-datetime
                      valueDateTime: '2025-09-12T11:10:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-user
                      valueString: navya.k
                    - url: http://xcaliber-fhir/structureDefinition/priority
                      valueString: routine
                    - url: http://xcaliber-fhir/structureDefinition/document-route
                      valueString: OUTBOUND
                    - url: http://xcaliber-fhir/structureDefinition/document-type
                      valueString: PatientLetter
                    - url: http://xcaliber-fhir/structureDefinition/document-type-id
                      valueString: DT-LET-01
                    - url: http://xcaliber-fhir/structureDefinition/external-accession-id
                      valueString: EXT-ACC-123
                    - url: http://xcaliber-fhir/structureDefinition/external-note
                      valueString: Sent via patient portal.
                    - url: http://xcaliber-fhir/structureDefinition/internal-accession-id
                      valueString: INT-ACC-456
                    - url: http://xcaliber-fhir/structureDefinition/observation-datetime
                      valueDateTime: '2025-09-12T08:05:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/recipient-name
                      valueString: HR Department, Acme Corp
                    - url: http://xcaliber-fhir/structureDefinition/subject
                      valueString: Fitness to return to work
                    - url: http://xcaliber-fhir/structureDefinition/xml
                      valueString: <Letter><Body>Cleared for light duty.</Body></Letter>
                    - url: http://xcaliber-fhir/structureDefinition/xml-title
                      valueString: Return-to-Work Letter
                    - url: http://xcaliber-fhir/structureDefinition/xml-type
                      valueString: application/xml
                    - url: http://xcaliber-fhir/structureDefinition/paper-form-name
                      valueString: RTW-Form-2025
                    - url: http://xcaliber-fhir/structureDefinition/letter-text
                      valueString: Patient is medically cleared to resume work on
                        15 Sep 2025.
                    - url: http://xcaliber-fhir/structureDefinition/html
                      valueString: <p>Cleared for light duty from <strong>15 Sep 2025</strong>.</p>
                    - url: http://xcaliber-fhir/structureDefinition/approved-date
                      valueDate: '2025-09-12'
                    - url: http://xcaliber-fhir/structureDefinition/approved-user
                      valueString: dr.priya
                    - url: http://xcaliber-fhir/structureDefinition/attachments-link
                      valueString: https://files.example.com/attachments/rtw-attachments
                    - url: http://xcaliber-fhir/structureDefinition/call-back-number
                      valueString: +91-98765-43210
                    - url: http://xcaliber-fhir/structureDefinition/create-from-order-id
                      valueInteger: 123456
                admin:
                  value:
                    resourceType: DocumentReference
                    id: admin-001
                    custodian:
                      reference: Practitioner/pr-123
                    author:
                    - reference: Practitioner/pr-456
                      display: Dr. A. Sharma
                    date: '2025-09-12T09:50:00Z'
                    status: current
                    category:
                    - coding:
                      - system: athena
                        code: ADMINNOTE
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/document-subclass
                          valueString: GENERAL
                    content: []
                    subject:
                      reference: Patient/pat-001
                    encounter:
                      reference: Encounter/enc-1001
                    context:
                      related:
                      - reference: Appointment/appt-2025
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/assigned-to
                      valueString: admin.user1
                    - url: http://xcaliber-fhir/structureDefinition/created-user
                      valueString: system
                    - url: http://xcaliber-fhir/structureDefinition/interpretation
                      valueString: No issues noted
                    - url: http://xcaliber-fhir/structureDefinition/deleted-date-time
                      valueDateTime: '2025-09-13T07:30:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/document-date
                      valueDate: '2025-09-12'
                    - url: http://xcaliber-fhir/structureDefinition/department-id
                      valueString: '42'
                    - url: http://xcaliber-fhir/structureDefinition/document-route
                      valueString: OUTBOUND
                    - url: http://xcaliber-fhir/structureDefinition/document-source
                      valueString: ehr
                    - url: http://xcaliber-fhir/structureDefinition/document-type-id
                      valueString: DT-ADMIN-01
                    - url: http://xcaliber-fhir/structureDefinition/entity-type
                      valueString: administrative
                    - url: http://xcaliber-fhir/structureDefinition/external-accession-id
                      valueString: EXT-ACC-1234
                    - url: http://xcaliber-fhir/structureDefinition/external-note
                      valueString: Shared with patient via portal.
                    - url: http://xcaliber-fhir/structureDefinition/internal-accession-id
                      valueString: INT-ACC-5678
                    - url: http://xcaliber-fhir/structureDefinition/internal-note
                      valueString: For internal review only.
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-user
                      valueString: navya.k
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-datetime
                      valueDateTime: '2025-09-12T11:10:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/observation-datetime
                      valueDateTime: '2025-09-12T08:05:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/order-type
                      valueString: ADMIN
                    - url: http://xcaliber-fhir/structureDefinition/patient-note
                      valueString: Please bring ID for verification.
                    - url: http://xcaliber-fhir/structureDefinition/portal-published-datetime
                      valueDateTime: '2025-09-12T12:00:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/priority
                      valueString: routine
                    - url: http://xcaliber-fhir/structureDefinition/subject
                      valueString: Administrative note
                    - url: http://xcaliber-fhir/structureDefinition/alarm-days
                      valueString: '3'
                    - url: http://xcaliber-fhir/structureDefinition/is-confidential
                      valueString: 'true'
                    - url: http://xcaliber-fhir/structureDefinition/result-status
                      valueString: final
                    - url: http://xcaliber-fhir/structureDefinition/action-note
                      valueString: Call patient to confirm appointment.
                    - url: http://xcaliber-fhir/structureDefinition/file-size
                      valueString: 256KB
                    - url: http://xcaliber-fhir/structureDefinition/original-file-name
                      valueString: admin-note.pdf
                    - url: http://xcaliber-fhir/structureDefinition/document-data
                      valueString: BASE64_OR_URL
                    - url: http://xcaliber-fhir/structureDefinition/file-extension
                      valueString: pdf
                    - url: http://xcaliber-fhir/structureDefinition/tie-to-order-id
                      valueInteger: 778899
                    - url: http://xcaliber-fhir/structureDefinition/tied-to-procedure-or-surgery
                      valueString: Knee arthroscopy
                    - url: http://xcaliber-fhir/structureDefinition/document-description
                      valueString: Administrative note regarding appointment logistics.
                    - url: http://xcaliber-fhir/structureDefinition/description
                      valueString: General admin document
                physician-auth:
                  value:
                    resourceType: DocumentReference
                    id: physauth-001
                    custodian:
                      reference: Practitioner/pr-100
                    date: '2025-09-12T09:55:00Z'
                    author:
                    - reference: Practitioner/pr-200
                    status: current
                    description: Physician authorization for procedure
                    category:
                    - coding:
                      - system: athena
                        code: PHYS_AUTH
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/document-subclass
                          valueString: SURGERY_CLEARANCE
                    context:
                      encounter:
                      - reference: Encounter/enc-123
                      related:
                      - reference: ServiceRequest/sr-789
                      - reference: Appointment/appt-456
                    content: []
                    subject:
                      reference: Patient/pat-001
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/action-note
                      valueString: Proceed with surgery as scheduled.
                    - url: http://xcaliber-fhir/structureDefinition/assigned-to
                      valueString: surgery.teamA
                    - url: http://xcaliber-fhir/structureDefinition/contraindication-reason
                      valueCodeableConcept:
                        coding:
                        - code: ALLERGY
                          system: LOCAL
                          display: Allergy to contrast
                    - url: http://xcaliber-fhir/structureDefinition/created-user
                      valueString: system
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason
                      valueCodeableConcept:
                        coding:
                        - code: PATIENT_DECLINED
                          system: LOCAL
                          display: Patient declined authorization
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason-text
                      valueString: Wants second opinion.
                    - url: http://xcaliber-fhir/structureDefinition/deleted-date-time
                      valueDateTime: '2025-09-13T07:30:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/department-id
                      valueString: '42'
                    - url: http://xcaliber-fhir/structureDefinition/document-route
                      valueString: OUTBOUND
                    - url: http://xcaliber-fhir/structureDefinition/document-source
                      valueString: ehr
                    - url: http://xcaliber-fhir/structureDefinition/document-type
                      valueString: PhysicianAuthorization
                    - url: http://xcaliber-fhir/structureDefinition/document-type-id
                      valueString: DT-PHYS-AUTH-01
                    - url: http://xcaliber-fhir/structureDefinition/fax-number
                      valueString: +91-80-1234-5678
                    - url: http://xcaliber-fhir/structureDefinition/external-accession-id
                      valueString: EXT-ACC-222
                    - url: http://xcaliber-fhir/structureDefinition/external-note
                      valueString: Faxed to facility.
                    - url: http://xcaliber-fhir/structureDefinition/internal-accession-id
                      valueString: INT-ACC-333
                    - url: http://xcaliber-fhir/structureDefinition/internal-note
                      valueString: Verified with attending.
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-datetime
                      valueDateTime: '2025-09-12T11:25:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-user
                      valueString: navya.k
                    - url: http://xcaliber-fhir/structureDefinition/observation-date
                      valueDate: '2025-09-11'
                    - url: http://xcaliber-fhir/structureDefinition/observation-datetime
                      valueDateTime: '2025-09-11T10:00:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/priority
                      valueString: urgent
                    - url: http://xcaliber-fhir/structureDefinition/receiver-note
                      valueString: Please expedite scheduling.
                    - url: http://xcaliber-fhir/structureDefinition/subject
                      valueString: Orthopedic Surgery
                    - url: http://xcaliber-fhir/structureDefinition/document-data
                      valueString: BASE64_OR_URL
                phone-message:
                  value:
                    resourceType: DocumentReference
                    id: phone-001
                    custodian:
                      reference: Practitioner/pr-100
                    date: '2025-09-12T09:58:00Z'
                    author:
                    - reference: Practitioner/pr-200
                    status: current
                    description: Patient called regarding medication refill.
                    category:
                    - coding:
                      - system: athena
                        code: PHONEMESSAGE
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/document-subclass
                          valueString: INBOUND_CALL
                    context:
                      encounter:
                      - reference: Encounter/enc-123
                      related:
                      - reference: ServiceRequest/sr-456
                      - reference: Appointment/appt-789
                    content: []
                    subject:
                      reference: Patient/pat-001
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/action-note
                      valueString: Call back patient after 4 PM.
                    - url: http://xcaliber-fhir/structureDefinition/assigned-to
                      valueString: nurse.team1
                    - url: http://xcaliber-fhir/structureDefinition/contraindication-reason
                      valueCodeableConcept:
                        coding:
                        - code: DRUGINT
                          system: LOCAL
                          display: Possible drug interaction
                    - url: http://xcaliber-fhir/structureDefinition/created-user
                      valueString: system
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason
                      valueCodeableConcept:
                        coding:
                        - code: PATIENT_DECLINED
                          system: LOCAL
                          display: Patient declined
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason-text
                      valueString: Will call back later.
                    - url: http://xcaliber-fhir/structureDefinition/deleted-date-time
                      valueDateTime: '2025-09-13T07:30:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/department-id
                      valueString: '42'
                    - url: http://xcaliber-fhir/structureDefinition/document-route
                      valueString: INBOUND
                    - url: http://xcaliber-fhir/structureDefinition/document-source
                      valueString: call-center
                    - url: http://xcaliber-fhir/structureDefinition/document-type
                      valueString: PhoneMessage
                    - url: http://xcaliber-fhir/structureDefinition/document-type-id
                      valueString: DT-PHONE-01
                    - url: http://xcaliber-fhir/structureDefinition/fax-number
                      valueString: +91-80-1234-5678
                    - url: http://xcaliber-fhir/structureDefinition/external-accession-id
                      valueString: EXT-ACC-555
                    - url: http://xcaliber-fhir/structureDefinition/external-note
                      valueString: Voicemail transcription attached to chart.
                    - url: http://xcaliber-fhir/structureDefinition/internal-accession-id
                      valueString: INT-ACC-777
                    - url: http://xcaliber-fhir/structureDefinition/internal-note
                      valueString: Patient prefers morning calls.
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-datetime
                      valueDateTime: '2025-09-12T11:30:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-user
                      valueString: navya.k
                    - url: http://xcaliber-fhir/structureDefinition/observation-date
                      valueDate: '2025-09-12'
                    - url: http://xcaliber-fhir/structureDefinition/observation-datetime
                      valueDateTime: '2025-09-12T09:45:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/priority
                      valueString: routine
                    - url: http://xcaliber-fhir/structureDefinition/receiver-note
                      valueString: Route to PCP for review.
                    - url: http://xcaliber-fhir/structureDefinition/subject
                      valueString: Medication refill inquiry
                    - url: http://xcaliber-fhir/structureDefinition/document-data
                      valueString: BASE64_OR_URL
                appointment-request:
                  value:
                    resourceType: DocumentReference
                    id: apptreq-001
                    custodian:
                      reference: Practitioner/pr-100
                    date: '2025-09-12T09:20:00Z'
                    author:
                    - reference: Practitioner/pr-200
                    status: current
                    description: Appointment request for cardiology consult.
                    category:
                    - coding:
                      - system: athena
                        code: APPOINTMENT_REQUEST
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/document-subclass
                          valueString: CARDIOLOGY
                    context:
                      encounter:
                      - reference: Encounter/enc-123
                      related:
                      - reference: ServiceRequest/sr-456
                      - reference: Appointment/appt-789
                    subject:
                      reference: Patient/pat-001
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/assigned-to
                      valueString: scheduler.team1
                    - url: http://xcaliber-fhir/structureDefinition/contraindication-reason
                      valueCodeableConcept:
                        coding:
                        - code: COVID
                          system: LOCAL
                          display: Recent COVID-19 infection
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason
                      valueCodeableConcept:
                        coding:
                        - code: PATIENT_DECLINED
                          system: LOCAL
                          display: Patient declined offered slot
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason-text
                      valueString: Prefers next week.
                    - url: http://xcaliber-fhir/structureDefinition/deleted-date-time
                      valueDateTime: '2025-09-13T07:30:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/department-id
                      valueString: CARD
                    - url: http://xcaliber-fhir/structureDefinition/document-route
                      valueString: INBOUND
                    - url: http://xcaliber-fhir/structureDefinition/document-source
                      valueString: patient-portal
                    - url: http://xcaliber-fhir/structureDefinition/document-type
                      valueString: AppointmentRequest
                    - url: http://xcaliber-fhir/structureDefinition/document-type-id
                      valueString: DT-APPT-REQ-01
                    - url: http://xcaliber-fhir/structureDefinition/external-accession-id
                      valueString: EXT-ACC-123
                    - url: http://xcaliber-fhir/structureDefinition/external-note
                      valueString: Submitted via portal with preferred dates.
                    - url: http://xcaliber-fhir/structureDefinition/internal-accession-id
                      valueString: INT-ACC-456
                    - url: http://xcaliber-fhir/structureDefinition/internal-note
                      valueString: Needs interpreter.
                    - url: http://xcaliber-fhir/structureDefinition/last-modified-datetime
                      valueDateTime: '2025-09-12T11:35:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/observation-datetime
                      valueDateTime: '2025-09-12T09:15:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/priority
                      valueString: urgent
                    - url: http://xcaliber-fhir/structureDefinition/receiver-note
                      valueString: Route to cardiology scheduling.
                    - url: http://xcaliber-fhir/structureDefinition/subject
                      valueString: Cardiology appointment request
                rto:
                  value:
                    resourceType: DocumentReference
                    id: rto-001
                    custodian:
                      reference: Practitioner/pr-100
                    author:
                    - reference: Practitioner/pr-200
                      display: Dr. A. Mehta
                    date: '2025-09-12T10:05:00Z'
                    status: current
                    category:
                    - coding:
                      - system: athena
                        code: RTO
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/document-subclass
                          valueString: RETURN_TO_WORK
                    content: []
                    subject:
                      reference: Patient/pat-001
                    encounter:
                      reference: Encounter/enc-321
                    context:
                      related:
                      - reference: Appointment/appt-456
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/assigned-to
                      valueString: care.coordinator1
                    - url: http://xcaliber-fhir/structureDefinition/contraindication-reason
                      valueCodeableConcept:
                        coding:
                        - code: HEAVYLIFT
                          system: LOCAL
                          display: Avoid heavy lifting
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason
                      valueCodeableConcept:
                        coding:
                        - code: PATIENT_DECLINED
                          system: LOCAL
                          display: Patient declined restriction letter
                    - url: http://xcaliber-fhir/structureDefinition/document-type
                      valueString: ReturnToWorkNote
                    - url: http://xcaliber-fhir/structureDefinition/declined-reason-text
                      valueString: Wants to discuss with employer first.
                    - url: http://xcaliber-fhir/structureDefinition/created-user
                      valueString: system
                    - url: http://xcaliber-fhir/structureDefinition/interpretation
[...]
