openapi: 3.0.3
info:
  title: allergyintolerance API
  version: 1.0.0
  description: 'Source Ids:

    - Athena: 083fe714-e36e-4851-b2e7-a7166b439f67

    - Elation: 2341a165-3168-4961-9e99-be1aa6c29b9f


    AllergyIntolerance Endpoints


    "AllergyIntolerance" resource is used to record and communicate information about

    a patient''s allergies, intolerances, or adverse reactions to substances such

    as medications, food, environmental factors, or other agents. It provides a structured

    format for documenting details about the specific substance, the type of reaction,

    its severity, and any relevant clinical information.


    Example: Jane Doe''s medical record contains an "AllergyIntolerance" resource

    indicating a confirmed, active, and severe allergy to penicillin, categorized

    as a medication allergy.


    Dependent Sources:


    Patient

    '
servers:
- url: https://xchange-sandbox.xcaliberapis.com
- url: https://your.api.com
tags:
- name: AllergyIntolerance
  description: Operations related to AllergyIntolerance resources
paths:
  /api/v1/AllergyIntolerance:
    get:
      tags:
      - AllergyIntolerance
      summary: Get a list of Allergies
      operationId: getAllergies
      parameters:
      - name: x-source-id
        in: header
        required: true
        description: Source system identifier. — 🔴 On demand filter
        schema:
          type: string
      - name: patient
        in: query
        required: true
        description: Filter by Patient reference/id (FHIR patient). — 🔵 On demand filter
        schema:
          type: string
      - name: asserter
        in: query
        required: false
        description: Search parameter 'asserter' for allergyintolerance.
        schema:
          type: string
      - name: category
        in: query
        required: false
        description: Search parameter 'category' for allergyintolerance.
        schema:
          type: string
      - name: clinical-status
        in: query
        required: false
        description: Search parameter 'clinical-status' for allergyintolerance.
        schema:
          type: string
      - name: criticality
        in: query
        required: false
        description: Search parameter 'criticality' for allergyintolerance.
        schema:
          type: string
      - name: encounter
        in: query
        required: false
        description: Search parameter 'encounter' for allergyintolerance.
        schema:
          type: integer
      - name: last-date
        in: query
        required: false
        description: Search parameter 'last-date' for allergyintolerance.
        schema:
          type: string
          format: date
      - name: manifestation
        in: query
        required: false
        description: Search parameter 'manifestation' for allergyintolerance.
        schema:
          type: string
      - name: onset
        in: query
        required: false
        description: Search parameter 'onset' for allergyintolerance.
        schema:
          type: string
          format: date
      - name: recorder
        in: query
        required: false
        description: Search parameter 'recorder' for allergyintolerance.
        schema:
          type: string
      - name: route
        in: query
        required: false
        description: Search parameter 'route' for allergyintolerance.
        schema:
          type: string
      - name: severity
        in: query
        required: false
        description: Search parameter 'severity' for allergyintolerance.
        schema:
          type: string
      - name: verification-status
        in: query
        required: false
        description: Search parameter 'verification-status' for allergyintolerance.
        schema:
          type: string
      - name: code
        in: query
        required: false
        description: Search parameter 'code' for allergyintolerance.
        schema:
          type: string
          format: token
      - name: date
        in: query
        required: false
        description: Search parameter 'date' for allergyintolerance.
        schema:
          type: string
          format: date
      - name: identifier
        in: query
        required: false
        description: Search parameter 'identifier' for allergyintolerance.
        schema:
          type: string
      - name: type
        in: query
        required: false
        description: Search parameter 'type' for allergyintolerance.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  context:
                    type: object
                    properties:
                      requestId:
                        type: string
                        example: 387fab671795f9340a5bcff9e80808e5
                      source:
                        type: string
                        example: ELATION
                      quorum:
                        type: boolean
                        example: true
                      notify:
                        type: boolean
                        example: true
                  data:
                    type: object
                    properties:
                      resourceType:
                        type: string
                        example: Bundle
                      type:
                        type: string
                        example: searchset
                      total:
                        type: integer
                        example: 1
                      entry:
                        type: array
                        items:
                          type: object
                          properties:
                            resource:
                              type: object
                              properties:
                                resourceType:
                                  type: string
                                  example: AllergyIntolerance
                                id:
                                  type: string
                                  example: allergy-1
                                meta:
                                  type: object
                                  properties:
                                    versionId:
                                      type: string
                                      example: '1'
                                text:
                                  type: object
                                  properties:
                                    status:
                                      type: string
                                      example: generated
                                    div:
                                      type: string
                                      example: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
                                identifier:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      use:
                                        type: string
                                        example: usual
                                      system:
                                        type: string
                                        example: urn:oid:2.16.840.1.113883.4.19.12
                                      value:
                                        type: string
                                        example: '123456789012'
                                code:
                                  type: object
                                  properties:
                                    coding:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          system:
                                            type: string
                                            example: http://snomed.info/sct
                                          code:
                                            type: string
                                            example: '300000003'
                                          display:
                                            type: string
                                            example: Cow's milk allergy
                                subject:
                                  type: object
                                  properties:
                                    reference:
                                      type: string
                                      example: Patient/123
                                onsetDateTime:
                                  type: string
                                  example: '2021-01-01T00:00:00Z'
                                category:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      coding:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            system:
                                              type: string
                                              example: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
                                            code:
                                              type: string
                                              example: adverse
                                            display:
                                              type: string
                                              example: Adverse
                                severity:
                                  type: object
                                  properties:
                                    coding:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          system:
                                            type: string
                                            example: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
                                          code:
                                            type: string
                                            example: critical
                                          display:
                                            type: string
                                            example: Critical
                                clinicalStatus:
                                  type: object
                                  properties:
                                    coding:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          system:
                                            type: string
                                            example: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
                                          code:
                                            type: string
                                            example: active
                                          display:
                                            type: string
                                            example: Active
                                note:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      text:
                                        type: string
                                        example: Patient experiences severe reactions to cow's milk products.
                                reaction:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: object
                                        properties:
                                          coding:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                system:
                                                  type: string
                                                  example: http://snomed.info/sct
                                                code:
                                                  type: string
                                                  example: '3000000'
                                                display:
                                                  type: string
                                                  example: Hypersensitivity
                                      manifestation:
                                        type: string
                                        example: Anaphylaxis
                              example:
                                resourceType: AllergyIntolerance
                                id: allergy-1
                                meta:
                                  versionId: '1'
                                text:
                                  status: generated
                                  div: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
                                identifier:
                                - use: usual
                                  system: urn:oid:2.16.840.1.113883.4.19.12
                                  value: '123456789012'
                                code:
                                  coding:
                                  - system: http://snomed.info/sct
                                    code: '300000003'
                                    display: Cow's milk allergy
                                subject:
                                  reference: Patient/123
                                onsetDateTime: '2021-01-01T00:00:00Z'
                                category:
                                - coding:
                                  - system: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
                                    code: adverse
                                    display: Adverse
                                severity:
                                  coding:
                                  - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
                                    code: critical
                                    display: Critical
                                clinicalStatus:
                                  coding:
                                  - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
                                    code: active
                                    display: Active
                                note:
                                - text: Patient experiences severe reactions to cow's milk products.
                                reaction:
                                - type:
                                    coding:
                                    - system: http://snomed.info/sct
                                      code: '3000000'
                                      display: Hypersensitivity
                                  manifestation: Anaphylaxis
                example:
                  context:
                    requestId: 387fab671795f9340a5bcff9e80808e5
                    source: ELATION
                    quorum: true
                    notify: true
                  data:
                    resourceType: Bundle
                    type: searchset
                    total: 1
                    entry:
                    - resource:
                        resourceType: AllergyIntolerance
                        id: allergy-1
                        meta:
                          versionId: '1'
                        text:
                          status: generated
                          div: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
                        identifier:
                        - use: usual
                          system: urn:oid:2.16.840.1.113883.4.19.12
                          value: '123456789012'
                        code:
                          coding:
                          - system: http://snomed.info/sct
                            code: '300000003'
                            display: Cow's milk allergy
                        subject:
                          reference: Patient/123
                        onsetDateTime: '2021-01-01T00:00:00Z'
                        category:
                        - coding:
                          - system: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
                            code: adverse
                            display: Adverse
                        severity:
                          coding:
                          - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
                            code: critical
                            display: Critical
                        clinicalStatus:
                          coding:
                          - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
                            code: active
                            display: Active
                        note:
                        - text: Patient experiences severe reactions to cow's milk products.
                        reaction:
                        - type:
                            coding:
                            - system: http://snomed.info/sct
                              code: '3000000'
                              display: Hypersensitivity
                          manifestation: Anaphylaxis
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: patient id is missing
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 400
                  message: patient id is missing
                  status: error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 401
                  message: Unauthorized
                  status: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal server error
                  details:
                    type: object
                    example: {}
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 500
                  message: Internal server error
                  details: {}
                  status: error
    post:
      tags:
      - AllergyIntolerance
      summary: Create Allergy
      operationId: createAllergy
      parameters:
      - name: x-source-id
        in: header
        required: true
        description: Source system identifier. — 🔴 On demand filter
        schema:
          type: string
      - name: patient
        in: query
        required: true
        description: Filter by Patient reference/id (FHIR patient). — 🔵 On demand filter
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
                  properties:
                    requestId:
                      type: string
                      example: 387fab671795f9340a5bcff9e80808e5
                    source:
                      type: string
                      example: ELATION
                    quorum:
                      type: boolean
                      example: true
                    notify:
                      type: boolean
                      example: true
                data:
                  type: object
                  properties:
                    resourceType:
                      type: string
                      example: AllergyIntolerance
                    id:
                      type: string
                      example: allergy-1
                    meta:
                      type: object
                      properties:
                        versionId:
                          type: string
                          example: '1'
                    text:
                      type: object
                      properties:
                        status:
                          type: string
                          example: generated
                        div:
                          type: string
                          example: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
                    identifier:
                      type: array
                      items:
                        type: object
                        properties:
                          use:
                            type: string
                            example: usual
                          system:
                            type: string
                            example: urn:oid:2.16.840.1.113883.4.19.12
                          value:
                            type: string
                            example: '123456789012'
                    code:
                      type: object
                      properties:
                        coding:
                          type: array
                          items:
                            type: object
                            properties:
                              system:
                                type: string
                                example: http://snomed.info/sct
                              code:
                                type: string
                                example: '300000003'
                              display:
                                type: string
                                example: Cow's milk allergy
                    subject:
                      type: object
                      properties:
                        reference:
                          type: string
                          example: Patient/123
                    onsetDateTime:
                      type: string
                      example: '2021-01-01T00:00:00Z'
                    category:
                      type: array
                      items:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                  example: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
                                code:
                                  type: string
                                  example: adverse
                                display:
                                  type: string
                                  example: Adverse
                    severity:
                      type: object
                      properties:
                        coding:
                          type: array
                          items:
                            type: object
                            properties:
                              system:
                                type: string
                                example: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
                              code:
                                type: string
                                example: critical
                              display:
                                type: string
                                example: Critical
                    clinicalStatus:
                      type: object
                      properties:
                        coding:
                          type: array
                          items:
                            type: object
                            properties:
                              system:
                                type: string
                                example: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
                              code:
                                type: string
                                example: active
                              display:
                                type: string
                                example: Active
                    note:
                      type: array
                      items:
                        type: object
                        properties:
                          text:
                            type: string
                            example: Patient experiences severe reactions to cow's milk products.
                    reaction:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: object
                            properties:
                              coding:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    system:
                                      type: string
                                      example: http://snomed.info/sct
                                    code:
                                      type: string
                                      example: '3000000'
                                    display:
                                      type: string
                                      example: Hypersensitivity
                          manifestation:
                            type: string
                            example: Anaphylaxis
                  example:
                    resourceType: AllergyIntolerance
                    id: allergy-1
                    meta:
                      versionId: '1'
                    text:
                      status: generated
                      div: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
                    identifier:
                    - use: usual
                      system: urn:oid:2.16.840.1.113883.4.19.12
                      value: '123456789012'
                    code:
                      coding:
                      - system: http://snomed.info/sct
                        code: '300000003'
                        display: Cow's milk allergy
                    subject:
                      reference: Patient/123
                    onsetDateTime: '2021-01-01T00:00:00Z'
                    category:
                    - coding:
                      - system: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
                        code: adverse
                        display: Adverse
                    severity:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
                        code: critical
                        display: Critical
                    clinicalStatus:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
                        code: active
                        display: Active
                    note:
                    - text: Patient experiences severe reactions to cow's milk products.
                    reaction:
                    - type:
                        coding:
                        - system: http://snomed.info/sct
                          code: '3000000'
                          display: Hypersensitivity
                      manifestation: Anaphylaxis
              example:
                context:
                  requestId: 387fab671795f9340a5bcff9e80808e5
                  source: ELATION
                  quorum: true
                  notify: true
                data:
                  resourceType: AllergyIntolerance
                  id: allergy-1
                  meta:
                    versionId: '1'
                  text:
                    status: generated
                    div: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
                  identifier:
                  - use: usual
                    system: urn:oid:2.16.840.1.113883.4.19.12
                    value: '123456789012'
                  code:
                    coding:
                    - system: http://snomed.info/sct
                      code: '300000003'
                      display: Cow's milk allergy
                  subject:
                    reference: Patient/123
                  onsetDateTime: '2021-01-01T00:00:00Z'
                  category:
                  - coding:
                    - system: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
                      code: adverse
                      display: Adverse
                  severity:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
                      code: critical
                      display: Critical
                  clinicalStatus:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
                      code: active
                      display: Active
                  note:
                  - text: Patient experiences severe reactions to cow's milk products.
                  reaction:
                  - type:
                      coding:
                      - system: http://snomed.info/sct
                        code: '3000000'
                        display: Hypersensitivity
                    manifestation: Anaphylaxis
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  context:
                    type: object
                    properties:
                      requestId:
                        type: string
                        example: 387fab671795f9340a5bcff9e80808e5
                      source:
                        type: string
                        example: ELATION
                      quorum:
                        type: boolean
                        example: true
                      notify:
                        type: boolean
                        example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: allergy-1
                      status:
                        type: string
                        example: success
                example:
                  context:
                    requestId: 387fab671795f9340a5bcff9e80808e5
                    source: ELATION
                    quorum: true
                    notify: true
                  data:
                    id: allergy-1
                    status: success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: patient id is missing
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 400
                  message: patient id is missing
                  status: error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 401
                  message: Unauthorized
                  status: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal server error
                  details:
                    type: object
                    example: {}
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 500
                  message: Internal server error
                  details: {}
                  status: error
    parameters: []
  /api/v1/AllergyIntolerance/{allergy-intolerance-id}:
    get:
      tags:
      - AllergyIntolerance
      summary: Get Allergy by ID
      operationId: getAllergyById
      parameters:
      - name: x-source-id
        in: header
        required: true
        description: Source system identifier. — 🔴 On demand filter
        schema:
          type: string
      - name: allergy-intolerance-id
        in: path
        required: true
        description: Source system identifier.
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  context:
                    type: object
                    properties:
                      requestId:
                        type: string
                        example: 387fab671795f9340a5bcff9e80808e5
                      source:
                        type: string
                        example: ELATION
                      quorum:
                        type: boolean
                        example: true
                      notify:
                        type: boolean
                        example: true
                  data:
                    type: object
                    properties:
                      resourceType:
                        type: string
                        example: AllergyIntolerance
                      id:
                        type: string
                        example: allergy-1
                      meta:
                        type: object
                        properties:
                          versionId:
                            type: string
                            example: '1'
                      text:
                        type: object
                        properties:
                          status:
                            type: string
                            example: generated
                          div:
                            type: string
                            example: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
                      identifier:
                        type: array
                        items:
                          type: object
                          properties:
                            use:
                              type: string
                              example: usual
                            system:
                              type: string
                              example: urn:oid:2.16.840.1.113883.4.19.12
                            value:
                              type: string
                              example: '123456789012'
                      code:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                  example: http://snomed.info/sct
                                code:
                                  type: string
                                  example: '300000003'
                                display:
                                  type: string
                                  example: Cow's milk allergy
                      subject:
                        type: object
                        properties:
                          reference:
                            type: string
                            example: Patient/123
                      onsetDateTime:
                        type: string
                        example: '2021-01-01T00:00:00Z'
                      category:
                        type: array
                        items:
                          type: object
                          properties:
                            coding:
                              type: array
                              items:
                                type: object
                                properties:
                                  system:
                                    type: string
                                    example: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
                                  code:
                                    type: string
                                    example: adverse
                                  display:
                                    type: string
                                    example: Adverse
                      severity:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                  example: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
                                code:
                                  type: string
                                  example: critical
                                display:
                                  type: string
                                  example: Critical
                      clinicalStatus:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                  example: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
                                code:
                                  type: string
                                  example: active
                                display:
                                  type: string
                                  example: Active
                      note:
                        type: array
                        items:
                          type: object
                          properties:
                            text:
                              type: string
                              example: Patient experiences severe reactions to cow's milk products.
                      reaction:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: object
                              properties:
                                coding:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      system:
                                        type: string
                                        example: http://snomed.info/sct
                                      code:
                                        type: string
                                        example: '3000000'
                                      display:
                                        type: string
                                        example: Hypersensitivity
                            manifestation:
                              type: string
                              example: Anaphylaxis
                    example:
                      resourceType: AllergyIntolerance
                      id: allergy-1
                      meta:
                        versionId: '1'
                      text:
                        status: generated
                        div: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
                      identifier:
                      - use: usual
                        system: urn:oid:2.16.840.1.113883.4.19.12
                        value: '123456789012'
                      code:
                        coding:
                        - system: http://snomed.info/sct
                          code: '300000003'
                          display: Cow's milk allergy
                      subject:
                        reference: Patient/123
                      onsetDateTime: '2021-01-01T00:00:00Z'
                      category:
                      - coding:
                        - system: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
                          code: adverse
                          display: Adverse
                      severity:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
                          code: critical
                          display: Critical
                      clinicalStatus:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
                          code: active
                          display: Active
                      note:
                      - text: Patient experiences severe reactions to cow's milk products.
                      reaction:
                      - type:
                          coding:
                          - system: http://snomed.info/sct
                            code: '3000000'
                            display: Hypersensitivity
                        manifestation: Anaphylaxis
                example:
                  context:
                    requestId: 387fab671795f9340a5bcff9e80808e5
                    source: ELATION
                    quorum: true
                    notify: true
                  data:
                    resourceType: AllergyIntolerance
                    id: allergy-1
                    meta:
                      versionId: '1'
                    text:
                      status: generated
                      div: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
                    identifier:
                    - use: usual
                      system: urn:oid:2.16.840.1.113883.4.19.12
                      value: '123456789012'
                    code:
                      coding:
                      - system: http://snomed.info/sct
                        code: '300000003'
                        display: Cow's milk allergy
                    subject:
                      reference: Patient/123
                    onsetDateTime: '2021-01-01T00:00:00Z'
                    category:
                    - coding:
                      - system: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
                        code: adverse
                        display: Adverse
                    severity:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
                        code: critical
                        display: Critical
                    clinicalStatus:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
                        code: active
                        display: Active
                    note:
                    - text: Patient experiences severe reactions to cow's milk products.
                    reaction:
                    - type:
                        coding:
                        - system: http://snomed.info/sct
                          code: '3000000'
                          display: Hypersensitivity
                      manifestation: Anaphylaxis
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: patient id is missing
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 400
                  message: patient id is missing
                  status: error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 401
                  message: Unauthorized
                  status: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal server error
                  details:
                    type: object
                    example: {}
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 500
                  message: Internal server error
                  details: {}
                  status: error
    put:
      tags:
      - AllergyIntolerance
      summary: Update Allergy
      operationId: updateAllergy
      parameters:
      - name: x-source-id
        in: header
        required: true
        description: Source system identifier. — 🔴 On demand filter
        schema:
          type: string
      - name: allergy-intolerance-id
        in: path
        required: true
        description: Source system identifier.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
                  properties:
                    requestId:
                      type: string
                      example: 387fab671795f9340a5bcff9e80808e5
                    source:
                      type: string
                      example: ELATION
                    quorum:
                      type: boolean
                      example: true
                    notify:
                      type: boolean
                      example: true
                data:
                  type: object
                  properties:
                    resourceType:
                      type: string
                      example: AllergyIntolerance
                    id:
                      type: string
                      example: allergy-1
                    meta:
                      type: object
                      properties:
                        versionId:
                          type: string
                          example: '1'
                    text:
                      type: object
                      properties:
                        status:
                          type: string
                          example: generated
                        div:
                          type: string
                          example: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
                    identifier:
                      type: array
                      items:
                        type: object
                        properties:
                          use:
                            type: string
                            example: usual
                          system:
                            type: string
                            example: urn:oid:2.16.840.1.113883.4.19.12
                          value:
                            type: string
                            example: '123456789012'
                    code:
                      type: object
                      properties:
                        coding:
                          type: array
                          items:
                            type: object
                            properties:
                              system:
                                type: string
                                example: http://snomed.info/sct
                              code:
                                type: string
                                example: '300000003'
                              display:
                                type: string
                                example: Cow's milk allergy
                    subject:
                      type: object
                      properties:
                        reference:
                          type: string
                          example: Patient/123
                    onsetDateTime:
                      type: string
                      example: '2021-01-01T00:00:00Z'
                    category:
                      type: array
                      items:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                  example: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
                                code:
                                  type: string
                                  example: adverse
                                display:
                                  type: string
                                  example: Adverse
                    severity:
                      type: object
                      properties:
                        coding:
                          type: array
                          items:
                            type: object
                            properties:
                              system:
                                type: string
                                example: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
                              code:
                                type: string
                                example: critical
                              display:
                                type: string
                                example: Critical
                    clinicalStatus:
                      type: object
                      properties:
                        coding:
                          type: array
                          items:
                            type: object
                            properties:
                              system:
                                type: string
                                example: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
                              code:
                                type: string
                                example: active
                              display:
                                type: string
                                example: Active
                    note:
                      type: array
                      items:
                        type: object
                        properties:
                          text:
                            type: string
                            example: Patient experiences severe reactions to cow's milk products.
                    reaction:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: object
                            properties:
                              coding:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    system:
                                      type: string
                                      example: http://snomed.info/sct
                                    code:
                                      type: string
                                      example: '3000000'
                                    display:
                                      type: string
                                      example: Hypersensitivity
                          manifestation:
                            type: string
                            example: Anaphylaxis
                  example:
                    resourceType: AllergyIntolerance
                    id: allergy-1
                    meta:
                      versionId: '1'
                    text:
                      status: generated
                      div: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
                    identifier:
                    - use: usual
                      system: urn:oid:2.16.840.1.113883.4.19.12
                      value: '123456789012'
                    code:
                      coding:
                      - system: http://snomed.info/sct
                        code: '300000003'
                        display: Cow's milk allergy
                    subject:
                      reference: Patient/123
                    onsetDateTime: '2021-01-01T00:00:00Z'
                    category:
                    - coding:
                      - system: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
                        code: adverse
                        display: Adverse
                    severity:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
                        code: critical
                        display: Critical
                    clinicalStatus:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
                        code: active
                        display: Active
                    note:
                    - text: Patient experiences severe reactions to cow's milk products.
                    reaction:
                    - type:
                        coding:
                        - system: http://snomed.info/sct
                          code: '3000000'
                          display: Hypersensitivity
                      manifestation: Anaphylaxis
              example:
                context:
                  requestId: 387fab671795f9340a5bcff9e80808e5
                  source: ELATION
                  quorum: true
                  notify: true
                data:
                  resourceType: AllergyIntolerance
                  id: allergy-1
                  meta:
                    versionId: '1'
                  text:
                    status: generated
                    div: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
                  identifier:
                  - use: usual
                    system: urn:oid:2.16.840.1.113883.4.19.12
                    value: '123456789012'
                  code:
                    coding:
                    - system: http://snomed.info/sct
                      code: '300000003'
                      display: Cow's milk allergy
                  subject:
                    reference: Patient/123
                  onsetDateTime: '2021-01-01T00:00:00Z'
                  category:
                  - coding:
                    - system: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
                      code: adverse
                      display: Adverse
                  severity:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
                      code: critical
                      display: Critical
                  clinicalStatus:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
                      code: active
                      display: Active
                  note:
                  - text: Patient experiences severe reactions to cow's milk products.
                  reaction:
                  - type:
                      coding:
                      - system: http://snomed.info/sct
                        code: '3000000'
                        display: Hypersensitivity
                    manifestation: Anaphylaxis
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  context:
                    type: object
                    properties:
                      requestId:
                        type: string
                        example: 387fab671795f9340a5bcff9e80808e5
                      source:
                        type: string
                        example: ELATION
                      quorum:
                        type: boolean
                        example: true
                      notify:
                        type: boolean
                        example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: allergy-1
                      status:
                        type: string
                        example: success
                example:
                  context:
                    requestId: 387fab671795f9340a5bcff9e80808e5
                    source: ELATION
                    quorum: true
                    notify: true
                  data:
                    id: allergy-1
                    status: success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: patient id is missing
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 400
                  message: patient id is missing
                  status: error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 401
                  message: Unauthorized
                  status: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal server error
                  details:
                    type: object
                    example: {}
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 500
                  message: Internal server error
                  details: {}
                  status: error
    delete:
      tags:
      - AllergyIntolerance
      summary: Delete Allergy
      operationId: deleteAllergy
      parameters:
      - name: x-source-id
        in: header
        required: true
        description: Source system identifier. — 🔴 On demand filter
        schema:
          type: string
      - name: allergy-intolerance-id
        in: path
        required: true
        description: Source system identifier.
        schema:
          type: string
      responses:
        '204':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: allergy-1
                  status:
                    type: string
                    example: success
                example:
                  id: allergy-1
                  status: success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: patient id is missing
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 400
                  message: patient id is missing
                  status: error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 401
                  message: Unauthorized
                  status: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal server error
                  details:
                    type: object
                    example: {}
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 500
                  message: Internal server error
                  details: {}
                  status: error
components:
  schemas:
    AllergyIntoleranceBundle:
      type: object
      properties:
        context:
          type: object
          properties:
            requestId:
              type: string
              example: 387fab671795f9340a5bcff9e80808e5
            source:
              type: string
              example: ELATION
            quorum:
              type: boolean
              example: true
            notify:
              type: boolean
              example: true
        data:
          type: object
          properties:
            resourceType:
              type: string
              example: Bundle
            type:
              type: string
              example: searchset
            total:
              type: integer
              example: 1
            entry:
              type: array
              items:
                type: object
                properties:
                  resource:
                    type: object
                    properties:
                      resourceType:
                        type: string
                        example: AllergyIntolerance
                      id:
                        type: string
                        example: allergy-1
                      meta:
                        type: object
                        properties:
                          versionId:
                            type: string
                            example: '1'
                      text:
                        type: object
                        properties:
                          status:
                            type: string
                            example: generated
                          div:
                            type: string
                            example: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
                      identifier:
                        type: array
                        items:
                          type: object
                          properties:
                            use:
                              type: string
                              example: usual
                            system:
                              type: string
                              example: urn:oid:2.16.840.1.113883.4.19.12
                            value:
                              type: string
                              example: '123456789012'
                      code:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                  example: http://snomed.info/sct
                                code:
                                  type: string
                                  example: '300000003'
                                display:
                                  type: string
                                  example: Cow's milk allergy
                      subject:
                        type: object
                        properties:
                          reference:
                            type: string
                            example: Patient/123
                      onsetDateTime:
                        type: string
                        example: '2021-01-01T00:00:00Z'
                      category:
                        type: array
                        items:
                          type: object
                          properties:
                            coding:
                              type: array
                              items:
                                type: object
                                properties:
                                  system:
                                    type: string
                                    example: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
                                  code:
                                    type: string
                                    example: adverse
                                  display:
                                    type: string
                                    example: Adverse
                      severity:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                  example: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
                                code:
                                  type: string
                                  example: critical
                                display:
                                  type: string
                                  example: Critical
                      clinicalStatus:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                  example: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
                                code:
                                  type: string
                                  example: active
                                display:
                                  type: string
                                  example: Active
                      note:
                        type: array
                        items:
                          type: object
                          properties:
                            text:
                              type: string
                              example: Patient experiences severe reactions to cow's milk products.
                      reaction:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: object
                              properties:
                                coding:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      system:
                                        type: string
                                        example: http://snomed.info/sct
                                      code:
                                        type: string
                                        example: '3000000'
                                      display:
                                        type: string
                                        example: Hypersensitivity
                            manifestation:
                              type: string
                              example: Anaphylaxis
                    example:
                      resourceType: AllergyIntolerance
                      id: allergy-1
                      meta:
                        versionId: '1'
                      text:
                        status: generated
                        div: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
                      identifier:
                      - use: usual
                        system: urn:oid:2.16.840.1.113883.4.19.12
                        value: '123456789012'
                      code:
                        coding:
                        - system: http://snomed.info/sct
                          code: '300000003'
                          display: Cow's milk allergy
                      subject:
                        reference: Patient/123
                      onsetDateTime: '2021-01-01T00:00:00Z'
                      category:
                      - coding:
                        - system: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
                          code: adverse
                          display: Adverse
                      severity:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
                          code: critical
                          display: Critical
                      clinicalStatus:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
                          code: active
                          display: Active
                      note:
                      - text: Patient experiences severe reactions to cow's milk products.
                      reaction:
                      - type:
                          coding:
                          - system: http://snomed.info/sct
                            code: '3000000'
                            display: Hypersensitivity
                        manifestation: Anaphylaxis
      example:
        context:
          requestId: 387fab671795f9340a5bcff9e80808e5
          source: ELATION
          quorum: true
          notify: true
        data:
          resourceType: Bundle
          type: searchset
          total: 1
          entry:
          - resource:
              resourceType: AllergyIntolerance
              id: allergy-1
              meta:
                versionId: '1'
              text:
                status: generated
                div: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
              identifier:
              - use: usual
                system: urn:oid:2.16.840.1.113883.4.19.12
                value: '123456789012'
              code:
                coding:
                - system: http://snomed.info/sct
                  code: '300000003'
                  display: Cow's milk allergy
              subject:
                reference: Patient/123
              onsetDateTime: '2021-01-01T00:00:00Z'
              category:
              - coding:
                - system: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
                  code: adverse
                  display: Adverse
              severity:
                coding:
                - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
                  code: critical
                  display: Critical
              clinicalStatus:
                coding:
                - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
                  code: active
                  display: Active
              note:
              - text: Patient experiences severe reactions to cow's milk products.
              reaction:
              - type:
                  coding:
                  - system: http://snomed.info/sct
                    code: '3000000'
                    display: Hypersensitivity
                manifestation: Anaphylaxis
    AllergyIntoleranceCreate:
      type: object
      properties:
        context:
          type: object
          properties:
            requestId:
              type: string
              example: 387fab671795f9340a5bcff9e80808e5
            source:
              type: string
              example: ELATION
            quorum:
              type: boolean
              example: true
            notify:
              type: boolean
              example: true
        data:
          type: object
          properties:
            resourceType:
              type: string
              example: AllergyIntolerance
            id:
              type: string
              example: allergy-1
            meta:
              type: object
              properties:
                versionId:
                  type: string
                  example: '1'
            text:
              type: object
              properties:
                status:
                  type: string
                  example: generated
                div:
                  type: string
                  example: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
            identifier:
              type: array
              items:
                type: object
                properties:
                  use:
                    type: string
                    example: usual
                  system:
                    type: string
                    example: urn:oid:2.16.840.1.113883.4.19.12
                  value:
                    type: string
                    example: '123456789012'
            code:
              type: object
              properties:
                coding:
                  type: array
                  items:
                    type: object
                    properties:
                      system:
                        type: string
                        example: http://snomed.info/sct
                      code:
                        type: string
                        example: '300000003'
                      display:
                        type: string
                        example: Cow's milk allergy
            subject:
              type: object
              properties:
                reference:
                  type: string
                  example: Patient/123
            onsetDateTime:
              type: string
              example: '2021-01-01T00:00:00Z'
            category:
              type: array
              items:
                type: object
                properties:
                  coding:
                    type: array
                    items:
                      type: object
                      properties:
                        system:
                          type: string
                          example: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
                        code:
                          type: string
                          example: adverse
                        display:
                          type: string
                          example: Adverse
            severity:
              type: object
              properties:
                coding:
                  type: array
                  items:
                    type: object
                    properties:
                      system:
                        type: string
                        example: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
                      code:
                        type: string
                        example: critical
                      display:
                        type: string
                        example: Critical
            clinicalStatus:
              type: object
              properties:
                coding:
                  type: array
                  items:
                    type: object
                    properties:
                      system:
                        type: string
                        example: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
                      code:
                        type: string
                        example: active
                      display:
                        type: string
                        example: Active
            note:
              type: array
              items:
                type: object
                properties:
                  text:
                    type: string
                    example: Patient experiences severe reactions to cow's milk products.
            reaction:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: object
                    properties:
                      coding:
                        type: array
                        items:
                          type: object
                          properties:
                            system:
                              type: string
                              example: http://snomed.info/sct
                            code:
                              type: string
                              example: '3000000'
                            display:
                              type: string
                              example: Hypersensitivity
                  manifestation:
                    type: string
                    example: Anaphylaxis
          example:
            resourceType: AllergyIntolerance
            id: allergy-1
            meta:
              versionId: '1'
            text:
              status: generated
              div: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
            identifier:
            - use: usual
              system: urn:oid:2.16.840.1.113883.4.19.12
              value: '123456789012'
            code:
              coding:
              - system: http://snomed.info/sct
                code: '300000003'
                display: Cow's milk allergy
            subject:
              reference: Patient/123
            onsetDateTime: '2021-01-01T00:00:00Z'
            category:
            - coding:
              - system: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
                code: adverse
                display: Adverse
            severity:
              coding:
              - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
                code: critical
                display: Critical
            clinicalStatus:
              coding:
              - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
                code: active
                display: Active
            note:
            - text: Patient experiences severe reactions to cow's milk products.
            reaction:
            - type:
                coding:
                - system: http://snomed.info/sct
                  code: '3000000'
                  display: Hypersensitivity
              manifestation: Anaphylaxis
      example:
        context:
          requestId: 387fab671795f9340a5bcff9e80808e5
          source: ELATION
          quorum: true
          notify: true
        data:
          resourceType: AllergyIntolerance
          id: allergy-1
          meta:
            versionId: '1'
          text:
            status: generated
            div: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
          identifier:
          - use: usual
            system: urn:oid:2.16.840.1.113883.4.19.12
            value: '123456789012'
          code:
            coding:
            - system: http://snomed.info/sct
              code: '300000003'
              display: Cow's milk allergy
          subject:
            reference: Patient/123
          onsetDateTime: '2021-01-01T00:00:00Z'
          category:
          - coding:
            - system: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
              code: adverse
              display: Adverse
          severity:
            coding:
            - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
              code: critical
              display: Critical
          clinicalStatus:
            coding:
            - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
              code: active
              display: Active
          note:
          - text: Patient experiences severe reactions to cow's milk products.
          reaction:
          - type:
              coding:
              - system: http://snomed.info/sct
                code: '3000000'
                display: Hypersensitivity
            manifestation: Anaphylaxis
    AllergyIntoleranceResource:
      type: object
      properties:
        resourceType:
          type: string
          example: AllergyIntolerance
        id:
          type: string
          example: allergy-1
        meta:
          type: object
          properties:
            versionId:
              type: string
              example: '1'
        text:
          type: object
          properties:
            status:
              type: string
              example: generated
            div:
              type: string
              example: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
        identifier:
          type: array
          items:
            type: object
            properties:
              use:
                type: string
                example: usual
              system:
                type: string
                example: urn:oid:2.16.840.1.113883.4.19.12
              value:
                type: string
                example: '123456789012'
        code:
          type: object
          properties:
            coding:
              type: array
              items:
                type: object
                properties:
                  system:
                    type: string
                    example: http://snomed.info/sct
                  code:
                    type: string
                    example: '300000003'
                  display:
                    type: string
                    example: Cow's milk allergy
        subject:
          type: object
          properties:
            reference:
              type: string
              example: Patient/123
        onsetDateTime:
          type: string
          example: '2021-01-01T00:00:00Z'
        category:
          type: array
          items:
            type: object
            properties:
              coding:
                type: array
                items:
                  type: object
                  properties:
                    system:
                      type: string
                      example: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
                    code:
                      type: string
                      example: adverse
                    display:
                      type: string
                      example: Adverse
        severity:
          type: object
          properties:
            coding:
              type: array
              items:
                type: object
                properties:
                  system:
                    type: string
                    example: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
                  code:
                    type: string
                    example: critical
                  display:
                    type: string
                    example: Critical
        clinicalStatus:
          type: object
          properties:
            coding:
              type: array
              items:
                type: object
                properties:
                  system:
                    type: string
                    example: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
                  code:
                    type: string
                    example: active
                  display:
                    type: string
                    example: Active
        note:
          type: array
          items:
            type: object
            properties:
              text:
                type: string
                example: Patient experiences severe reactions to cow's milk products.
        reaction:
          type: array
          items:
            type: object
            properties:
              type:
                type: object
                properties:
                  coding:
                    type: array
                    items:
                      type: object
                      properties:
                        system:
                          type: string
                          example: http://snomed.info/sct
                        code:
                          type: string
                          example: '3000000'
                        display:
                          type: string
                          example: Hypersensitivity
              manifestation:
                type: string
                example: Anaphylaxis
      example:
        resourceType: AllergyIntolerance
        id: allergy-1
        meta:
          versionId: '1'
        text:
          status: generated
          div: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
        identifier:
        - use: usual
          system: urn:oid:2.16.840.1.113883.4.19.12
          value: '123456789012'
        code:
          coding:
          - system: http://snomed.info/sct
            code: '300000003'
            display: Cow's milk allergy
        subject:
          reference: Patient/123
        onsetDateTime: '2021-01-01T00:00:00Z'
        category:
        - coding:
          - system: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
            code: adverse
            display: Adverse
        severity:
          coding:
          - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
            code: critical
            display: Critical
        clinicalStatus:
          coding:
          - system: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
            code: active
            display: Active
        note:
        - text: Patient experiences severe reactions to cow's milk products.
        reaction:
        - type:
            coding:
            - system: http://snomed.info/sct
              code: '3000000'
              display: Hypersensitivity
          manifestation: Anaphylaxis
    AllergyIntoleranceResponse:
      type: object
      properties:
        context:
          type: object
          properties:
            requestId:
              type: string
              example: 387fab671795f9340a5bcff9e80808e5
            source:
              type: string
              example: ELATION
            quorum:
              type: boolean
              example: true
            notify:
              type: boolean
              example: true
        data:
          type: object
          properties:
            resourceType:
              type: string
              example: AllergyIntolerance
            id:
              type: string
              example: allergy-1
            meta:
              type: object
              properties:
                versionId:
                  type: string
                  example: '1'
            text:
              type: object
              properties:
                status:
                  type: string
                  example: generated
                div:
                  type: string
                  example: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
            identifier:
              type: array
              items:
                type: object
                properties:
                  use:
                    type: string
                    example: usual
                  system:
                    type: string
                    example: urn:oid:2.16.840.1.113883.4.19.12
                  value:
                    type: string
                    example: '123456789012'
            code:
              type: object
              properties:
                coding:
                  type: array
                  items:
                    type: object
                    properties:
                      system:
                        type: string
                        example: http://snomed.info/sct
                      code:
                        type: string
                        example: '300000003'
                      display:
                        type: string
                        example: Cow's milk allergy
            subject:
              type: object
              properties:
                reference:
                  type: string
                  example: Patient/123
            onsetDateTime:
              type: string
              example: '2021-01-01T00:00:00Z'
            category:
              type: array
              items:
                type: object
                properties:
                  coding:
                    type: array
                    items:
                      type: object
                      properties:
                        system:
                          type: string
                          example: http://terminology.hl7.org/CodeSystem/allergyintolerancecategory
                        code:
                          type: string
                          example: adverse
                        display:
                          type: string
                          example: Adverse
            severity:
              type: object
              properties:
                coding:
                  type: array
                  items:
                    type: object
                    properties:
                      system:
                        type: string
                        example: http://terminology.hl7.org/CodeSystem/allergyintoleranceseverity
                      code:
                        type: string
                        example: critical
                      display:
                        type: string
                        example: Critical
            clinicalStatus:
              type: object
              properties:
                coding:
                  type: array
                  items:
                    type: object
                    properties:
                      system:
                        type: string
                        example: http://terminology.hl7.org/CodeSystem/allergyintoleranceclinicalstatus
                      code:
                        type: string
                        example: active
                      display:
                        type: string
                        example: Active
            note:
              type: array
              items:
                type: object
                properties:
                  text:
                    type: string
                    example: Patient experiences severe reactions to cow's milk products.
            reaction:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: object
                    properties:
                      coding:
                        type: array
                        items:
                          type: object
                          properties:
                            system:
                              type: string
                              example: http://snomed.info/sct
                            code:
                              type: string
                              example: '3000000'
                            display:
                              type: string
                              example: Hypersensitivity
                  manifestation:
                    type: string
                    example: Anaphylaxis
          example:
            resourceType: AllergyIntolerance
            id: allergy-1
            meta:
              versionId: '1'
            text:
              status: generated
              div: <div xmlns="http://www.w3.org/1999/xhtml">Allergy Intolerance</div>
            identifier:
            - use: usual
              system: urn:oid:2.16.840.1.113883.4.19.12
              value: '123456789012'
            code:
              coding:
              - system: http://snomed.info/sct
                code: '300000003'
                display: Cow's milk allergy
            subject:
              reference: Patient/123
            onsetDateTime: '2021-01-01T00:00:00Z'
            category:
            - coding:
[...]
