openapi: 3.0.3
info:
  title: Family Member History Endpoints
  version: 1.0.0
  description: "Source Ids:\n- Athena: 083fe714-e36e-4851-b2e7-a7166b439f67\n- Elation: 2341a165-3168-4961-9e99-be1aa6c29b9f\n\n\"FamilyMemberHistory\" resource is used to record and share information about the health history of a patient's family members. This information is essential for assessing a patient's risk for certain diseases, guiding preventive care, and informing personalized treatment plans.\n \nExample: The patient's mother, Mary Smith, was diagnosed with breast cancer at the age of 45. The \"FamilyMemberHistory\" resource would specify the relationship (\"mother\"), date of the diagnosis, condition codes (e.g. SNOMED), birthdate, and other relevant attributes about the mother.\n\nDependent Sources:\n\n- Patient\n"
servers:
- url: https://xchange-sandbox.xcaliberapis.com
- url: https://your.api.com
tags:
- name: FamilyMemberHistory
  description: Operations related to FHIR FamilyMemberHistory resources
paths:
  /api/v2/FamilyMemberHistory:
    get:
      tags:
      - FamilyMemberHistory
      summary: Get Family Member History
      operationId: getFamilyMemberHistory
      parameters:
      - name: x-source-id
        in: header
        required: true
        description: Source system identifier. — 🔴 On demand filter
        schema:
          type: string
      - name: patient
        in: query
        required: true
        description: Filter by Patient reference/id (FHIR patient). — 🔵 On demand filter
        schema:
          type: string
      - name: instantiates-canonical
        in: query
        required: false
        description: Search parameter 'instantiates-canonical' for familymemberhistory.
        schema:
          type: string
      - name: instantiates-uri
        in: query
        required: false
        description: Search parameter 'instantiates-uri' for familymemberhistory.
        schema:
          type: string
      - name: relationship
        in: query
        required: false
        description: Search parameter 'relationship' for familymemberhistory.
        schema:
          type: string
      - name: sex
        in: query
        required: false
        description: Search parameter 'sex' for familymemberhistory.
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: Search parameter 'status' for familymemberhistory.
        schema:
          type: string
      responses:
        '200':
          description: FamilyMemberHistory bundle in context/data format
          content:
            application/json:
              schema:
                type: object
                properties:
                  context:
                    type: object
                    properties:
                      requestId:
                        type: string
                        example: abc123
                      source:
                        type: string
                        example: ELATION
                      quorum:
                        type: boolean
                        example: true
                      notify:
                        type: boolean
                        example: true
                    required:
                    - requestId
                    - source
                    - quorum
                    - notify
                  data:
                    type: object
                    properties:
                      resourceType:
                        type: string
                        example: Bundle
                      type:
                        type: string
                        example: searchset
                      total:
                        type: integer
                        example: 2
                      entry:
                        type: array
                        items:
                          type: object
                          properties:
                            resource:
                              type: object
                              properties:
                                resourceType:
                                  type: string
                                  example: FamilyMemberHistory
                                id:
                                  type: string
                                  example: fmh-001
                                patient:
                                  type: object
                                  properties:
                                    reference:
                                      type: string
                                      example: Patient/9999
                                relationship:
                                  type: object
                                  properties:
                                    coding:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          system:
                                            type: string
                                            example: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                                          code:
                                            type: string
                                            example: FTH
                                          display:
                                            type: string
                                            example: Father
                                status:
                                  type: string
                                  example: completed
                                date:
                                  type: string
                                  format: date
                                  example: '2024-06-01'
                                condition:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      code:
                                        type: object
                                        properties:
                                          coding:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                system:
                                                  type: string
                                                  example: http://snomed.info/sct
                                                code:
                                                  type: string
                                                  example: '22298006'
                                                display:
                                                  type: string
                                                  example: Myocardial infarction
                                          text:
                                            type: string
                                            example: Heart Attack
                                      outcome:
                                        type: object
                                        properties:
                                          coding:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                system:
                                                  type: string
                                                  example: http://terminology.hl7.org/CodeSystem/condition-outcome
                                                code:
                                                  type: string
                                                  example: deceased
                                                display:
                                                  type: string
                                                  example: Deceased
                                      onsetAge:
                                        type: object
                                        properties:
                                          value:
                                            type: integer
                                            example: 60
                                          unit:
                                            type: string
                                            example: years
                                  example:
                                  - code:
                                      coding:
                                      - system: http://snomed.info/sct
                                        code: '22298006'
                                        display: Myocardial infarction
                                      text: Heart Attack
                                    outcome:
                                      coding:
                                      - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                                        code: deceased
                                        display: Deceased
                                    onsetAge:
                                      value: 60
                                      unit: years
                                note:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      text:
                                        type: string
                                        example: Father had a heart attack at age 60.
                              example:
                                resourceType: FamilyMemberHistory
                                id: fmh-001
                                patient:
                                  reference: Patient/9999
                                relationship:
                                  coding:
                                  - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                                    code: FTH
                                    display: Father
                                status: completed
                                date: '2024-06-01'
                                condition:
                                - code:
                                    coding:
                                    - system: http://snomed.info/sct
                                      code: '22298006'
                                      display: Myocardial infarction
                                    text: Heart Attack
                                  outcome:
                                    coding:
                                    - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                                      code: deceased
                                      display: Deceased
                                  onsetAge:
                                    value: 60
                                    unit: years
                                note:
                                - text: Father had a heart attack at age 60.
                    example:
                      resourceType: Bundle
                      type: searchset
                      total: 2
                      entry:
                      - resource:
                          resourceType: FamilyMemberHistory
                          id: fmh-001
                          patient:
                            reference: Patient/9999
                          relationship:
                            coding:
                            - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                              code: FTH
                              display: Father
                          status: completed
                          date: '2024-06-01'
                          condition:
                          - code:
                              coding:
                              - system: http://snomed.info/sct
                                code: '22298006'
                                display: Myocardial infarction
                              text: Heart Attack
                            outcome:
                              coding:
                              - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                                code: deceased
                                display: Deceased
                            onsetAge:
                              value: 60
                              unit: years
                          note:
                          - text: Father had a heart attack at age 60.
                      - resource:
                          resourceType: FamilyMemberHistory
                          id: fmh-002
                          patient:
                            reference: Patient/9999
                          relationship:
                            coding:
                            - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                              code: MTH
                              display: Mother
                          status: completed
                          date: '2023-11-21'
                          condition:
                          - code:
                              coding:
                              - system: http://snomed.info/sct
                                code: '44054006'
                                display: Diabetes mellitus type 2
                              text: Type 2 Diabetes
                            outcome:
                              coding:
                              - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                                code: active
                                display: Active
                            onsetAge:
                              value: 55
                              unit: years
                          note:
                          - text: Mother diagnosed with type 2 diabetes at age 55.
                required:
                - context
                - data
              example:
                context:
                  requestId: abc123
                  source: ELATION
                  quorum: true
                  notify: true
                data:
                  resourceType: Bundle
                  type: searchset
                  total: 2
                  entry:
                  - resource:
                      resourceType: FamilyMemberHistory
                      id: fmh-001
                      patient:
                        reference: Patient/9999
                      relationship:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                          code: FTH
                          display: Father
                      status: completed
                      date: '2024-06-01'
                      condition:
                      - code:
                          coding:
                          - system: http://snomed.info/sct
                            code: '22298006'
                            display: Myocardial infarction
                          text: Heart Attack
                        outcome:
                          coding:
                          - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                            code: deceased
                            display: Deceased
                        onsetAge:
                          value: 60
                          unit: years
                      note:
                      - text: Father had a heart attack at age 60.
                  - resource:
                      resourceType: FamilyMemberHistory
                      id: fmh-002
                      patient:
                        reference: Patient/9999
                      relationship:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                          code: MTH
                          display: Mother
                      status: completed
                      date: '2023-11-21'
                      condition:
                      - code:
                          coding:
                          - system: http://snomed.info/sct
                            code: '44054006'
                            display: Diabetes mellitus type 2
                          text: Type 2 Diabetes
                        outcome:
                          coding:
                          - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                            code: active
                            display: Active
                        onsetAge:
                          value: 55
                          unit: years
                      note:
                      - text: Mother diagnosed with type 2 diabetes at age 55.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 400 Error
                  message:
                    type: string
                    example: Bad request.
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 404 Error
                  message:
                    type: string
                    example: Not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 500 Error
                  message:
                    type: string
                    example: Internal server error.
    post:
      tags:
      - FamilyMemberHistory
      summary: Create Family Member History
      operationId: createFamilyMemberHistory
      requestBody:
        required: true
        description: FamilyMemberHistory resource to create
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
                  properties:
                    requestId:
                      type: string
                      example: abc123
                    source:
                      type: string
                      example: ELATION
                    quorum:
                      type: boolean
                      example: true
                    notify:
                      type: boolean
                      example: true
                  required:
                  - requestId
                  - source
                  - quorum
                  - notify
                data:
                  type: object
                  properties:
                    resourceType:
                      type: string
                      example: FamilyMemberHistory
                    id:
                      type: string
                      example: fmh-001
                    patient:
                      type: object
                      properties:
                        reference:
                          type: string
                          example: Patient/9999
                    relationship:
                      type: object
                      properties:
                        coding:
                          type: array
                          items:
                            type: object
                            properties:
                              system:
                                type: string
                                example: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                              code:
                                type: string
                                example: FTH
                              display:
                                type: string
                                example: Father
                    status:
                      type: string
                      example: completed
                    date:
                      type: string
                      format: date
                      example: '2024-06-01'
                    condition:
                      type: array
                      items:
                        type: object
                        properties:
                          code:
                            type: object
                            properties:
                              coding:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    system:
                                      type: string
                                      example: http://snomed.info/sct
                                    code:
                                      type: string
                                      example: '22298006'
                                    display:
                                      type: string
                                      example: Myocardial infarction
                              text:
                                type: string
                                example: Heart Attack
                          outcome:
                            type: object
                            properties:
                              coding:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    system:
                                      type: string
                                      example: http://terminology.hl7.org/CodeSystem/condition-outcome
                                    code:
                                      type: string
                                      example: deceased
                                    display:
                                      type: string
                                      example: Deceased
                          onsetAge:
                            type: object
                            properties:
                              value:
                                type: integer
                                example: 60
                              unit:
                                type: string
                                example: years
                      example:
                      - code:
                          coding:
                          - system: http://snomed.info/sct
                            code: '22298006'
                            display: Myocardial infarction
                          text: Heart Attack
                        outcome:
                          coding:
                          - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                            code: deceased
                            display: Deceased
                        onsetAge:
                          value: 60
                          unit: years
                    note:
                      type: array
                      items:
                        type: object
                        properties:
                          text:
                            type: string
                            example: Father had a heart attack at age 60.
                  example:
                    resourceType: FamilyMemberHistory
                    id: fmh-001
                    patient:
                      reference: Patient/9999
                    relationship:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                        code: FTH
                        display: Father
                    status: completed
                    date: '2024-06-01'
                    condition:
                    - code:
                        coding:
                        - system: http://snomed.info/sct
                          code: '22298006'
                          display: Myocardial infarction
                        text: Heart Attack
                      outcome:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                          code: deceased
                          display: Deceased
                      onsetAge:
                        value: 60
                        unit: years
                    note:
                    - text: Father had a heart attack at age 60.
              required:
              - context
              - data
            example:
              context:
                requestId: abc123
                source: ELATION
                quorum: true
                notify: true
              data:
                resourceType: FamilyMemberHistory
                id: fmh-001
                patient:
                  reference: Patient/9999
                relationship:
                  coding:
                  - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                    code: FTH
                    display: Father
                status: completed
                date: '2024-06-01'
                condition:
                - code:
                    coding:
                    - system: http://snomed.info/sct
                      code: '22298006'
                      display: Myocardial infarction
                    text: Heart Attack
                  outcome:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                      code: deceased
                      display: Deceased
                  onsetAge:
                    value: 60
                    unit: years
                note:
                - text: Father had a heart attack at age 60.
      responses:
        '200':
          description: Created FamilyMemberHistory resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  context:
                    type: object
                    properties:
                      requestId:
                        type: string
                        example: abc123
                      source:
                        type: string
                        example: ELATION
                      quorum:
                        type: boolean
                        example: true
                      notify:
                        type: boolean
                        example: true
                    required:
                    - requestId
                    - source
                    - quorum
                    - notify
                  data:
                    type: object
                    properties:
                      resourceType:
                        type: string
                        example: FamilyMemberHistory
                      id:
                        type: string
                        example: fmh-001
                      patient:
                        type: object
                        properties:
                          reference:
                            type: string
                            example: Patient/9999
                      relationship:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                  example: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                                code:
                                  type: string
                                  example: FTH
                                display:
                                  type: string
                                  example: Father
                      status:
                        type: string
                        example: completed
                      date:
                        type: string
                        format: date
                        example: '2024-06-01'
                      condition:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: object
                              properties:
                                coding:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      system:
                                        type: string
                                        example: http://snomed.info/sct
                                      code:
                                        type: string
                                        example: '22298006'
                                      display:
                                        type: string
                                        example: Myocardial infarction
                                text:
                                  type: string
                                  example: Heart Attack
                            outcome:
                              type: object
                              properties:
                                coding:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      system:
                                        type: string
                                        example: http://terminology.hl7.org/CodeSystem/condition-outcome
                                      code:
                                        type: string
                                        example: deceased
                                      display:
                                        type: string
                                        example: Deceased
                            onsetAge:
                              type: object
                              properties:
                                value:
                                  type: integer
                                  example: 60
                                unit:
                                  type: string
                                  example: years
                        example:
                        - code:
                            coding:
                            - system: http://snomed.info/sct
                              code: '22298006'
                              display: Myocardial infarction
                            text: Heart Attack
                          outcome:
                            coding:
                            - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                              code: deceased
                              display: Deceased
                          onsetAge:
                            value: 60
                            unit: years
                      note:
                        type: array
                        items:
                          type: object
                          properties:
                            text:
                              type: string
                              example: Father had a heart attack at age 60.
                    example:
                      resourceType: FamilyMemberHistory
                      id: fmh-001
                      patient:
                        reference: Patient/9999
                      relationship:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                          code: FTH
                          display: Father
                      status: completed
                      date: '2024-06-01'
                      condition:
                      - code:
                          coding:
                          - system: http://snomed.info/sct
                            code: '22298006'
                            display: Myocardial infarction
                          text: Heart Attack
                        outcome:
                          coding:
                          - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                            code: deceased
                            display: Deceased
                        onsetAge:
                          value: 60
                          unit: years
                      note:
                      - text: Father had a heart attack at age 60.
                required:
                - context
                - data
              example:
                context:
                  requestId: abc123
                  source: ELATION
                  quorum: true
                  notify: true
                data:
                  resourceType: FamilyMemberHistory
                  id: fmh-001
                  patient:
                    reference: Patient/9999
                  relationship:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                      code: FTH
                      display: Father
                  status: completed
                  date: '2024-06-01'
                  condition:
                  - code:
                      coding:
                      - system: http://snomed.info/sct
                        code: '22298006'
                        display: Myocardial infarction
                      text: Heart Attack
                    outcome:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                        code: deceased
                        display: Deceased
                    onsetAge:
                      value: 60
                      unit: years
                  note:
                  - text: Father had a heart attack at age 60.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 400 Error
                  message:
                    type: string
                    example: Bad request.
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 404 Error
                  message:
                    type: string
                    example: Not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 500 Error
                  message:
                    type: string
                    example: Internal server error.
      parameters:
      - name: x-source-id
        in: header
        required: true
        description: Source system identifier. — 🔴 On demand filter
        schema:
          type: string
      - name: patient
        in: query
        required: true
        description: Filter by Patient reference/id (FHIR patient). — 🔵 On demand filter
        schema:
          type: string
    parameters: []
  /api/v2/FamilyMemberHistory/{family-member-history-id}:
    get:
      tags:
      - FamilyMemberHistory
      summary: Get Family Member History by ID
      operationId: getFamilyMemberHistoryById
      parameters:
      - name: x-source-id
        in: header
        required: true
        description: Source system identifier. — 🔴 On demand filter
        schema:
          type: string
      - name: family-member-history-id
        in: path
        required: true
        description: Filter by Patient reference/id (FHIR patient).
        schema:
          type: string
      responses:
        '200':
          description: Single FamilyMemberHistory resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  context:
                    type: object
                    properties:
                      requestId:
                        type: string
                        example: abc123
                      source:
                        type: string
                        example: ELATION
                      quorum:
                        type: boolean
                        example: true
                      notify:
                        type: boolean
                        example: true
                    required:
                    - requestId
                    - source
                    - quorum
                    - notify
                  data:
                    type: object
                    properties:
                      resourceType:
                        type: string
                        example: FamilyMemberHistory
                      id:
                        type: string
                        example: fmh-001
                      patient:
                        type: object
                        properties:
                          reference:
                            type: string
                            example: Patient/9999
                      relationship:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                  example: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                                code:
                                  type: string
                                  example: FTH
                                display:
                                  type: string
                                  example: Father
                      status:
                        type: string
                        example: completed
                      date:
                        type: string
                        format: date
                        example: '2024-06-01'
                      condition:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: object
                              properties:
                                coding:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      system:
                                        type: string
                                        example: http://snomed.info/sct
                                      code:
                                        type: string
                                        example: '22298006'
                                      display:
                                        type: string
                                        example: Myocardial infarction
                                text:
                                  type: string
                                  example: Heart Attack
                            outcome:
                              type: object
                              properties:
                                coding:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      system:
                                        type: string
                                        example: http://terminology.hl7.org/CodeSystem/condition-outcome
                                      code:
                                        type: string
                                        example: deceased
                                      display:
                                        type: string
                                        example: Deceased
                            onsetAge:
                              type: object
                              properties:
                                value:
                                  type: integer
                                  example: 60
                                unit:
                                  type: string
                                  example: years
                        example:
                        - code:
                            coding:
                            - system: http://snomed.info/sct
                              code: '22298006'
                              display: Myocardial infarction
                            text: Heart Attack
                          outcome:
                            coding:
                            - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                              code: deceased
                              display: Deceased
                          onsetAge:
                            value: 60
                            unit: years
                      note:
                        type: array
                        items:
                          type: object
                          properties:
                            text:
                              type: string
                              example: Father had a heart attack at age 60.
                    example:
                      resourceType: FamilyMemberHistory
                      id: fmh-001
                      patient:
                        reference: Patient/9999
                      relationship:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                          code: FTH
                          display: Father
                      status: completed
                      date: '2024-06-01'
                      condition:
                      - code:
                          coding:
                          - system: http://snomed.info/sct
                            code: '22298006'
                            display: Myocardial infarction
                          text: Heart Attack
                        outcome:
                          coding:
                          - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                            code: deceased
                            display: Deceased
                        onsetAge:
                          value: 60
                          unit: years
                      note:
                      - text: Father had a heart attack at age 60.
                required:
                - context
                - data
              example:
                context:
                  requestId: abc123
                  source: ELATION
                  quorum: true
                  notify: true
                data:
                  resourceType: FamilyMemberHistory
                  id: fmh-001
                  patient:
                    reference: Patient/9999
                  relationship:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                      code: FTH
                      display: Father
                  status: completed
                  date: '2024-06-01'
                  condition:
                  - code:
                      coding:
                      - system: http://snomed.info/sct
                        code: '22298006'
                        display: Myocardial infarction
                      text: Heart Attack
                    outcome:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                        code: deceased
                        display: Deceased
                    onsetAge:
                      value: 60
                      unit: years
                  note:
                  - text: Father had a heart attack at age 60.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 400 Error
                  message:
                    type: string
                    example: Bad request.
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 404 Error
                  message:
                    type: string
                    example: Not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 500 Error
                  message:
                    type: string
                    example: Internal server error.
    delete:
      tags:
      - FamilyMemberHistory
      summary: Delete Family Member History
      operationId: deleteFamilyMemberHistory
      parameters:
      - name: x-source-id
        in: header
        required: true
        description: Source system identifier. — 🔴 On demand filter
        schema:
          type: string
      - name: family-member-history-id
        in: path
        required: true
        description: .
        schema:
          type: string
      responses:
        '200':
          description: Deleted FamilyMemberHistory resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  context:
                    type: object
                    properties:
                      requestId:
                        type: string
                        example: abc123
                      source:
                        type: string
                        example: ELATION
                      quorum:
                        type: boolean
                        example: true
                      notify:
                        type: boolean
                        example: true
                    required:
                    - requestId
                    - source
                    - quorum
                    - notify
                  data:
                    type: object
                    properties:
                      resourceType:
                        type: string
                        example: FamilyMemberHistory
                      id:
                        type: string
                        example: fmh-001
                      patient:
                        type: object
                        properties:
                          reference:
                            type: string
                            example: Patient/9999
                      relationship:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                  example: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                                code:
                                  type: string
                                  example: FTH
                                display:
                                  type: string
                                  example: Father
                      status:
                        type: string
                        example: completed
                      date:
                        type: string
                        format: date
                        example: '2024-06-01'
                      condition:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: object
                              properties:
                                coding:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      system:
                                        type: string
                                        example: http://snomed.info/sct
                                      code:
                                        type: string
                                        example: '22298006'
                                      display:
                                        type: string
                                        example: Myocardial infarction
                                text:
                                  type: string
                                  example: Heart Attack
                            outcome:
                              type: object
                              properties:
                                coding:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      system:
                                        type: string
                                        example: http://terminology.hl7.org/CodeSystem/condition-outcome
                                      code:
                                        type: string
                                        example: deceased
                                      display:
                                        type: string
                                        example: Deceased
                            onsetAge:
                              type: object
                              properties:
                                value:
                                  type: integer
                                  example: 60
                                unit:
                                  type: string
                                  example: years
                        example:
                        - code:
                            coding:
                            - system: http://snomed.info/sct
                              code: '22298006'
                              display: Myocardial infarction
                            text: Heart Attack
                          outcome:
                            coding:
                            - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                              code: deceased
                              display: Deceased
                          onsetAge:
                            value: 60
                            unit: years
                      note:
                        type: array
                        items:
                          type: object
                          properties:
                            text:
                              type: string
                              example: Father had a heart attack at age 60.
                    example:
                      resourceType: FamilyMemberHistory
                      id: fmh-001
                      patient:
                        reference: Patient/9999
                      relationship:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                          code: FTH
                          display: Father
                      status: completed
                      date: '2024-06-01'
                      condition:
                      - code:
                          coding:
                          - system: http://snomed.info/sct
                            code: '22298006'
                            display: Myocardial infarction
                          text: Heart Attack
                        outcome:
                          coding:
                          - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                            code: deceased
                            display: Deceased
                        onsetAge:
                          value: 60
                          unit: years
                      note:
                      - text: Father had a heart attack at age 60.
                required:
                - context
                - data
              example:
                context:
                  requestId: abc123
                  source: ELATION
                  quorum: true
                  notify: true
                data:
                  resourceType: FamilyMemberHistory
                  id: fmh-001
                  patient:
                    reference: Patient/9999
                  relationship:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                      code: FTH
                      display: Father
                  status: completed
                  date: '2024-06-01'
                  condition:
                  - code:
                      coding:
                      - system: http://snomed.info/sct
                        code: '22298006'
                        display: Myocardial infarction
                      text: Heart Attack
                    outcome:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                        code: deceased
                        display: Deceased
                    onsetAge:
                      value: 60
                      unit: years
                  note:
                  - text: Father had a heart attack at age 60.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 400 Error
                  message:
                    type: string
                    example: Bad request.
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 404 Error
                  message:
                    type: string
                    example: Not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 500 Error
                  message:
                    type: string
                    example: Internal server error.
components:
  schemas:
    FamilyMemberHistoryBundle:
      type: object
      properties:
        resourceType:
          type: string
          example: Bundle
        type:
          type: string
          example: searchset
        total:
          type: integer
          example: 2
        entry:
          type: array
          items:
            type: object
            properties:
              resource:
                type: object
                properties:
                  resourceType:
                    type: string
                    example: FamilyMemberHistory
                  id:
                    type: string
                    example: fmh-001
                  patient:
                    type: object
                    properties:
                      reference:
                        type: string
                        example: Patient/9999
                  relationship:
                    type: object
                    properties:
                      coding:
                        type: array
                        items:
                          type: object
                          properties:
                            system:
                              type: string
                              example: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                            code:
                              type: string
                              example: FTH
                            display:
                              type: string
                              example: Father
                  status:
                    type: string
                    example: completed
                  date:
                    type: string
                    format: date
                    example: '2024-06-01'
                  condition:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: object
                          properties:
                            coding:
                              type: array
                              items:
                                type: object
                                properties:
                                  system:
                                    type: string
                                    example: http://snomed.info/sct
                                  code:
                                    type: string
                                    example: '22298006'
                                  display:
                                    type: string
                                    example: Myocardial infarction
                            text:
                              type: string
                              example: Heart Attack
                        outcome:
                          type: object
                          properties:
                            coding:
                              type: array
                              items:
                                type: object
                                properties:
                                  system:
                                    type: string
                                    example: http://terminology.hl7.org/CodeSystem/condition-outcome
                                  code:
                                    type: string
                                    example: deceased
                                  display:
                                    type: string
                                    example: Deceased
                        onsetAge:
                          type: object
                          properties:
                            value:
                              type: integer
                              example: 60
                            unit:
                              type: string
                              example: years
                    example:
                    - code:
                        coding:
                        - system: http://snomed.info/sct
                          code: '22298006'
                          display: Myocardial infarction
                        text: Heart Attack
                      outcome:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                          code: deceased
                          display: Deceased
                      onsetAge:
                        value: 60
                        unit: years
                  note:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                          example: Father had a heart attack at age 60.
                example:
                  resourceType: FamilyMemberHistory
                  id: fmh-001
                  patient:
                    reference: Patient/9999
                  relationship:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                      code: FTH
                      display: Father
                  status: completed
                  date: '2024-06-01'
                  condition:
                  - code:
                      coding:
                      - system: http://snomed.info/sct
                        code: '22298006'
                        display: Myocardial infarction
                      text: Heart Attack
                    outcome:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                        code: deceased
                        display: Deceased
                    onsetAge:
                      value: 60
                      unit: years
                  note:
                  - text: Father had a heart attack at age 60.
      example:
        resourceType: Bundle
        type: searchset
        total: 2
        entry:
        - resource:
            resourceType: FamilyMemberHistory
            id: fmh-001
            patient:
              reference: Patient/9999
            relationship:
              coding:
              - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                code: FTH
                display: Father
            status: completed
            date: '2024-06-01'
            condition:
            - code:
                coding:
                - system: http://snomed.info/sct
                  code: '22298006'
                  display: Myocardial infarction
                text: Heart Attack
              outcome:
                coding:
                - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                  code: deceased
                  display: Deceased
              onsetAge:
                value: 60
                unit: years
            note:
            - text: Father had a heart attack at age 60.
        - resource:
            resourceType: FamilyMemberHistory
            id: fmh-002
            patient:
              reference: Patient/9999
            relationship:
              coding:
              - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                code: MTH
                display: Mother
            status: completed
            date: '2023-11-21'
            condition:
            - code:
                coding:
                - system: http://snomed.info/sct
                  code: '44054006'
                  display: Diabetes mellitus type 2
                text: Type 2 Diabetes
              outcome:
                coding:
                - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                  code: active
                  display: Active
              onsetAge:
                value: 55
                unit: years
            note:
            - text: Mother diagnosed with type 2 diabetes at age 55.
    FamilyMemberHistory:
      type: object
      properties:
        resourceType:
          type: string
          example: FamilyMemberHistory
        id:
          type: string
          example: fmh-001
        patient:
          type: object
          properties:
            reference:
              type: string
              example: Patient/9999
        relationship:
          type: object
          properties:
            coding:
              type: array
              items:
                type: object
                properties:
                  system:
                    type: string
                    example: http://terminology.hl7.org/CodeSystem/v3-RoleCode
                  code:
                    type: string
                    example: FTH
                  display:
                    type: string
                    example: Father
        status:
          type: string
          example: completed
        date:
          type: string
          format: date
          example: '2024-06-01'
        condition:
          type: array
          items:
            type: object
            properties:
              code:
                type: object
                properties:
                  coding:
                    type: array
                    items:
                      type: object
                      properties:
                        system:
                          type: string
                          example: http://snomed.info/sct
                        code:
                          type: string
                          example: '22298006'
                        display:
                          type: string
                          example: Myocardial infarction
                  text:
                    type: string
                    example: Heart Attack
              outcome:
                type: object
                properties:
                  coding:
                    type: array
                    items:
                      type: object
                      properties:
                        system:
                          type: string
                          example: http://terminology.hl7.org/CodeSystem/condition-outcome
                        code:
                          type: string
                          example: deceased
                        display:
                          type: string
                          example: Deceased
              onsetAge:
                type: object
                properties:
                  value:
                    type: integer
                    example: 60
                  unit:
                    type: string
                    example: years
          example:
          - code:
              coding:
              - system: http://snomed.info/sct
                code: '22298006'
                display: Myocardial infarction
              text: Heart Attack
            outcome:
              coding:
              - system: http://terminology.hl7.org/CodeSystem/condition-outcome
                code: deceased
                display: Deceased
            onsetAge:
              value: 60
              unit: years
        note:
          type: array
          items:
            type: object
            properties:
              text:
                type: string
                example: Father had a heart attack at age 60.
      example:
        resourceType: FamilyMemberHistory
        id: fmh-001
        patient:
          reference: Patient/9999
        relationship:
          coding:
          - system: http://terminology.hl7.org/CodeSystem/v3-RoleCode
            code: FTH
            display: Father
        status: completed
        date: '2024-06-01'
        condition:
        - code:
            coding:
            - system: http://snomed.info/sct
              code: '22298006'
              display: Myocardial infarction
            text: Heart Attack
          outcome:
            coding:
            - system: http://terminology.hl7.org/CodeSystem/condition-outcome
              code: deceased
              display: Deceased
          onsetAge:
            value: 60
            unit: years
        note:
        - text: Father had a heart attack at age 60.
    Error400:
      type: object
      properties:
        error:
          type: string
          example: 400 Error
        message:
          type: string
          example: Bad request.
    Error404:
      type: object
      properties:
        error:
          type: string
          example: 404 Error
        message:
          type: string
          example: Not found.
    Error500:
      type: object
      properties:
        error:
          type: string
          example: 500 Error
        message:
          type: string
          example: Internal server error.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    xSourceId:
      name: x-source-id
      in: header
      required: true
      schema:
        type: string
      description: "Source identifier header required for routing.\nAthena: 083fe714-e36e-4851-b2e7-a7166b439f67\n Elation: 2341a165-3168-4961-9e99-be1aa6c29b9f — \U0001F534 On demand filter"
externalDocs:
  description: Run in Postman
  url: https://app.postman.com/import/openapi
security:
- bearerAuth: []
