openapi: 3.0.3
info:
  title: Elation MedicationStatement API
  version: 1.0.0
  description: "Source Ids:\n- Athena: 083fe714-e36e-4851-b2e7-a7166b439f67\n- Elation: 2341a165-3168-4961-9e99-be1aa6c29b9f\n\nMedication Statement Endpoints\n\"MedicationStatement\" resource is used to record and share information about a patient's medication usage. It captures details about what medications the patient is currently taking, has taken in the past, or plans to take in the future.\n\nExample: A patient reports to their doctor that they are taking lisinopril 10mg once daily for high blood pressure. This information is recorded as a MedicationStatement resource in the patient's EHR, indicating the medication, dosage, frequency, and reason for use. This information can then be used by other healthcare providers to ensure continuity of care, avoid medication errors, and monitor the patient's response to treatment.\n \nDependent Sources:\n\nPatient.\n"
servers:
- url: https://xchange-sandbox.xcaliberapis.com
- url: https://your.api.com
tags:
- name: MedicationStatement
  description: Operations related to medication statements in Elation
paths:
  /api/v1/MedicationStatement:
    get:
      tags:
      - MedicationStatement
      summary: Get list of Medication Statements
      operationId: getElationMedicationStatements
      parameters:
      - name: x-source-id
        in: header
        required: true
        description: Source system identifier. — 🔴 On demand filter
        schema:
          type: string
      - name: patient
        in: query
        required: true
        description: Filter by Patient reference/id (FHIR patient). — 🔵 On demand filter
        schema:
          type: string
      - name: category
        in: query
        required: false
        description: Search parameter 'category' for medicationstatement.
        schema:
          type: string
      - name: context
        in: query
        required: false
        description: Search parameter 'context' for medicationstatement.
        schema:
          type: string
      - name: effective
        in: query
        required: false
        description: Search parameter 'effective' for medicationstatement.
        schema:
          type: string
      - name: part-of
        in: query
        required: false
        description: Search parameter 'part-of' for medicationstatement.
        schema:
          type: string
      - name: source
        in: query
        required: false
        description: Search parameter 'source' for medicationstatement.
        schema:
          type: string
      - name: subject
        in: query
        required: false
        description: Search parameter 'subject' for medicationstatement.
        schema:
          type: string
      responses:
        '200':
          description: List of MedicationStatement resources
          content:
            application/json:
              schema:
                type: object
                required:
                - context
                - data
                properties:
                  context:
                    type: object
                    required:
                    - requestId
                    - source
                    - quorum
                    - notify
                    properties:
                      requestId:
                        type: string
                      source:
                        type: string
                      quorum:
                        type: boolean
                      notify:
                        type: boolean
                  data:
                    type: object
                    required:
                    - context
                    - data
                    properties:
                      context:
                        type: object
                        required:
                        - requestId
                        - source
                        - quorum
                        - notify
                        properties:
                          requestId:
                            type: string
                          source:
                            type: string
                          quorum:
                            type: boolean
                          notify:
                            type: boolean
                      data:
                        type: object
                        required:
                        - resourceType
                        - type
                        - total
                        - entry
                        properties:
                          resourceType:
                            type: string
                            example: Bundle
                          type:
                            type: string
                            example: searchset
                          total:
                            type: integer
                            example: 2
                          entry:
                            type: array
                            items:
                              type: object
                              properties:
                                resource:
                                  type: object
                                  required:
                                  - resourceType
                                  - id
                                  - code
                                  - status
                                  properties:
                                    resourceType:
                                      type: string
                                      enum:
                                      - Medication
                                    id:
                                      type: string
                                    status:
                                      type: string
                                      enum:
                                      - active
                                      - inactive
                                      - entered-in-error
                                    code:
                                      type: object
                                      properties:
                                        coding:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              system:
                                                type: string
                                              code:
                                                type: string
                                              display:
                                                type: string
                                        text:
                                          type: string
                                    manufacturer:
                                      type: object
                                      properties:
                                        reference:
                                          type: string
                                        display:
                                          type: string
                                    form:
                                      type: object
                                      properties:
                                        coding:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              system:
                                                type: string
                                              code:
                                                type: string
                                              display:
                                                type: string
                                        text:
                                          type: string
                                  example:
                                    resourceType: Medication
                                    id: example-med-1
                                    status: active
                                    code:
                                      coding:
                                      - system: http://www.nlm.nih.gov/research/umls/rxnorm
                                        code: '123456'
                                        display: Acetaminophen 500mg Tablet
                                      text: Acetaminophen 500mg Tablet
                                    manufacturer:
                                      reference: Organization/1
                                      display: Example Pharma
                                    form:
                                      coding:
                                      - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                                        code: TAB
                                        display: Tablet
                                      text: Tablet
                    example:
                      context:
                        requestId: abc123
                        source: ELATION
                        quorum: true
                        notify: true
                      data:
                        resourceType: Bundle
                        type: searchset
                        total: 2
                        entry:
                        - resource:
                            resourceType: Medication
                            id: exampleId1
                            code:
                              coding:
                              - system: http://www.nlm.nih.gov/research/umls/rxnorm
                                code: '3628'
                                display: Ibuprofen
                              text: Ibuprofen
                            status: active
                            manufacturer:
                              reference: Organization/Pharma123
                              display: Big Pharma Inc
                            form:
                              coding:
                              - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                                code: TAB
                                display: Tablet
                              text: Tablet
                            extension:
                            - url: http://xcaliber-fhir/structureDefinition/v2-is-doc-med
                              valueString: 'true'
                            - url: http://xcaliber-fhir/structureDefinition/is-doc-med
                              valueString: 'true'
                            - url: http://xcaliber-fhir/structureDefinition/v2-medication-type
                              valueString: solid
                            - url: http://xcaliber-fhir/structureDefinition/medication-type
                              valueString: solid
                            - url: http://xcaliber-fhir/structureDefinition/v2-order-type
                              valueString: prescription
                            - url: http://xcaliber-fhir/structureDefinition/order-type
                              valueString: prescription
                            - url: http://xcaliber-fhir/structureDefinition/v2-created-date
                              valueDateTime: '2022-01-01T00:00:00Z'
                            - url: http://xcaliber-fhir/structureDefinition/chart-date
                              valueString: '2022-01-01'
                            - url: http://xcaliber-fhir/structureDefinition/v2-document-date
                              valueString: '2022-01-01T00:00:00Z'
                            - url: http://xcaliber-fhir/structureDefinition/document-date
                              valueString: '2022-01-01T00:00:00Z'
                            - url: http://xcaliber-fhir/structureDefinition/practice
                              valueString: '123'
                            - url: http://xcaliber-fhir/structureDefinition/v2-medication-thread
                              valueString: 'false'
                            - url: http://xcaliber-fhir/structureDefinition/medication-thread
                              valueString: 'false'
                            - url: http://xcaliber-fhir/structureDefinition/thread-id
                              valueString: '56789'
                            - url: http://xcaliber-fhir/structureDefinition/dc-date
                              valueString: '2022-01-15'
                            - url: http://xcaliber-fhir/structureDefinition/v2-med-qty
                              valueString: '30'
                            - url: http://xcaliber-fhir/structureDefinition/v2-med-qty-units
                              valueString: tablet
                            - url: http://xcaliber-fhir/structureDefinition/med-qty
                              valueString: '30'
                            - url: http://xcaliber-fhir/structureDefinition/med-qty-units
                              valueString: tablet
                        - resource:
                            resourceType: Medication
                            id: exampleId2
                            code:
                              coding:
                              - system: http://www.nlm.nih.gov/research/umls/rxnorm
                                code: '123456'
                                display: Acetaminophen 500mg Tablet
                              text: Acetaminophen 500mg Tablet
                            status: inactive
                            manufacturer:
                              reference: Organization/1
                              display: Example Pharma
                            form:
                              coding:
                              - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                                code: TAB
                                display: Tablet
                              text: Tablet
                            extension:
                            - url: http://xcaliber-fhir/structureDefinition/v2-is-doc-med
                              valueString: 'false'
                            - url: http://xcaliber-fhir/structureDefinition/is-doc-med
                              valueString: 'false'
                example:
                  context:
                    requestId: abc123
                    source: ELATION
                    quorum: true
                    notify: true
                  data:
                    resourceType: Medication
                    id: exampleId
                    code:
                      coding:
                      - system: http://www.nlm.nih.gov/research/umls/rxnorm
                        code: '3628'
                        display: Ibuprofen
                      text: Ibuprofen
                    status: active
                    manufacturer:
                      reference: Organization/Pharma123
                      display: Big Pharma Inc
                    form:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                        code: TAB
                        display: Tablet
                      text: Tablet
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/v2-is-doc-med
                      valueString: 'true'
                    - url: http://xcaliber-fhir/structureDefinition/is-doc-med
                      valueString: 'true'
                    - url: http://xcaliber-fhir/structureDefinition/v2-medication-type
                      valueString: solid
                    - url: http://xcaliber-fhir/structureDefinition/medication-type
                      valueString: solid
                    - url: http://xcaliber-fhir/structureDefinition/v2-order-type
                      valueString: prescription
                    - url: http://xcaliber-fhir/structureDefinition/order-type
                      valueString: prescription
                    - url: http://xcaliber-fhir/structureDefinition/v2-created-date
                      valueDateTime: '2022-01-01T00:00:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/chart-date
                      valueString: '2022-01-01'
                    - url: http://xcaliber-fhir/structureDefinition/v2-document-date
                      valueString: '2022-01-01T00:00:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/document-date
                      valueString: '2022-01-01T00:00:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/practice
                      valueString: '123'
                    - url: http://xcaliber-fhir/structureDefinition/v2-medication-thread
                      valueString: 'false'
                    - url: http://xcaliber-fhir/structureDefinition/medication-thread
                      valueString: 'false'
                    - url: http://xcaliber-fhir/structureDefinition/thread-id
                      valueString: '56789'
                    - url: http://xcaliber-fhir/structureDefinition/dc-date
                      valueString: '2022-01-15'
                    - url: http://xcaliber-fhir/structureDefinition/v2-med-qty
                      valueString: '30'
                    - url: http://xcaliber-fhir/structureDefinition/v2-med-qty-units
                      valueString: tablet
                    - url: http://xcaliber-fhir/structureDefinition/med-qty
                      valueString: '30'
                    - url: http://xcaliber-fhir/structureDefinition/med-qty-units
                      valueString: tablet
        '400':
          description: Missing patient ID error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: patient id is missing
                  status:
                    type: string
                    example: error
                  details:
                    type: object
                example:
                  statusCode: 400
                  message: patient id is missing
                  status: error
                  details: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: error
                  details:
                    type: object
                    properties:
                      error:
                        type: string
                        example: You are not authorized to access this resource
                example:
                  statusCode: 401
                  message: Unauthorized
                  status: error
                  details:
                    error: You are not authorized to access this resource
        '500':
          description: Server or filter error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal server error
                  status:
                    type: string
                    example: error
                  details:
                    type: object
                example:
                  statusCode: 500
                  message: Internal server error
                  status: error
                  details: {}
    post:
      tags:
      - MedicationStatement
      summary: Create Medication Statement
      operationId: createMedicationStatement
      requestBody:
        description: Medication resource to create
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - context
              - data
              properties:
                context:
                  type: object
                  required:
                  - requestId
                  - source
                  - quorum
                  - notify
                  properties:
                    requestId:
                      type: string
                    source:
                      type: string
                    quorum:
                      type: boolean
                    notify:
                      type: boolean
                data:
                  type: object
                  required:
                  - context
                  - data
                  properties:
                    context:
                      type: object
                      required:
                      - requestId
                      - source
                      - quorum
                      - notify
                      properties:
                        requestId:
                          type: string
                        source:
                          type: string
                        quorum:
                          type: boolean
                        notify:
                          type: boolean
                    data:
                      type: object
                      required:
                      - resourceType
                      - type
                      - total
                      - entry
                      properties:
                        resourceType:
                          type: string
                          example: Bundle
                        type:
                          type: string
                          example: searchset
                        total:
                          type: integer
                          example: 2
                        entry:
                          type: array
                          items:
                            type: object
                            properties:
                              resource:
                                type: object
                                required:
                                - resourceType
                                - id
                                - code
                                - status
                                properties:
                                  resourceType:
                                    type: string
                                    enum:
                                    - Medication
                                  id:
                                    type: string
                                  status:
                                    type: string
                                    enum:
                                    - active
                                    - inactive
                                    - entered-in-error
                                  code:
                                    type: object
                                    properties:
                                      coding:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            system:
                                              type: string
                                            code:
                                              type: string
                                            display:
                                              type: string
                                      text:
                                        type: string
                                  manufacturer:
                                    type: object
                                    properties:
                                      reference:
                                        type: string
                                      display:
                                        type: string
                                  form:
                                    type: object
                                    properties:
                                      coding:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            system:
                                              type: string
                                            code:
                                              type: string
                                            display:
                                              type: string
                                      text:
                                        type: string
                                example:
                                  resourceType: Medication
                                  id: example-med-1
                                  status: active
                                  code:
                                    coding:
                                    - system: http://www.nlm.nih.gov/research/umls/rxnorm
                                      code: '123456'
                                      display: Acetaminophen 500mg Tablet
                                    text: Acetaminophen 500mg Tablet
                                  manufacturer:
                                    reference: Organization/1
                                    display: Example Pharma
                                  form:
                                    coding:
                                    - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                                      code: TAB
                                      display: Tablet
                                    text: Tablet
                  example:
                    context:
                      requestId: abc123
                      source: ELATION
                      quorum: true
                      notify: true
                    data:
                      resourceType: Bundle
                      type: searchset
                      total: 2
                      entry:
                      - resource:
                          resourceType: Medication
                          id: exampleId1
                          code:
                            coding:
                            - system: http://www.nlm.nih.gov/research/umls/rxnorm
                              code: '3628'
                              display: Ibuprofen
                            text: Ibuprofen
                          status: active
                          manufacturer:
                            reference: Organization/Pharma123
                            display: Big Pharma Inc
                          form:
                            coding:
                            - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                              code: TAB
                              display: Tablet
                            text: Tablet
                          extension:
                          - url: http://xcaliber-fhir/structureDefinition/v2-is-doc-med
                            valueString: 'true'
                          - url: http://xcaliber-fhir/structureDefinition/is-doc-med
                            valueString: 'true'
                          - url: http://xcaliber-fhir/structureDefinition/v2-medication-type
                            valueString: solid
                          - url: http://xcaliber-fhir/structureDefinition/medication-type
                            valueString: solid
                          - url: http://xcaliber-fhir/structureDefinition/v2-order-type
                            valueString: prescription
                          - url: http://xcaliber-fhir/structureDefinition/order-type
                            valueString: prescription
                          - url: http://xcaliber-fhir/structureDefinition/v2-created-date
                            valueDateTime: '2022-01-01T00:00:00Z'
                          - url: http://xcaliber-fhir/structureDefinition/chart-date
                            valueString: '2022-01-01'
                          - url: http://xcaliber-fhir/structureDefinition/v2-document-date
                            valueString: '2022-01-01T00:00:00Z'
                          - url: http://xcaliber-fhir/structureDefinition/document-date
                            valueString: '2022-01-01T00:00:00Z'
                          - url: http://xcaliber-fhir/structureDefinition/practice
                            valueString: '123'
                          - url: http://xcaliber-fhir/structureDefinition/v2-medication-thread
                            valueString: 'false'
                          - url: http://xcaliber-fhir/structureDefinition/medication-thread
                            valueString: 'false'
                          - url: http://xcaliber-fhir/structureDefinition/thread-id
                            valueString: '56789'
                          - url: http://xcaliber-fhir/structureDefinition/dc-date
                            valueString: '2022-01-15'
                          - url: http://xcaliber-fhir/structureDefinition/v2-med-qty
                            valueString: '30'
                          - url: http://xcaliber-fhir/structureDefinition/v2-med-qty-units
                            valueString: tablet
                          - url: http://xcaliber-fhir/structureDefinition/med-qty
                            valueString: '30'
                          - url: http://xcaliber-fhir/structureDefinition/med-qty-units
                            valueString: tablet
                      - resource:
                          resourceType: Medication
                          id: exampleId2
                          code:
                            coding:
                            - system: http://www.nlm.nih.gov/research/umls/rxnorm
                              code: '123456'
                              display: Acetaminophen 500mg Tablet
                            text: Acetaminophen 500mg Tablet
                          status: inactive
                          manufacturer:
                            reference: Organization/1
                            display: Example Pharma
                          form:
                            coding:
                            - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                              code: TAB
                              display: Tablet
                            text: Tablet
                          extension:
                          - url: http://xcaliber-fhir/structureDefinition/v2-is-doc-med
                            valueString: 'false'
                          - url: http://xcaliber-fhir/structureDefinition/is-doc-med
                            valueString: 'false'
              example:
                context:
                  requestId: abc123
                  source: ELATION
                  quorum: true
                  notify: true
                data:
                  resourceType: Medication
                  id: exampleId
                  code:
                    coding:
                    - system: http://www.nlm.nih.gov/research/umls/rxnorm
                      code: '3628'
                      display: Ibuprofen
                    text: Ibuprofen
                  status: active
                  manufacturer:
                    reference: Organization/Pharma123
                    display: Big Pharma Inc
                  form:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                      code: TAB
                      display: Tablet
                    text: Tablet
                  extension:
                  - url: http://xcaliber-fhir/structureDefinition/v2-is-doc-med
                    valueString: 'true'
                  - url: http://xcaliber-fhir/structureDefinition/is-doc-med
                    valueString: 'true'
                  - url: http://xcaliber-fhir/structureDefinition/v2-medication-type
                    valueString: solid
                  - url: http://xcaliber-fhir/structureDefinition/medication-type
                    valueString: solid
                  - url: http://xcaliber-fhir/structureDefinition/v2-order-type
                    valueString: prescription
                  - url: http://xcaliber-fhir/structureDefinition/order-type
                    valueString: prescription
                  - url: http://xcaliber-fhir/structureDefinition/v2-created-date
                    valueDateTime: '2022-01-01T00:00:00Z'
                  - url: http://xcaliber-fhir/structureDefinition/chart-date
                    valueString: '2022-01-01'
                  - url: http://xcaliber-fhir/structureDefinition/v2-document-date
                    valueString: '2022-01-01T00:00:00Z'
                  - url: http://xcaliber-fhir/structureDefinition/document-date
                    valueString: '2022-01-01T00:00:00Z'
                  - url: http://xcaliber-fhir/structureDefinition/practice
                    valueString: '123'
                  - url: http://xcaliber-fhir/structureDefinition/v2-medication-thread
                    valueString: 'false'
                  - url: http://xcaliber-fhir/structureDefinition/medication-thread
                    valueString: 'false'
                  - url: http://xcaliber-fhir/structureDefinition/thread-id
                    valueString: '56789'
                  - url: http://xcaliber-fhir/structureDefinition/dc-date
                    valueString: '2022-01-15'
                  - url: http://xcaliber-fhir/structureDefinition/v2-med-qty
                    valueString: '30'
                  - url: http://xcaliber-fhir/structureDefinition/v2-med-qty-units
                    valueString: tablet
                  - url: http://xcaliber-fhir/structureDefinition/med-qty
                    valueString: '30'
                  - url: http://xcaliber-fhir/structureDefinition/med-qty-units
                    valueString: tablet
      responses:
        '201':
          description: MedicationStatement created
          content:
            application/json:
              schema:
                type: object
                required:
                - context
                - data
                properties:
                  context:
                    type: object
                    required:
                    - requestId
                    - source
                    - quorum
                    - notify
                    properties:
                      requestId:
                        type: string
                      source:
                        type: string
                      quorum:
                        type: boolean
                      notify:
                        type: boolean
                  data:
                    type: object
                    required:
                    - id
                    - status
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                example:
                  context:
                    requestId: abc123
                    source: ELATION
                    quorum: true
                    notify: true
                  data:
                    id: generated-id
                    status: success
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: patient id is missing
                  status:
                    type: string
                    example: error
                  details:
                    type: object
                example:
                  statusCode: 400
                  message: patient id is missing
                  status: error
                  details: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: error
                  details:
                    type: object
                    properties:
                      error:
                        type: string
                        example: You are not authorized to access this resource
                example:
                  statusCode: 401
                  message: Unauthorized
                  status: error
                  details:
                    error: You are not authorized to access this resource
        '500':
          description: Server error on create
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal server error
                  status:
                    type: string
                    example: error
                  details:
                    type: object
                example:
                  statusCode: 500
                  message: Internal server error
                  status: error
                  details: {}
      parameters:
      - name: x-source-id
        in: header
        required: true
        description: Source system identifier. — 🔴 On demand filter
        schema:
          type: string
      - name: patient
        in: query
        required: true
        description: Filter by Patient reference/id (FHIR patient). — 🔵 On demand filter
        schema:
          type: string
    parameters: []
  /api/v1/MedicationStatement/{medication-statement-id}:
    get:
      tags:
      - MedicationStatement
      summary: Get Medication Statement by ID
      operationId: getElationMedicationStatementById
      parameters:
      - name: x-source-id
        in: header
        required: true
        description: Source system identifier. — 🔴 On demand filter
        schema:
          type: string
      - name: medication-statement-id
        in: path
        required: true
        description: .
        schema:
          type: string
      responses:
        '200':
          description: MedicationStatement resource
          content:
            application/json:
              schema:
                type: object
                required:
                - context
                - data
                properties:
                  context:
                    type: object
                    required:
                    - requestId
                    - source
                    - quorum
                    - notify
                    properties:
                      requestId:
                        type: string
                      source:
                        type: string
                      quorum:
                        type: boolean
                      notify:
                        type: boolean
                  data:
                    type: object
                    required:
                    - resourceType
                    - type
                    - total
                    - entry
                    properties:
                      resourceType:
                        type: string
                        example: Bundle
                      type:
                        type: string
                        example: searchset
                      total:
                        type: integer
                        example: 2
                      entry:
                        type: array
                        items:
                          type: object
                          properties:
                            resource:
                              type: object
                              required:
                              - resourceType
                              - id
                              - code
                              - status
                              properties:
                                resourceType:
                                  type: string
                                  enum:
                                  - Medication
                                id:
                                  type: string
                                status:
                                  type: string
                                  enum:
                                  - active
                                  - inactive
                                  - entered-in-error
                                code:
                                  type: object
                                  properties:
                                    coding:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          system:
                                            type: string
                                          code:
                                            type: string
                                          display:
                                            type: string
                                    text:
                                      type: string
                                manufacturer:
                                  type: object
                                  properties:
                                    reference:
                                      type: string
                                    display:
                                      type: string
                                form:
                                  type: object
                                  properties:
                                    coding:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          system:
                                            type: string
                                          code:
                                            type: string
                                          display:
                                            type: string
                                    text:
                                      type: string
                              example:
                                resourceType: Medication
                                id: example-med-1
                                status: active
                                code:
                                  coding:
                                  - system: http://www.nlm.nih.gov/research/umls/rxnorm
                                    code: '123456'
                                    display: Acetaminophen 500mg Tablet
                                  text: Acetaminophen 500mg Tablet
                                manufacturer:
                                  reference: Organization/1
                                  display: Example Pharma
                                form:
                                  coding:
                                  - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                                    code: TAB
                                    display: Tablet
                                  text: Tablet
                example:
                  context:
                    requestId: abc123
                    source: ELATION
                    quorum: true
                    notify: true
                  data:
                    resourceType: Bundle
                    type: searchset
                    total: 2
                    entry:
                    - resource:
                        resourceType: Medication
                        id: exampleId1
                        code:
                          coding:
                          - system: http://www.nlm.nih.gov/research/umls/rxnorm
                            code: '3628'
                            display: Ibuprofen
                          text: Ibuprofen
                        status: active
                        manufacturer:
                          reference: Organization/Pharma123
                          display: Big Pharma Inc
                        form:
                          coding:
                          - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                            code: TAB
                            display: Tablet
                          text: Tablet
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/v2-is-doc-med
                          valueString: 'true'
                        - url: http://xcaliber-fhir/structureDefinition/is-doc-med
                          valueString: 'true'
                        - url: http://xcaliber-fhir/structureDefinition/v2-medication-type
                          valueString: solid
                        - url: http://xcaliber-fhir/structureDefinition/medication-type
                          valueString: solid
                        - url: http://xcaliber-fhir/structureDefinition/v2-order-type
                          valueString: prescription
                        - url: http://xcaliber-fhir/structureDefinition/order-type
                          valueString: prescription
                        - url: http://xcaliber-fhir/structureDefinition/v2-created-date
                          valueDateTime: '2022-01-01T00:00:00Z'
                        - url: http://xcaliber-fhir/structureDefinition/chart-date
                          valueString: '2022-01-01'
                        - url: http://xcaliber-fhir/structureDefinition/v2-document-date
                          valueString: '2022-01-01T00:00:00Z'
                        - url: http://xcaliber-fhir/structureDefinition/document-date
                          valueString: '2022-01-01T00:00:00Z'
                        - url: http://xcaliber-fhir/structureDefinition/practice
                          valueString: '123'
                        - url: http://xcaliber-fhir/structureDefinition/v2-medication-thread
                          valueString: 'false'
                        - url: http://xcaliber-fhir/structureDefinition/medication-thread
                          valueString: 'false'
                        - url: http://xcaliber-fhir/structureDefinition/thread-id
                          valueString: '56789'
                        - url: http://xcaliber-fhir/structureDefinition/dc-date
                          valueString: '2022-01-15'
                        - url: http://xcaliber-fhir/structureDefinition/v2-med-qty
                          valueString: '30'
                        - url: http://xcaliber-fhir/structureDefinition/v2-med-qty-units
                          valueString: tablet
                        - url: http://xcaliber-fhir/structureDefinition/med-qty
                          valueString: '30'
                        - url: http://xcaliber-fhir/structureDefinition/med-qty-units
                          valueString: tablet
                    - resource:
                        resourceType: Medication
                        id: exampleId2
                        code:
                          coding:
                          - system: http://www.nlm.nih.gov/research/umls/rxnorm
                            code: '123456'
                            display: Acetaminophen 500mg Tablet
                          text: Acetaminophen 500mg Tablet
                        status: inactive
                        manufacturer:
                          reference: Organization/1
                          display: Example Pharma
                        form:
                          coding:
                          - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                            code: TAB
                            display: Tablet
                          text: Tablet
                        extension:
                        - url: http://xcaliber-fhir/structureDefinition/v2-is-doc-med
                          valueString: 'false'
                        - url: http://xcaliber-fhir/structureDefinition/is-doc-med
                          valueString: 'false'
        '400':
          description: Missing id error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: patient id is missing
                  status:
                    type: string
                    example: error
                  details:
                    type: object
                example:
                  statusCode: 400
                  message: patient id is missing
                  status: error
                  details: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: error
                  details:
                    type: object
                    properties:
                      error:
                        type: string
                        example: You are not authorized to access this resource
                example:
                  statusCode: 401
                  message: Unauthorized
                  status: error
                  details:
                    error: You are not authorized to access this resource
        '500':
          description: Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal server error
                  status:
                    type: string
                    example: error
                  details:
                    type: object
                example:
                  statusCode: 500
                  message: Internal server error
                  status: error
                  details: {}
    put:
      tags:
      - MedicationStatement
      summary: Update Medication Statement by ID
      operationId: updateMedicationStatementById
      parameters:
      - name: x-source-id
        in: header
        required: true
        description: Source system identifier. — 🔴 On demand filter
        schema:
          type: string
      - name: medication-statement-id
        in: path
        required: true
        description: .
        schema:
          type: string
      requestBody:
        description: Medication resource to update
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - context
              - data
              properties:
                context:
                  type: object
                  required:
                  - requestId
                  - source
                  - quorum
                  - notify
                  properties:
                    requestId:
                      type: string
                    source:
                      type: string
                    quorum:
                      type: boolean
                    notify:
                      type: boolean
                data:
                  type: object
                  required:
                  - context
                  - data
                  properties:
                    context:
                      type: object
                      required:
                      - requestId
                      - source
                      - quorum
                      - notify
                      properties:
                        requestId:
                          type: string
                        source:
                          type: string
                        quorum:
                          type: boolean
                        notify:
                          type: boolean
                    data:
                      type: object
                      required:
                      - resourceType
                      - type
                      - total
                      - entry
                      properties:
                        resourceType:
                          type: string
                          example: Bundle
                        type:
                          type: string
                          example: searchset
                        total:
                          type: integer
                          example: 2
                        entry:
                          type: array
                          items:
                            type: object
                            properties:
                              resource:
                                type: object
                                required:
                                - resourceType
                                - id
                                - code
                                - status
                                properties:
                                  resourceType:
                                    type: string
                                    enum:
                                    - Medication
                                  id:
                                    type: string
                                  status:
                                    type: string
                                    enum:
                                    - active
                                    - inactive
                                    - entered-in-error
                                  code:
                                    type: object
                                    properties:
                                      coding:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            system:
                                              type: string
                                            code:
                                              type: string
                                            display:
                                              type: string
                                      text:
                                        type: string
                                  manufacturer:
                                    type: object
                                    properties:
                                      reference:
                                        type: string
                                      display:
                                        type: string
                                  form:
                                    type: object
                                    properties:
                                      coding:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            system:
                                              type: string
                                            code:
                                              type: string
                                            display:
                                              type: string
                                      text:
                                        type: string
                                example:
                                  resourceType: Medication
                                  id: example-med-1
                                  status: active
                                  code:
                                    coding:
                                    - system: http://www.nlm.nih.gov/research/umls/rxnorm
                                      code: '123456'
                                      display: Acetaminophen 500mg Tablet
                                    text: Acetaminophen 500mg Tablet
                                  manufacturer:
                                    reference: Organization/1
                                    display: Example Pharma
                                  form:
                                    coding:
                                    - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                                      code: TAB
                                      display: Tablet
                                    text: Tablet
                  example:
                    context:
                      requestId: abc123
                      source: ELATION
                      quorum: true
                      notify: true
                    data:
                      resourceType: Bundle
                      type: searchset
                      total: 2
                      entry:
                      - resource:
                          resourceType: Medication
                          id: exampleId1
                          code:
                            coding:
                            - system: http://www.nlm.nih.gov/research/umls/rxnorm
                              code: '3628'
                              display: Ibuprofen
                            text: Ibuprofen
                          status: active
                          manufacturer:
                            reference: Organization/Pharma123
                            display: Big Pharma Inc
                          form:
                            coding:
                            - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                              code: TAB
                              display: Tablet
                            text: Tablet
                          extension:
                          - url: http://xcaliber-fhir/structureDefinition/v2-is-doc-med
                            valueString: 'true'
                          - url: http://xcaliber-fhir/structureDefinition/is-doc-med
                            valueString: 'true'
                          - url: http://xcaliber-fhir/structureDefinition/v2-medication-type
                            valueString: solid
                          - url: http://xcaliber-fhir/structureDefinition/medication-type
                            valueString: solid
                          - url: http://xcaliber-fhir/structureDefinition/v2-order-type
                            valueString: prescription
                          - url: http://xcaliber-fhir/structureDefinition/order-type
                            valueString: prescription
                          - url: http://xcaliber-fhir/structureDefinition/v2-created-date
                            valueDateTime: '2022-01-01T00:00:00Z'
                          - url: http://xcaliber-fhir/structureDefinition/chart-date
                            valueString: '2022-01-01'
                          - url: http://xcaliber-fhir/structureDefinition/v2-document-date
                            valueString: '2022-01-01T00:00:00Z'
                          - url: http://xcaliber-fhir/structureDefinition/document-date
                            valueString: '2022-01-01T00:00:00Z'
                          - url: http://xcaliber-fhir/structureDefinition/practice
                            valueString: '123'
                          - url: http://xcaliber-fhir/structureDefinition/v2-medication-thread
                            valueString: 'false'
                          - url: http://xcaliber-fhir/structureDefinition/medication-thread
                            valueString: 'false'
                          - url: http://xcaliber-fhir/structureDefinition/thread-id
                            valueString: '56789'
                          - url: http://xcaliber-fhir/structureDefinition/dc-date
                            valueString: '2022-01-15'
                          - url: http://xcaliber-fhir/structureDefinition/v2-med-qty
                            valueString: '30'
                          - url: http://xcaliber-fhir/structureDefinition/v2-med-qty-units
                            valueString: tablet
                          - url: http://xcaliber-fhir/structureDefinition/med-qty
                            valueString: '30'
                          - url: http://xcaliber-fhir/structureDefinition/med-qty-units
                            valueString: tablet
                      - resource:
                          resourceType: Medication
                          id: exampleId2
                          code:
                            coding:
                            - system: http://www.nlm.nih.gov/research/umls/rxnorm
                              code: '123456'
                              display: Acetaminophen 500mg Tablet
                            text: Acetaminophen 500mg Tablet
                          status: inactive
                          manufacturer:
                            reference: Organization/1
                            display: Example Pharma
                          form:
                            coding:
                            - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                              code: TAB
                              display: Tablet
                            text: Tablet
                          extension:
                          - url: http://xcaliber-fhir/structureDefinition/v2-is-doc-med
                            valueString: 'false'
                          - url: http://xcaliber-fhir/structureDefinition/is-doc-med
                            valueString: 'false'
              example:
                context:
                  requestId: abc123
                  source: ELATION
                  quorum: true
                  notify: true
                data:
                  resourceType: Medication
                  id: exampleId
                  code:
                    coding:
                    - system: http://www.nlm.nih.gov/research/umls/rxnorm
                      code: '3628'
                      display: Ibuprofen
                    text: Ibuprofen
                  status: active
                  manufacturer:
                    reference: Organization/Pharma123
                    display: Big Pharma Inc
                  form:
                    coding:
                    - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                      code: TAB
                      display: Tablet
                    text: Tablet
                  extension:
                  - url: http://xcaliber-fhir/structureDefinition/v2-is-doc-med
                    valueString: 'true'
                  - url: http://xcaliber-fhir/structureDefinition/is-doc-med
                    valueString: 'true'
                  - url: http://xcaliber-fhir/structureDefinition/v2-medication-type
                    valueString: solid
                  - url: http://xcaliber-fhir/structureDefinition/medication-type
                    valueString: solid
                  - url: http://xcaliber-fhir/structureDefinition/v2-order-type
                    valueString: prescription
                  - url: http://xcaliber-fhir/structureDefinition/order-type
                    valueString: prescription
                  - url: http://xcaliber-fhir/structureDefinition/v2-created-date
                    valueDateTime: '2022-01-01T00:00:00Z'
                  - url: http://xcaliber-fhir/structureDefinition/chart-date
                    valueString: '2022-01-01'
                  - url: http://xcaliber-fhir/structureDefinition/v2-document-date
                    valueString: '2022-01-01T00:00:00Z'
                  - url: http://xcaliber-fhir/structureDefinition/document-date
                    valueString: '2022-01-01T00:00:00Z'
                  - url: http://xcaliber-fhir/structureDefinition/practice
                    valueString: '123'
                  - url: http://xcaliber-fhir/structureDefinition/v2-medication-thread
                    valueString: 'false'
                  - url: http://xcaliber-fhir/structureDefinition/medication-thread
                    valueString: 'false'
                  - url: http://xcaliber-fhir/structureDefinition/thread-id
                    valueString: '56789'
                  - url: http://xcaliber-fhir/structureDefinition/dc-date
                    valueString: '2022-01-15'
                  - url: http://xcaliber-fhir/structureDefinition/v2-med-qty
                    valueString: '30'
                  - url: http://xcaliber-fhir/structureDefinition/v2-med-qty-units
                    valueString: tablet
                  - url: http://xcaliber-fhir/structureDefinition/med-qty
                    valueString: '30'
                  - url: http://xcaliber-fhir/structureDefinition/med-qty-units
                    valueString: tablet
      responses:
        '200':
          description: MedicationStatement updated
          content:
            application/json:
              schema:
                type: object
                required:
                - context
                - data
                properties:
                  context:
                    type: object
                    required:
                    - requestId
                    - source
                    - quorum
                    - notify
                    properties:
                      requestId:
                        type: string
                      source:
                        type: string
                      quorum:
                        type: boolean
                      notify:
                        type: boolean
                  data:
                    type: object
                    required:
                    - context
                    - data
                    properties:
                      context:
                        type: object
                        required:
                        - requestId
                        - source
                        - quorum
                        - notify
                        properties:
                          requestId:
                            type: string
                          source:
                            type: string
                          quorum:
                            type: boolean
                          notify:
                            type: boolean
                      data:
                        type: object
                        required:
                        - resourceType
                        - type
                        - total
                        - entry
                        properties:
                          resourceType:
                            type: string
                            example: Bundle
                          type:
                            type: string
                            example: searchset
                          total:
                            type: integer
                            example: 2
                          entry:
                            type: array
                            items:
                              type: object
                              properties:
                                resource:
                                  type: object
                                  required:
                                  - resourceType
                                  - id
                                  - code
                                  - status
                                  properties:
                                    resourceType:
                                      type: string
                                      enum:
                                      - Medication
                                    id:
                                      type: string
                                    status:
                                      type: string
                                      enum:
                                      - active
                                      - inactive
                                      - entered-in-error
                                    code:
                                      type: object
                                      properties:
                                        coding:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              system:
                                                type: string
                                              code:
                                                type: string
                                              display:
                                                type: string
                                        text:
                                          type: string
                                    manufacturer:
                                      type: object
                                      properties:
                                        reference:
                                          type: string
                                        display:
                                          type: string
                                    form:
                                      type: object
                                      properties:
                                        coding:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              system:
                                                type: string
                                              code:
                                                type: string
                                              display:
                                                type: string
                                        text:
                                          type: string
                                  example:
                                    resourceType: Medication
                                    id: example-med-1
                                    status: active
                                    code:
                                      coding:
                                      - system: http://www.nlm.nih.gov/research/umls/rxnorm
                                        code: '123456'
                                        display: Acetaminophen 500mg Tablet
                                      text: Acetaminophen 500mg Tablet
                                    manufacturer:
                                      reference: Organization/1
                                      display: Example Pharma
                                    form:
                                      coding:
                                      - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                                        code: TAB
                                        display: Tablet
                                      text: Tablet
                    example:
                      context:
                        requestId: abc123
                        source: ELATION
                        quorum: true
                        notify: true
                      data:
                        resourceType: Bundle
                        type: searchset
                        total: 2
                        entry:
                        - resource:
                            resourceType: Medication
                            id: exampleId1
                            code:
                              coding:
                              - system: http://www.nlm.nih.gov/research/umls/rxnorm
                                code: '3628'
                                display: Ibuprofen
                              text: Ibuprofen
                            status: active
                            manufacturer:
                              reference: Organization/Pharma123
                              display: Big Pharma Inc
                            form:
                              coding:
                              - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                                code: TAB
                                display: Tablet
                              text: Tablet
                            extension:
                            - url: http://xcaliber-fhir/structureDefinition/v2-is-doc-med
                              valueString: 'true'
                            - url: http://xcaliber-fhir/structureDefinition/is-doc-med
                              valueString: 'true'
                            - url: http://xcaliber-fhir/structureDefinition/v2-medication-type
                              valueString: solid
                            - url: http://xcaliber-fhir/structureDefinition/medication-type
                              valueString: solid
                            - url: http://xcaliber-fhir/structureDefinition/v2-order-type
                              valueString: prescription
                            - url: http://xcaliber-fhir/structureDefinition/order-type
                              valueString: prescription
                            - url: http://xcaliber-fhir/structureDefinition/v2-created-date
                              valueDateTime: '2022-01-01T00:00:00Z'
                            - url: http://xcaliber-fhir/structureDefinition/chart-date
                              valueString: '2022-01-01'
                            - url: http://xcaliber-fhir/structureDefinition/v2-document-date
                              valueString: '2022-01-01T00:00:00Z'
                            - url: http://xcaliber-fhir/structureDefinition/document-date
                              valueString: '2022-01-01T00:00:00Z'
                            - url: http://xcaliber-fhir/structureDefinition/practice
                              valueString: '123'
                            - url: http://xcaliber-fhir/structureDefinition/v2-medication-thread
                              valueString: 'false'
                            - url: http://xcaliber-fhir/structureDefinition/medication-thread
                              valueString: 'false'
                            - url: http://xcaliber-fhir/structureDefinition/thread-id
                              valueString: '56789'
                            - url: http://xcaliber-fhir/structureDefinition/dc-date
                              valueString: '2022-01-15'
                            - url: http://xcaliber-fhir/structureDefinition/v2-med-qty
                              valueString: '30'
                            - url: http://xcaliber-fhir/structureDefinition/v2-med-qty-units
                              valueString: tablet
                            - url: http://xcaliber-fhir/structureDefinition/med-qty
                              valueString: '30'
                            - url: http://xcaliber-fhir/structureDefinition/med-qty-units
                              valueString: tablet
                        - resource:
                            resourceType: Medication
                            id: exampleId2
                            code:
                              coding:
                              - system: http://www.nlm.nih.gov/research/umls/rxnorm
                                code: '123456'
                                display: Acetaminophen 500mg Tablet
                              text: Acetaminophen 500mg Tablet
                            status: inactive
                            manufacturer:
                              reference: Organization/1
                              display: Example Pharma
                            form:
                              coding:
                              - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                                code: TAB
                                display: Tablet
                              text: Tablet
                            extension:
                            - url: http://xcaliber-fhir/structureDefinition/v2-is-doc-med
                              valueString: 'false'
                            - url: http://xcaliber-fhir/structureDefinition/is-doc-med
                              valueString: 'false'
                example:
                  context:
                    requestId: abc123
                    source: ELATION
                    quorum: true
                    notify: true
                  data:
                    resourceType: Medication
                    id: exampleId
                    code:
                      coding:
                      - system: http://www.nlm.nih.gov/research/umls/rxnorm
                        code: '3628'
                        display: Ibuprofen
                      text: Ibuprofen
                    status: active
                    manufacturer:
                      reference: Organization/Pharma123
                      display: Big Pharma Inc
                    form:
                      coding:
                      - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                        code: TAB
                        display: Tablet
                      text: Tablet
                    extension:
                    - url: http://xcaliber-fhir/structureDefinition/v2-is-doc-med
                      valueString: 'true'
                    - url: http://xcaliber-fhir/structureDefinition/is-doc-med
                      valueString: 'true'
                    - url: http://xcaliber-fhir/structureDefinition/v2-medication-type
                      valueString: solid
                    - url: http://xcaliber-fhir/structureDefinition/medication-type
                      valueString: solid
                    - url: http://xcaliber-fhir/structureDefinition/v2-order-type
                      valueString: prescription
                    - url: http://xcaliber-fhir/structureDefinition/order-type
                      valueString: prescription
                    - url: http://xcaliber-fhir/structureDefinition/v2-created-date
                      valueDateTime: '2022-01-01T00:00:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/chart-date
                      valueString: '2022-01-01'
                    - url: http://xcaliber-fhir/structureDefinition/v2-document-date
                      valueString: '2022-01-01T00:00:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/document-date
                      valueString: '2022-01-01T00:00:00Z'
                    - url: http://xcaliber-fhir/structureDefinition/practice
                      valueString: '123'
                    - url: http://xcaliber-fhir/structureDefinition/v2-medication-thread
                      valueString: 'false'
                    - url: http://xcaliber-fhir/structureDefinition/medication-thread
                      valueString: 'false'
                    - url: http://xcaliber-fhir/structureDefinition/thread-id
                      valueString: '56789'
                    - url: http://xcaliber-fhir/structureDefinition/dc-date
                      valueString: '2022-01-15'
                    - url: http://xcaliber-fhir/structureDefinition/v2-med-qty
                      valueString: '30'
                    - url: http://xcaliber-fhir/structureDefinition/v2-med-qty-units
                      valueString: tablet
                    - url: http://xcaliber-fhir/structureDefinition/med-qty
                      valueString: '30'
                    - url: http://xcaliber-fhir/structureDefinition/med-qty-units
                      valueString: tablet
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: patient id is missing
                  status:
                    type: string
                    example: error
                  details:
                    type: object
                example:
                  statusCode: 400
                  message: patient id is missing
                  status: error
                  details: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: error
                  details:
                    type: object
                    properties:
                      error:
                        type: string
                        example: You are not authorized to access this resource
                example:
                  statusCode: 401
                  message: Unauthorized
                  status: error
                  details:
                    error: You are not authorized to access this resource
        '500':
          description: Server error on update
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal server error
                  status:
                    type: string
                    example: error
                  details:
                    type: object
                example:
                  statusCode: 500
                  message: Internal server error
                  status: error
                  details: {}
    delete:
      tags:
      - MedicationStatement
      summary: Delete Medication Statement by ID
      operationId: deleteMedicationStatementById
      parameters:
      - name: x-source-id
        in: header
        required: true
        description: Source system identifier. — 🔴 On demand filter
        schema:
          type: string
      - name: medication-statement-id
        in: path
        required: true
        description: .
        schema:
          type: string
      responses:
        '204':
          description: MedicationStatement deleted
          content:
            application/json:
              schema:
                type: object
                required:
                - context
                - data
                properties:
                  context:
                    type: object
                    required:
                    - requestId
                    - source
                    - quorum
                    - notify
                    properties:
                      requestId:
                        type: string
                      source:
                        type: string
                      quorum:
                        type: boolean
                      notify:
                        type: boolean
                  data:
                    type: object
                    required:
                    - id
                    - status
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                example:
                  context:
                    requestId: abc123
                    source: ELATION
                    quorum: true
                    notify: true
                  data:
                    id: deleted-id
                    status: success
        '400':
          description: Missing id error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: patient id is missing
                  status:
                    type: string
                    example: error
                  details:
                    type: object
                example:
                  statusCode: 400
                  message: patient id is missing
                  status: error
                  details: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: error
                  details:
                    type: object
                    properties:
                      error:
                        type: string
                        example: You are not authorized to access this resource
                example:
                  statusCode: 401
                  message: Unauthorized
                  status: error
                  details:
                    error: You are not authorized to access this resource
        '500':
          description: Server error on delete
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal server error
                  status:
                    type: string
                    example: error
                  details:
                    type: object
                example:
                  statusCode: 500
                  message: Internal server error
                  status: error
                  details: {}
components:
  schemas:
    Medication:
      type: object
      required:
      - resourceType
      - id
      - code
      - status
      properties:
        resourceType:
          type: string
          enum:
          - Medication
        id:
          type: string
        status:
          type: string
          enum:
          - active
          - inactive
          - entered-in-error
        code:
          type: object
          properties:
            coding:
              type: array
              items:
                type: object
                properties:
                  system:
                    type: string
                  code:
                    type: string
                  display:
                    type: string
            text:
              type: string
        manufacturer:
          type: object
          properties:
            reference:
              type: string
            display:
              type: string
        form:
          type: object
          properties:
            coding:
              type: array
              items:
                type: object
                properties:
                  system:
                    type: string
                  code:
                    type: string
                  display:
                    type: string
            text:
              type: string
      example:
        resourceType: Medication
        id: example-med-1
        status: active
        code:
          coding:
          - system: http://www.nlm.nih.gov/research/umls/rxnorm
            code: '123456'
            display: Acetaminophen 500mg Tablet
          text: Acetaminophen 500mg Tablet
        manufacturer:
          reference: Organization/1
          display: Example Pharma
        form:
          coding:
          - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
            code: TAB
            display: Tablet
          text: Tablet
    MedicationStatement:
      type: object
      required:
      - context
      - data
      properties:
        context:
          type: object
          required:
          - requestId
          - source
          - quorum
          - notify
          properties:
            requestId:
              type: string
            source:
              type: string
            quorum:
              type: boolean
            notify:
              type: boolean
        data:
          type: object
          required:
          - resourceType
          - type
          - total
          - entry
          properties:
            resourceType:
              type: string
              example: Bundle
            type:
              type: string
              example: searchset
            total:
              type: integer
              example: 2
            entry:
              type: array
              items:
                type: object
                properties:
                  resource:
                    type: object
                    required:
                    - resourceType
                    - id
                    - code
                    - status
                    properties:
                      resourceType:
                        type: string
                        enum:
                        - Medication
                      id:
                        type: string
                      status:
                        type: string
                        enum:
                        - active
                        - inactive
                        - entered-in-error
                      code:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                code:
                                  type: string
                                display:
                                  type: string
                          text:
                            type: string
                      manufacturer:
                        type: object
                        properties:
                          reference:
                            type: string
                          display:
                            type: string
                      form:
                        type: object
                        properties:
                          coding:
                            type: array
                            items:
                              type: object
                              properties:
                                system:
                                  type: string
                                code:
                                  type: string
                                display:
                                  type: string
                          text:
                            type: string
                    example:
                      resourceType: Medication
                      id: example-med-1
                      status: active
                      code:
                        coding:
                        - system: http://www.nlm.nih.gov/research/umls/rxnorm
                          code: '123456'
                          display: Acetaminophen 500mg Tablet
                        text: Acetaminophen 500mg Tablet
                      manufacturer:
                        reference: Organization/1
                        display: Example Pharma
                      form:
                        coding:
                        - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                          code: TAB
                          display: Tablet
                        text: Tablet
      example:
        context:
          requestId: abc123
          source: ELATION
          quorum: true
          notify: true
        data:
          resourceType: Bundle
          type: searchset
          total: 2
          entry:
          - resource:
              resourceType: Medication
              id: exampleId1
              code:
                coding:
                - system: http://www.nlm.nih.gov/research/umls/rxnorm
                  code: '3628'
                  display: Ibuprofen
                text: Ibuprofen
              status: active
              manufacturer:
                reference: Organization/Pharma123
                display: Big Pharma Inc
              form:
                coding:
                - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                  code: TAB
                  display: Tablet
                text: Tablet
              extension:
              - url: http://xcaliber-fhir/structureDefinition/v2-is-doc-med
                valueString: 'true'
              - url: http://xcaliber-fhir/structureDefinition/is-doc-med
                valueString: 'true'
              - url: http://xcaliber-fhir/structureDefinition/v2-medication-type
                valueString: solid
              - url: http://xcaliber-fhir/structureDefinition/medication-type
                valueString: solid
              - url: http://xcaliber-fhir/structureDefinition/v2-order-type
                valueString: prescription
              - url: http://xcaliber-fhir/structureDefinition/order-type
                valueString: prescription
              - url: http://xcaliber-fhir/structureDefinition/v2-created-date
                valueDateTime: '2022-01-01T00:00:00Z'
              - url: http://xcaliber-fhir/structureDefinition/chart-date
                valueString: '2022-01-01'
              - url: http://xcaliber-fhir/structureDefinition/v2-document-date
                valueString: '2022-01-01T00:00:00Z'
              - url: http://xcaliber-fhir/structureDefinition/document-date
                valueString: '2022-01-01T00:00:00Z'
              - url: http://xcaliber-fhir/structureDefinition/practice
                valueString: '123'
              - url: http://xcaliber-fhir/structureDefinition/v2-medication-thread
                valueString: 'false'
              - url: http://xcaliber-fhir/structureDefinition/medication-thread
                valueString: 'false'
              - url: http://xcaliber-fhir/structureDefinition/thread-id
                valueString: '56789'
              - url: http://xcaliber-fhir/structureDefinition/dc-date
                valueString: '2022-01-15'
              - url: http://xcaliber-fhir/structureDefinition/v2-med-qty
                valueString: '30'
              - url: http://xcaliber-fhir/structureDefinition/v2-med-qty-units
                valueString: tablet
              - url: http://xcaliber-fhir/structureDefinition/med-qty
                valueString: '30'
              - url: http://xcaliber-fhir/structureDefinition/med-qty-units
                valueString: tablet
          - resource:
              resourceType: Medication
              id: exampleId2
              code:
                coding:
                - system: http://www.nlm.nih.gov/research/umls/rxnorm
                  code: '123456'
                  display: Acetaminophen 500mg Tablet
                text: Acetaminophen 500mg Tablet
              status: inactive
              manufacturer:
                reference: Organization/1
                display: Example Pharma
              form:
                coding:
                - system: http://terminology.hl7.org/CodeSystem/v3-orderableDrugForm
                  code: TAB
                  display: Tablet
                text: Tablet
              extension:
              - url: http://xcaliber-fhir/structureDefinition/v2-is-doc-med
                valueString: 'false'
              - url: http://xcaliber-fhir/structureDefinition/is-doc-med
                valueString: 'false'
    MedicationStatementListResponse:
      type: object
      required:
      - context
      - data
      properties:
        context:
          type: object
          required:
[...]
