openapi: 3.0.3
info:
  title: Elation Patients API
  version: 1.0.0
  description: 'Source Ids:

    - Athena: 083fe714-e36e-4851-b2e7-a7166b439f67

    - Elation: 2341a165-3168-4961-9e99-be1aa6c29b9f


    Patient Endpoints

    "Patient" resource represents an individual who is receiving or has received healthcare services. It serves as a central repository for storing demographic information, contact details, and links to other relevant healthcare data.


    Example: Elend Venture, a 35-year-old male born on March 15, 1989, is represented in a FHIR system as a "Patient" resource. This resource includes his contact information (phone number and email), address, emergency contact details, preferred language (English), and a reference to his primary care physician, Dr. Tindwyl. It also links to other resources in his medical record, such as past encounters, diagnoses, medications, and allergies, creating a comprehensive digital representation of his health information.

    '
servers:
- url: https://xchange-sandbox.xcaliberapis.com
- url: https://your.api.com
tags:
- name: Patients
  description: Operations related to FHIR Patient resources
paths:
  /api/v1/Patient:
    get:
      tags:
      - Patients
      summary: Get Elation Patients
      operationId: getElationPatients
      parameters:
      - name: x-source-id
        in: header
        required: true
        description: Source system identifier. — 🔴 On demand filter
        schema:
          type: string
      - name: patient
        in: query
        required: true
        description: Filter by Patient reference/id (FHIR patient). — 🔵 On demand filter
        schema:
          type: string
      - name: address
        in: query
        required: false
        description: Search parameter 'address' for patient.
        schema:
          type: string
      - name: address-city
        in: query
        required: false
        description: Search parameter 'address-city' for patient.
        schema:
          type: string
      - name: address-country
        in: query
        required: false
        description: Search parameter 'address-country' for patient.
        schema:
          type: integer
      - name: address-postalcode
        in: query
        required: false
        description: Search parameter 'address-postalcode' for patient.
        schema:
          type: string
          format: token
      - name: address-state
        in: query
        required: false
        description: Search parameter 'address-state' for patient.
        schema:
          type: string
      - name: address-use
        in: query
        required: false
        description: Search parameter 'address-use' for patient.
        schema:
          type: string
      - name: birthdate
        in: query
        required: false
        description: Search parameter 'birthdate' for patient.
        schema:
          type: string
          format: date
      - name: email
        in: query
        required: false
        description: Search parameter 'email' for patient.
        schema:
          type: string
      - name: family
        in: query
        required: false
        description: Search parameter 'family' for patient.
        schema:
          type: string
      - name: gender
        in: query
        required: false
        description: Search parameter 'gender' for patient.
        schema:
          type: string
      - name: given
        in: query
        required: false
        description: Search parameter 'given' for patient.
        schema:
          type: string
      - name: phone
        in: query
        required: false
        description: Search parameter 'phone' for patient.
        schema:
          type: string
      - name: phonetic
        in: query
        required: false
        description: Search parameter 'phonetic' for patient.
        schema:
          type: string
      - name: telecom
        in: query
        required: false
        description: Search parameter 'telecom' for patient.
        schema:
          type: string
      - name: USCoreEthnicity
        in: query
        required: false
        description: Search parameter 'USCoreEthnicity' for patient.
        schema:
          type: string
      - name: USCorePatientGenderIdentity
        in: query
        required: false
        description: Search parameter 'USCorePatientGenderIdentity' for patient.
        schema:
          type: string
      - name: USCoreRace
        in: query
        required: false
        description: Search parameter 'USCoreRace' for patient.
        schema:
          type: string
      - name: active
        in: query
        required: false
        description: Search parameter 'active' for patient.
        schema:
          type: boolean
      - name: death-date
        in: query
        required: false
        description: Search parameter 'death-date' for patient.
        schema:
          type: string
          format: date
      - name: deceased
        in: query
        required: false
        description: Search parameter 'deceased' for patient.
        schema:
          type: string
      - name: general-practitioner
        in: query
        required: false
        description: Search parameter 'general-practitioner' for patient.
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        description: Search parameter 'identifier' for patient.
        schema:
          type: string
      - name: language
        in: query
        required: false
        description: Search parameter 'language' for patient.
        schema:
          type: string
      - name: link
        in: query
        required: false
        description: Search parameter 'link' for patient.
        schema:
          type: string
      - name: name
        in: query
        required: false
        description: Search parameter 'name' for patient.
        schema:
          type: string
      - name: organization
        in: query
        required: false
        description: Search parameter 'organization' for patient.
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of Elation Patients
          content:
            application/json:
              schema:
                type: object
                properties:
                  context:
                    type: object
                    properties:
                      requestId:
                        type: string
                        example: abc123
                      source:
                        type: string
                        example: ELATION
                      quorum:
                        type: boolean
                        example: true
                      notify:
                        type: boolean
                        example: true
                  data:
                    type: object
                    properties:
                      resourceType:
                        type: string
                        example: Bundle
                      type:
                        type: string
                        example: searchset
                      total:
                        type: integer
                        example: 1
                      entry:
                        type: array
                        items:
                          type: object
                          properties:
                            resource:
                              resourceType: Patient
                              id: example
                              meta:
                                versionId: '1'
                                lastUpdated: '2022-01-01T12:00:00Z'
                              text:
                                status: additional
                                div: <div xmlns="http://www.w3.org/1999/xhtml"><p>Example patient resource.</p></div>
                              name:
                              - use: usual
                                family: Doe
                                given:
                                - John
                              telecom:
                              - system: phone
                                value: +1-123-456-7890
                                use: mobile
                              gender: male
                              birthDate: '1980-01-01'
                              address:
                              - use: home
                                line:
                                - 123 Main St
                                city: Anytown
                                state: NY
                                postalCode: '12345'
                                country: US
                              managingOrganization:
                                reference: Organization/example
                              extension:
                              - url: http://xcaliber-fhir/StructureDefinition/patient-sex
                                valueCode: M
                              - url: http://xcaliber-fhir/StructureDefinition/patient-ethnicity
                                valueString: Hispanic
                              - url: http://xcaliber-fhir/StructureDefinition/patient-race
                                valueString: White
                              - url: http://xcaliber-fhir/StructureDefinition/legal-gender-marker
                                valueString: F
                              - url: http://xcaliber-fhir/StructureDefinition/patient-pronouns
                                valueString: they/them
                              - url: http://xcaliber-fhir/StructureDefinition/patient-sexual-orientation
                                valueString: bisexual
                              - url: http://xcaliber-fhir/StructureDefinition/patient-notes
                                valueString: This is a note about the patient.
                              - url: http://xcaliber-fhir/StructureDefinition/patient-vip
                                valueBoolean: true
                              - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider.html
                                valueString: Dr. Smith
                              - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider-npi.html
                                valueString: '1234567890'
                              - url: http://xcaliber-fhir/StructureDefinition/master-patient
                                valueString: master-patient-id
                              - url: http://xcaliber-fhir/StructureDefinition/patient-created-date
                                valueString: '2022-01-01T09:00:00Z'
                              - url: http://xcaliber-fhir/StructureDefinition/patient-deleted-date
                                valueString: '2023-01-01T09:00:00Z'
                              - url: http://xcaliber-fhir/StructureDefinition/caregiver-practice
                                valueInteger: 1001
                              - url: http://xcaliber-fhir/StructureDefinition/merged-into-chart
                                valueInteger: 9001
                              - url: http://xcaliber-fhir/StructureDefinition/patient-modified-date
                                valueDateTime: '2024-06-11T10:00:00Z'
                              - url: http://xcaliber-fhir/StructureDefinition/patient-inactive-reason
                                valueString: Moved away
                              - url: http://xcaliber-fhir/StructureDefinition/patient-last-status-change
                                valueDateTime: '2023-12-12T11:00:00Z'
                              - url: http://xcaliber-fhir/StructureDefinition/patient-status-notes
                                valueString: Became inactive due to moving.
                              - url: http://xcaliber-fhir/StructureDefinition/patient-status
                                valueString: inactive
                              - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-service-location
                                valueString: Clinic 101
                              - url: http://xcaliber-fhir/StructureDefinition/patient-tags
                                extension:
                                - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                                  valueString: asthma
                                - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                                  valueString: diabetic
                              - url: http://xcaliber-fhir/StructureDefinition/patient-preference
                                extension:
                                - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                                  valueString: Pharmacy A
                                - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                                  valueString: Pharmacy B
                example:
                  context:
                    requestId: abc123
                    source: ELATION
                    quorum: true
                    notify: true
                  data:
                    resourceType: Bundle
                    type: searchset
                    total: 1
                    entry:
                    - resource:
                        resourceType: Patient
                        id: example
                        meta:
                          versionId: '1'
                          lastUpdated: '2022-01-01T12:00:00Z'
                        text:
                          status: additional
                          div: <div xmlns="http://www.w3.org/1999/xhtml"><p>Example patient resource.</p></div>
                        name:
                        - use: usual
                          family: Doe
                          given:
                          - John
                        telecom:
                        - system: phone
                          value: +1-123-456-7890
                          use: mobile
                        gender: male
                        birthDate: '1980-01-01'
                        address:
                        - use: home
                          line:
                          - 123 Main St
                          city: Anytown
                          state: NY
                          postalCode: '12345'
                          country: US
                        managingOrganization:
                          reference: Organization/example
                        extension:
                        - url: http://xcaliber-fhir/StructureDefinition/patient-sex
                          valueCode: M
                        - url: http://xcaliber-fhir/StructureDefinition/patient-ethnicity
                          valueString: Hispanic
                        - url: http://xcaliber-fhir/StructureDefinition/patient-race
                          valueString: White
                        - url: http://xcaliber-fhir/StructureDefinition/legal-gender-marker
                          valueString: F
                        - url: http://xcaliber-fhir/StructureDefinition/patient-pronouns
                          valueString: they/them
                        - url: http://xcaliber-fhir/StructureDefinition/patient-sexual-orientation
                          valueString: bisexual
                        - url: http://xcaliber-fhir/StructureDefinition/patient-notes
                          valueString: This is a note about the patient.
                        - url: http://xcaliber-fhir/StructureDefinition/patient-vip
                          valueBoolean: true
                        - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider.html
                          valueString: Dr. Smith
                        - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider-npi.html
                          valueString: '1234567890'
                        - url: http://xcaliber-fhir/StructureDefinition/master-patient
                          valueString: master-patient-id
                        - url: http://xcaliber-fhir/StructureDefinition/patient-created-date
                          valueString: '2022-01-01T09:00:00Z'
                        - url: http://xcaliber-fhir/StructureDefinition/patient-deleted-date
                          valueString: '2023-01-01T09:00:00Z'
                        - url: http://xcaliber-fhir/StructureDefinition/caregiver-practice
                          valueInteger: 1001
                        - url: http://xcaliber-fhir/StructureDefinition/merged-into-chart
                          valueInteger: 9001
                        - url: http://xcaliber-fhir/StructureDefinition/patient-modified-date
                          valueDateTime: '2024-06-11T10:00:00Z'
                        - url: http://xcaliber-fhir/StructureDefinition/patient-inactive-reason
                          valueString: Moved away
                        - url: http://xcaliber-fhir/StructureDefinition/patient-last-status-change
                          valueDateTime: '2023-12-12T11:00:00Z'
                        - url: http://xcaliber-fhir/StructureDefinition/patient-status-notes
                          valueString: Became inactive due to moving.
                        - url: http://xcaliber-fhir/StructureDefinition/patient-status
                          valueString: inactive
                        - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-service-location
                          valueString: Clinic 101
                        - url: http://xcaliber-fhir/StructureDefinition/patient-tags
                          extension:
                          - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                            valueString: asthma
                          - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                            valueString: diabetic
                        - url: http://xcaliber-fhir/StructureDefinition/patient-preference
                          extension:
                          - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                            valueString: Pharmacy A
                          - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                            valueString: Pharmacy B
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: Bad request or missing field
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 400
                  message: Bad request or missing field
                  status: error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 401
                  message: Unauthorized
                  status: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal server error
                  details:
                    type: object
                    example: {}
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 500
                  message: Internal server error
                  details: {}
                  status: error
    post:
      tags:
      - Patients
      summary: Create Patient in Elation
      operationId: createPatientsInElation
      requestBody:
        description: FHIR Patient resource to create
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
                  properties:
                    requestId:
                      type: string
                      example: abc123
                    source:
                      type: string
                      example: ELATION
                    quorum:
                      type: boolean
                      example: true
                    notify:
                      type: boolean
                      example: true
                data:
                  resourceType: Patient
                  id: example
                  meta:
                    versionId: '1'
                    lastUpdated: '2022-01-01T12:00:00Z'
                  text:
                    status: additional
                    div: <div xmlns="http://www.w3.org/1999/xhtml"><p>Example patient resource.</p></div>
                  name:
                  - use: usual
                    family: Doe
                    given:
                    - John
                  telecom:
                  - system: phone
                    value: +1-123-456-7890
                    use: mobile
                  gender: male
                  birthDate: '1980-01-01'
                  address:
                  - use: home
                    line:
                    - 123 Main St
                    city: Anytown
                    state: NY
                    postalCode: '12345'
                    country: US
                  managingOrganization:
                    reference: Organization/example
                  extension:
                  - url: http://xcaliber-fhir/StructureDefinition/patient-sex
                    valueCode: M
                  - url: http://xcaliber-fhir/StructureDefinition/patient-ethnicity
                    valueString: Hispanic
                  - url: http://xcaliber-fhir/StructureDefinition/patient-race
                    valueString: White
                  - url: http://xcaliber-fhir/StructureDefinition/legal-gender-marker
                    valueString: F
                  - url: http://xcaliber-fhir/StructureDefinition/patient-pronouns
                    valueString: they/them
                  - url: http://xcaliber-fhir/StructureDefinition/patient-sexual-orientation
                    valueString: bisexual
                  - url: http://xcaliber-fhir/StructureDefinition/patient-notes
                    valueString: This is a note about the patient.
                  - url: http://xcaliber-fhir/StructureDefinition/patient-vip
                    valueBoolean: true
                  - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider.html
                    valueString: Dr. Smith
                  - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider-npi.html
                    valueString: '1234567890'
                  - url: http://xcaliber-fhir/StructureDefinition/master-patient
                    valueString: master-patient-id
                  - url: http://xcaliber-fhir/StructureDefinition/patient-created-date
                    valueString: '2022-01-01T09:00:00Z'
                  - url: http://xcaliber-fhir/StructureDefinition/patient-deleted-date
                    valueString: '2023-01-01T09:00:00Z'
                  - url: http://xcaliber-fhir/StructureDefinition/caregiver-practice
                    valueInteger: 1001
                  - url: http://xcaliber-fhir/StructureDefinition/merged-into-chart
                    valueInteger: 9001
                  - url: http://xcaliber-fhir/StructureDefinition/patient-modified-date
                    valueDateTime: '2024-06-11T10:00:00Z'
                  - url: http://xcaliber-fhir/StructureDefinition/patient-inactive-reason
                    valueString: Moved away
                  - url: http://xcaliber-fhir/StructureDefinition/patient-last-status-change
                    valueDateTime: '2023-12-12T11:00:00Z'
                  - url: http://xcaliber-fhir/StructureDefinition/patient-status-notes
                    valueString: Became inactive due to moving.
                  - url: http://xcaliber-fhir/StructureDefinition/patient-status
                    valueString: inactive
                  - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-service-location
                    valueString: Clinic 101
                  - url: http://xcaliber-fhir/StructureDefinition/patient-tags
                    extension:
                    - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                      valueString: asthma
                    - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                      valueString: diabetic
                  - url: http://xcaliber-fhir/StructureDefinition/patient-preference
                    extension:
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                      valueString: Pharmacy A
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                      valueString: Pharmacy B
              example:
                context:
                  requestId: abc123
                  source: ELATION
                  quorum: true
                  notify: true
                data:
                  resourceType: Patient
                  id: example
                  meta:
                    versionId: '1'
                    lastUpdated: '2022-01-01T12:00:00Z'
                  text:
                    status: additional
                    div: <div xmlns="http://www.w3.org/1999/xhtml"><p>Example patient resource.</p></div>
                  name:
                  - use: usual
                    family: Doe
                    given:
                    - John
                  telecom:
                  - system: phone
                    value: +1-123-456-7890
                    use: mobile
                  gender: male
                  birthDate: '1980-01-01'
                  address:
                  - use: home
                    line:
                    - 123 Main St
                    city: Anytown
                    state: NY
                    postalCode: '12345'
                    country: US
                  managingOrganization:
                    reference: Organization/example
                  extension:
                  - url: http://xcaliber-fhir/StructureDefinition/patient-sex
                    valueCode: M
                  - url: http://xcaliber-fhir/StructureDefinition/patient-ethnicity
                    valueString: Hispanic
                  - url: http://xcaliber-fhir/StructureDefinition/patient-race
                    valueString: White
                  - url: http://xcaliber-fhir/StructureDefinition/legal-gender-marker
                    valueString: F
                  - url: http://xcaliber-fhir/StructureDefinition/patient-pronouns
                    valueString: they/them
                  - url: http://xcaliber-fhir/StructureDefinition/patient-sexual-orientation
                    valueString: bisexual
                  - url: http://xcaliber-fhir/StructureDefinition/patient-notes
                    valueString: This is a note about the patient.
                  - url: http://xcaliber-fhir/StructureDefinition/patient-vip
                    valueBoolean: true
                  - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider.html
                    valueString: Dr. Smith
                  - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider-npi.html
                    valueString: '1234567890'
                  - url: http://xcaliber-fhir/StructureDefinition/master-patient
                    valueString: master-patient-id
                  - url: http://xcaliber-fhir/StructureDefinition/patient-created-date
                    valueString: '2022-01-01T09:00:00Z'
                  - url: http://xcaliber-fhir/StructureDefinition/patient-deleted-date
                    valueString: '2023-01-01T09:00:00Z'
                  - url: http://xcaliber-fhir/StructureDefinition/caregiver-practice
                    valueInteger: 1001
                  - url: http://xcaliber-fhir/StructureDefinition/merged-into-chart
                    valueInteger: 9001
                  - url: http://xcaliber-fhir/StructureDefinition/patient-modified-date
                    valueDateTime: '2024-06-11T10:00:00Z'
                  - url: http://xcaliber-fhir/StructureDefinition/patient-inactive-reason
                    valueString: Moved away
                  - url: http://xcaliber-fhir/StructureDefinition/patient-last-status-change
                    valueDateTime: '2023-12-12T11:00:00Z'
                  - url: http://xcaliber-fhir/StructureDefinition/patient-status-notes
                    valueString: Became inactive due to moving.
                  - url: http://xcaliber-fhir/StructureDefinition/patient-status
                    valueString: inactive
                  - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-service-location
                    valueString: Clinic 101
                  - url: http://xcaliber-fhir/StructureDefinition/patient-tags
                    extension:
                    - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                      valueString: asthma
                    - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                      valueString: diabetic
                  - url: http://xcaliber-fhir/StructureDefinition/patient-preference
                    extension:
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                      valueString: Pharmacy A
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                      valueString: Pharmacy B
      responses:
        '201':
          description: Patient created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  context:
                    type: object
                    properties:
                      requestId:
                        type: string
                        example: abc123
                      source:
                        type: string
                        example: ELATION
                      quorum:
                        type: boolean
                        example: true
                      notify:
                        type: boolean
                        example: true
                  data:
                    resourceType: Patient
                    id: example
                    meta:
                      versionId: '1'
                      lastUpdated: '2022-01-01T12:00:00Z'
                    text:
                      status: additional
                      div: <div xmlns="http://www.w3.org/1999/xhtml"><p>Example patient resource.</p></div>
                    name:
                    - use: usual
                      family: Doe
                      given:
                      - John
                    telecom:
                    - system: phone
                      value: +1-123-456-7890
                      use: mobile
                    gender: male
                    birthDate: '1980-01-01'
                    address:
                    - use: home
                      line:
                      - 123 Main St
                      city: Anytown
                      state: NY
                      postalCode: '12345'
                      country: US
                    managingOrganization:
                      reference: Organization/example
                    extension:
                    - url: http://xcaliber-fhir/StructureDefinition/patient-sex
                      valueCode: M
                    - url: http://xcaliber-fhir/StructureDefinition/patient-ethnicity
                      valueString: Hispanic
                    - url: http://xcaliber-fhir/StructureDefinition/patient-race
                      valueString: White
                    - url: http://xcaliber-fhir/StructureDefinition/legal-gender-marker
                      valueString: F
                    - url: http://xcaliber-fhir/StructureDefinition/patient-pronouns
                      valueString: they/them
                    - url: http://xcaliber-fhir/StructureDefinition/patient-sexual-orientation
                      valueString: bisexual
                    - url: http://xcaliber-fhir/StructureDefinition/patient-notes
                      valueString: This is a note about the patient.
                    - url: http://xcaliber-fhir/StructureDefinition/patient-vip
                      valueBoolean: true
                    - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider.html
                      valueString: Dr. Smith
                    - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider-npi.html
                      valueString: '1234567890'
                    - url: http://xcaliber-fhir/StructureDefinition/master-patient
                      valueString: master-patient-id
                    - url: http://xcaliber-fhir/StructureDefinition/patient-created-date
                      valueString: '2022-01-01T09:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-deleted-date
                      valueString: '2023-01-01T09:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/caregiver-practice
                      valueInteger: 1001
                    - url: http://xcaliber-fhir/StructureDefinition/merged-into-chart
                      valueInteger: 9001
                    - url: http://xcaliber-fhir/StructureDefinition/patient-modified-date
                      valueDateTime: '2024-06-11T10:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-inactive-reason
                      valueString: Moved away
                    - url: http://xcaliber-fhir/StructureDefinition/patient-last-status-change
                      valueDateTime: '2023-12-12T11:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-status-notes
                      valueString: Became inactive due to moving.
                    - url: http://xcaliber-fhir/StructureDefinition/patient-status
                      valueString: inactive
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-service-location
                      valueString: Clinic 101
                    - url: http://xcaliber-fhir/StructureDefinition/patient-tags
                      extension:
                      - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                        valueString: asthma
                      - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                        valueString: diabetic
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preference
                      extension:
                      - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                        valueString: Pharmacy A
                      - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                        valueString: Pharmacy B
                example:
                  context:
                    requestId: abc123
                    source: ELATION
                    quorum: true
                    notify: true
                  data:
                    resourceType: Patient
                    id: example
                    meta:
                      versionId: '1'
                      lastUpdated: '2022-01-01T12:00:00Z'
                    text:
                      status: additional
                      div: <div xmlns="http://www.w3.org/1999/xhtml"><p>Example patient resource.</p></div>
                    name:
                    - use: usual
                      family: Doe
                      given:
                      - John
                    telecom:
                    - system: phone
                      value: +1-123-456-7890
                      use: mobile
                    gender: male
                    birthDate: '1980-01-01'
                    address:
                    - use: home
                      line:
                      - 123 Main St
                      city: Anytown
                      state: NY
                      postalCode: '12345'
                      country: US
                    managingOrganization:
                      reference: Organization/example
                    extension:
                    - url: http://xcaliber-fhir/StructureDefinition/patient-sex
                      valueCode: M
                    - url: http://xcaliber-fhir/StructureDefinition/patient-ethnicity
                      valueString: Hispanic
                    - url: http://xcaliber-fhir/StructureDefinition/patient-race
                      valueString: White
                    - url: http://xcaliber-fhir/StructureDefinition/legal-gender-marker
                      valueString: F
                    - url: http://xcaliber-fhir/StructureDefinition/patient-pronouns
                      valueString: they/them
                    - url: http://xcaliber-fhir/StructureDefinition/patient-sexual-orientation
                      valueString: bisexual
                    - url: http://xcaliber-fhir/StructureDefinition/patient-notes
                      valueString: This is a note about the patient.
                    - url: http://xcaliber-fhir/StructureDefinition/patient-vip
                      valueBoolean: true
                    - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider.html
                      valueString: Dr. Smith
                    - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider-npi.html
                      valueString: '1234567890'
                    - url: http://xcaliber-fhir/StructureDefinition/master-patient
                      valueString: master-patient-id
                    - url: http://xcaliber-fhir/StructureDefinition/patient-created-date
                      valueString: '2022-01-01T09:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-deleted-date
                      valueString: '2023-01-01T09:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/caregiver-practice
                      valueInteger: 1001
                    - url: http://xcaliber-fhir/StructureDefinition/merged-into-chart
                      valueInteger: 9001
                    - url: http://xcaliber-fhir/StructureDefinition/patient-modified-date
                      valueDateTime: '2024-06-11T10:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-inactive-reason
                      valueString: Moved away
                    - url: http://xcaliber-fhir/StructureDefinition/patient-last-status-change
                      valueDateTime: '2023-12-12T11:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-status-notes
                      valueString: Became inactive due to moving.
                    - url: http://xcaliber-fhir/StructureDefinition/patient-status
                      valueString: inactive
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-service-location
                      valueString: Clinic 101
                    - url: http://xcaliber-fhir/StructureDefinition/patient-tags
                      extension:
                      - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                        valueString: asthma
                      - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                        valueString: diabetic
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preference
                      extension:
                      - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                        valueString: Pharmacy A
                      - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                        valueString: Pharmacy B
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: Bad request or missing field
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 400
                  message: Bad request or missing field
                  status: error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 401
                  message: Unauthorized
                  status: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal server error
                  details:
                    type: object
                    example: {}
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 500
                  message: Internal server error
                  details: {}
                  status: error
      parameters:
      - name: x-source-id
        in: header
        required: true
        description: Source system identifier. — 🔴 On demand filter
        schema:
          type: string
      - name: patient
        in: query
        required: true
        description: Filter by Patient reference/id (FHIR patient). — 🔵 On demand filter
        schema:
          type: string
    parameters: []
  /api/v1/Patient/{patient-id}:
    get:
      tags:
      - Patients
      summary: Get Elation Patient by ID
      operationId: getElationPatientById
      parameters:
      - name: x-source-id
        in: header
        required: true
        description: Source system identifier. — 🔴 On demand filter
        schema:
          type: string
      - name: patient-id
        in: query
        required: true
        description: .
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of Elation Patient
          content:
            application/json:
              schema:
                type: object
                properties:
                  context:
                    type: object
                    properties:
                      requestId:
                        type: string
                        example: abc123
                      source:
                        type: string
                        example: ELATION
                      quorum:
                        type: boolean
                        example: true
                      notify:
                        type: boolean
                        example: true
                  data:
                    resourceType: Patient
                    id: example
                    meta:
                      versionId: '1'
                      lastUpdated: '2022-01-01T12:00:00Z'
                    text:
                      status: additional
                      div: <div xmlns="http://www.w3.org/1999/xhtml"><p>Example patient resource.</p></div>
                    name:
                    - use: usual
                      family: Doe
                      given:
                      - John
                    telecom:
                    - system: phone
                      value: +1-123-456-7890
                      use: mobile
                    gender: male
                    birthDate: '1980-01-01'
                    address:
                    - use: home
                      line:
                      - 123 Main St
                      city: Anytown
                      state: NY
                      postalCode: '12345'
                      country: US
                    managingOrganization:
                      reference: Organization/example
                    extension:
                    - url: http://xcaliber-fhir/StructureDefinition/patient-sex
                      valueCode: M
                    - url: http://xcaliber-fhir/StructureDefinition/patient-ethnicity
                      valueString: Hispanic
                    - url: http://xcaliber-fhir/StructureDefinition/patient-race
                      valueString: White
                    - url: http://xcaliber-fhir/StructureDefinition/legal-gender-marker
                      valueString: F
                    - url: http://xcaliber-fhir/StructureDefinition/patient-pronouns
                      valueString: they/them
                    - url: http://xcaliber-fhir/StructureDefinition/patient-sexual-orientation
                      valueString: bisexual
                    - url: http://xcaliber-fhir/StructureDefinition/patient-notes
                      valueString: This is a note about the patient.
                    - url: http://xcaliber-fhir/StructureDefinition/patient-vip
                      valueBoolean: true
                    - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider.html
                      valueString: Dr. Smith
                    - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider-npi.html
                      valueString: '1234567890'
                    - url: http://xcaliber-fhir/StructureDefinition/master-patient
                      valueString: master-patient-id
                    - url: http://xcaliber-fhir/StructureDefinition/patient-created-date
                      valueString: '2022-01-01T09:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-deleted-date
                      valueString: '2023-01-01T09:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/caregiver-practice
                      valueInteger: 1001
                    - url: http://xcaliber-fhir/StructureDefinition/merged-into-chart
                      valueInteger: 9001
                    - url: http://xcaliber-fhir/StructureDefinition/patient-modified-date
                      valueDateTime: '2024-06-11T10:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-inactive-reason
                      valueString: Moved away
                    - url: http://xcaliber-fhir/StructureDefinition/patient-last-status-change
                      valueDateTime: '2023-12-12T11:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-status-notes
                      valueString: Became inactive due to moving.
                    - url: http://xcaliber-fhir/StructureDefinition/patient-status
                      valueString: inactive
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-service-location
                      valueString: Clinic 101
                    - url: http://xcaliber-fhir/StructureDefinition/patient-tags
                      extension:
                      - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                        valueString: asthma
                      - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                        valueString: diabetic
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preference
                      extension:
                      - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                        valueString: Pharmacy A
                      - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                        valueString: Pharmacy B
                example:
                  context:
                    requestId: abc123
                    source: ELATION
                    quorum: true
                    notify: true
                  data:
                    resourceType: Patient
                    id: example
                    meta:
                      versionId: '1'
                      lastUpdated: '2022-01-01T12:00:00Z'
                    text:
                      status: additional
                      div: <div xmlns="http://www.w3.org/1999/xhtml"><p>Example patient resource.</p></div>
                    name:
                    - use: usual
                      family: Doe
                      given:
                      - John
                    telecom:
                    - system: phone
                      value: +1-123-456-7890
                      use: mobile
                    gender: male
                    birthDate: '1980-01-01'
                    address:
                    - use: home
                      line:
                      - 123 Main St
                      city: Anytown
                      state: NY
                      postalCode: '12345'
                      country: US
                    managingOrganization:
                      reference: Organization/example
                    extension:
                    - url: http://xcaliber-fhir/StructureDefinition/patient-sex
                      valueCode: M
                    - url: http://xcaliber-fhir/StructureDefinition/patient-ethnicity
                      valueString: Hispanic
                    - url: http://xcaliber-fhir/StructureDefinition/patient-race
                      valueString: White
                    - url: http://xcaliber-fhir/StructureDefinition/legal-gender-marker
                      valueString: F
                    - url: http://xcaliber-fhir/StructureDefinition/patient-pronouns
                      valueString: they/them
                    - url: http://xcaliber-fhir/StructureDefinition/patient-sexual-orientation
                      valueString: bisexual
                    - url: http://xcaliber-fhir/StructureDefinition/patient-notes
                      valueString: This is a note about the patient.
                    - url: http://xcaliber-fhir/StructureDefinition/patient-vip
                      valueBoolean: true
                    - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider.html
                      valueString: Dr. Smith
                    - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider-npi.html
                      valueString: '1234567890'
                    - url: http://xcaliber-fhir/StructureDefinition/master-patient
                      valueString: master-patient-id
                    - url: http://xcaliber-fhir/StructureDefinition/patient-created-date
                      valueString: '2022-01-01T09:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-deleted-date
                      valueString: '2023-01-01T09:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/caregiver-practice
                      valueInteger: 1001
                    - url: http://xcaliber-fhir/StructureDefinition/merged-into-chart
                      valueInteger: 9001
                    - url: http://xcaliber-fhir/StructureDefinition/patient-modified-date
                      valueDateTime: '2024-06-11T10:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-inactive-reason
                      valueString: Moved away
                    - url: http://xcaliber-fhir/StructureDefinition/patient-last-status-change
                      valueDateTime: '2023-12-12T11:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-status-notes
                      valueString: Became inactive due to moving.
                    - url: http://xcaliber-fhir/StructureDefinition/patient-status
                      valueString: inactive
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-service-location
                      valueString: Clinic 101
                    - url: http://xcaliber-fhir/StructureDefinition/patient-tags
                      extension:
                      - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                        valueString: asthma
                      - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                        valueString: diabetic
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preference
                      extension:
                      - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                        valueString: Pharmacy A
                      - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                        valueString: Pharmacy B
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: Bad request or missing field
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 400
                  message: Bad request or missing field
                  status: error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 401
                  message: Unauthorized
                  status: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal server error
                  details:
                    type: object
                    example: {}
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 500
                  message: Internal server error
                  details: {}
                  status: error
    put:
      tags:
      - Patients
      summary: Update Patient in Elation
      operationId: updatePatientInElation
      parameters:
      - name: x-source-id
        in: header
        required: true
        description: Source system identifier. — 🔴 On demand filter
        schema:
          type: string
      - name: patient-id
        in: query
        required: true
        description: .
        schema:
          type: string
      requestBody:
        description: FHIR Patient resource update data
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
                  properties:
                    requestId:
                      type: string
                      example: abc123
                    source:
                      type: string
                      example: ELATION
                    quorum:
                      type: boolean
                      example: true
                    notify:
                      type: boolean
                      example: true
                data:
                  resourceType: Patient
                  id: example
                  meta:
                    versionId: '1'
                    lastUpdated: '2022-01-01T12:00:00Z'
                  text:
                    status: additional
                    div: <div xmlns="http://www.w3.org/1999/xhtml"><p>Example patient resource.</p></div>
                  name:
                  - use: usual
                    family: Doe
                    given:
                    - John
                  telecom:
                  - system: phone
                    value: +1-123-456-7890
                    use: mobile
                  gender: male
                  birthDate: '1980-01-01'
                  address:
                  - use: home
                    line:
                    - 123 Main St
                    city: Anytown
                    state: NY
                    postalCode: '12345'
                    country: US
                  managingOrganization:
                    reference: Organization/example
                  extension:
                  - url: http://xcaliber-fhir/StructureDefinition/patient-sex
                    valueCode: M
                  - url: http://xcaliber-fhir/StructureDefinition/patient-ethnicity
                    valueString: Hispanic
                  - url: http://xcaliber-fhir/StructureDefinition/patient-race
                    valueString: White
                  - url: http://xcaliber-fhir/StructureDefinition/legal-gender-marker
                    valueString: F
                  - url: http://xcaliber-fhir/StructureDefinition/patient-pronouns
                    valueString: they/them
                  - url: http://xcaliber-fhir/StructureDefinition/patient-sexual-orientation
                    valueString: bisexual
                  - url: http://xcaliber-fhir/StructureDefinition/patient-notes
                    valueString: This is a note about the patient.
                  - url: http://xcaliber-fhir/StructureDefinition/patient-vip
                    valueBoolean: true
                  - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider.html
                    valueString: Dr. Smith
                  - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider-npi.html
                    valueString: '1234567890'
                  - url: http://xcaliber-fhir/StructureDefinition/master-patient
                    valueString: master-patient-id
                  - url: http://xcaliber-fhir/StructureDefinition/patient-created-date
                    valueString: '2022-01-01T09:00:00Z'
                  - url: http://xcaliber-fhir/StructureDefinition/patient-deleted-date
                    valueString: '2023-01-01T09:00:00Z'
                  - url: http://xcaliber-fhir/StructureDefinition/caregiver-practice
                    valueInteger: 1001
                  - url: http://xcaliber-fhir/StructureDefinition/merged-into-chart
                    valueInteger: 9001
                  - url: http://xcaliber-fhir/StructureDefinition/patient-modified-date
                    valueDateTime: '2024-06-11T10:00:00Z'
                  - url: http://xcaliber-fhir/StructureDefinition/patient-inactive-reason
                    valueString: Moved away
                  - url: http://xcaliber-fhir/StructureDefinition/patient-last-status-change
                    valueDateTime: '2023-12-12T11:00:00Z'
                  - url: http://xcaliber-fhir/StructureDefinition/patient-status-notes
                    valueString: Became inactive due to moving.
                  - url: http://xcaliber-fhir/StructureDefinition/patient-status
                    valueString: inactive
                  - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-service-location
                    valueString: Clinic 101
                  - url: http://xcaliber-fhir/StructureDefinition/patient-tags
                    extension:
                    - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                      valueString: asthma
                    - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                      valueString: diabetic
                  - url: http://xcaliber-fhir/StructureDefinition/patient-preference
                    extension:
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                      valueString: Pharmacy A
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                      valueString: Pharmacy B
              example:
                context:
                  requestId: abc123
                  source: ELATION
                  quorum: true
                  notify: true
                data:
                  resourceType: Patient
                  id: example
                  meta:
                    versionId: '1'
                    lastUpdated: '2022-01-01T12:00:00Z'
                  text:
                    status: additional
                    div: <div xmlns="http://www.w3.org/1999/xhtml"><p>Example patient resource.</p></div>
                  name:
                  - use: usual
                    family: Doe
                    given:
                    - John
                  telecom:
                  - system: phone
                    value: +1-123-456-7890
                    use: mobile
                  gender: male
                  birthDate: '1980-01-01'
                  address:
                  - use: home
                    line:
                    - 123 Main St
                    city: Anytown
                    state: NY
                    postalCode: '12345'
                    country: US
                  managingOrganization:
                    reference: Organization/example
                  extension:
                  - url: http://xcaliber-fhir/StructureDefinition/patient-sex
                    valueCode: M
                  - url: http://xcaliber-fhir/StructureDefinition/patient-ethnicity
                    valueString: Hispanic
                  - url: http://xcaliber-fhir/StructureDefinition/patient-race
                    valueString: White
                  - url: http://xcaliber-fhir/StructureDefinition/legal-gender-marker
                    valueString: F
                  - url: http://xcaliber-fhir/StructureDefinition/patient-pronouns
                    valueString: they/them
                  - url: http://xcaliber-fhir/StructureDefinition/patient-sexual-orientation
                    valueString: bisexual
                  - url: http://xcaliber-fhir/StructureDefinition/patient-notes
                    valueString: This is a note about the patient.
                  - url: http://xcaliber-fhir/StructureDefinition/patient-vip
                    valueBoolean: true
                  - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider.html
                    valueString: Dr. Smith
                  - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider-npi.html
                    valueString: '1234567890'
                  - url: http://xcaliber-fhir/StructureDefinition/master-patient
                    valueString: master-patient-id
                  - url: http://xcaliber-fhir/StructureDefinition/patient-created-date
                    valueString: '2022-01-01T09:00:00Z'
                  - url: http://xcaliber-fhir/StructureDefinition/patient-deleted-date
                    valueString: '2023-01-01T09:00:00Z'
                  - url: http://xcaliber-fhir/StructureDefinition/caregiver-practice
                    valueInteger: 1001
                  - url: http://xcaliber-fhir/StructureDefinition/merged-into-chart
                    valueInteger: 9001
                  - url: http://xcaliber-fhir/StructureDefinition/patient-modified-date
                    valueDateTime: '2024-06-11T10:00:00Z'
                  - url: http://xcaliber-fhir/StructureDefinition/patient-inactive-reason
                    valueString: Moved away
                  - url: http://xcaliber-fhir/StructureDefinition/patient-last-status-change
                    valueDateTime: '2023-12-12T11:00:00Z'
                  - url: http://xcaliber-fhir/StructureDefinition/patient-status-notes
                    valueString: Became inactive due to moving.
                  - url: http://xcaliber-fhir/StructureDefinition/patient-status
                    valueString: inactive
                  - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-service-location
                    valueString: Clinic 101
                  - url: http://xcaliber-fhir/StructureDefinition/patient-tags
                    extension:
                    - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                      valueString: asthma
                    - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                      valueString: diabetic
                  - url: http://xcaliber-fhir/StructureDefinition/patient-preference
                    extension:
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                      valueString: Pharmacy A
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                      valueString: Pharmacy B
      responses:
        '200':
          description: Patient updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  context:
                    type: object
                    properties:
                      requestId:
                        type: string
                        example: abc123
                      source:
                        type: string
                        example: ELATION
                      quorum:
                        type: boolean
                        example: true
                      notify:
                        type: boolean
                        example: true
                  data:
                    resourceType: Patient
                    id: example
                    meta:
                      versionId: '1'
                      lastUpdated: '2022-01-01T12:00:00Z'
                    text:
                      status: additional
                      div: <div xmlns="http://www.w3.org/1999/xhtml"><p>Example patient resource.</p></div>
                    name:
                    - use: usual
                      family: Doe
                      given:
                      - John
                    telecom:
                    - system: phone
                      value: +1-123-456-7890
                      use: mobile
                    gender: male
                    birthDate: '1980-01-01'
                    address:
                    - use: home
                      line:
                      - 123 Main St
                      city: Anytown
                      state: NY
                      postalCode: '12345'
                      country: US
                    managingOrganization:
                      reference: Organization/example
                    extension:
                    - url: http://xcaliber-fhir/StructureDefinition/patient-sex
                      valueCode: M
                    - url: http://xcaliber-fhir/StructureDefinition/patient-ethnicity
                      valueString: Hispanic
                    - url: http://xcaliber-fhir/StructureDefinition/patient-race
                      valueString: White
                    - url: http://xcaliber-fhir/StructureDefinition/legal-gender-marker
                      valueString: F
                    - url: http://xcaliber-fhir/StructureDefinition/patient-pronouns
                      valueString: they/them
                    - url: http://xcaliber-fhir/StructureDefinition/patient-sexual-orientation
                      valueString: bisexual
                    - url: http://xcaliber-fhir/StructureDefinition/patient-notes
                      valueString: This is a note about the patient.
                    - url: http://xcaliber-fhir/StructureDefinition/patient-vip
                      valueBoolean: true
                    - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider.html
                      valueString: Dr. Smith
                    - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider-npi.html
                      valueString: '1234567890'
                    - url: http://xcaliber-fhir/StructureDefinition/master-patient
                      valueString: master-patient-id
                    - url: http://xcaliber-fhir/StructureDefinition/patient-created-date
                      valueString: '2022-01-01T09:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-deleted-date
                      valueString: '2023-01-01T09:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/caregiver-practice
                      valueInteger: 1001
                    - url: http://xcaliber-fhir/StructureDefinition/merged-into-chart
                      valueInteger: 9001
                    - url: http://xcaliber-fhir/StructureDefinition/patient-modified-date
                      valueDateTime: '2024-06-11T10:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-inactive-reason
                      valueString: Moved away
                    - url: http://xcaliber-fhir/StructureDefinition/patient-last-status-change
                      valueDateTime: '2023-12-12T11:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-status-notes
                      valueString: Became inactive due to moving.
                    - url: http://xcaliber-fhir/StructureDefinition/patient-status
                      valueString: inactive
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-service-location
                      valueString: Clinic 101
                    - url: http://xcaliber-fhir/StructureDefinition/patient-tags
                      extension:
                      - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                        valueString: asthma
                      - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                        valueString: diabetic
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preference
                      extension:
                      - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                        valueString: Pharmacy A
                      - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                        valueString: Pharmacy B
                example:
                  context:
                    requestId: abc123
                    source: ELATION
                    quorum: true
                    notify: true
                  data:
                    resourceType: Patient
                    id: example
                    meta:
                      versionId: '1'
                      lastUpdated: '2022-01-01T12:00:00Z'
                    text:
                      status: additional
                      div: <div xmlns="http://www.w3.org/1999/xhtml"><p>Example patient resource.</p></div>
                    name:
                    - use: usual
                      family: Doe
                      given:
                      - John
                    telecom:
                    - system: phone
                      value: +1-123-456-7890
                      use: mobile
                    gender: male
                    birthDate: '1980-01-01'
                    address:
                    - use: home
                      line:
                      - 123 Main St
                      city: Anytown
                      state: NY
                      postalCode: '12345'
                      country: US
                    managingOrganization:
                      reference: Organization/example
                    extension:
                    - url: http://xcaliber-fhir/StructureDefinition/patient-sex
                      valueCode: M
                    - url: http://xcaliber-fhir/StructureDefinition/patient-ethnicity
                      valueString: Hispanic
                    - url: http://xcaliber-fhir/StructureDefinition/patient-race
                      valueString: White
                    - url: http://xcaliber-fhir/StructureDefinition/legal-gender-marker
                      valueString: F
                    - url: http://xcaliber-fhir/StructureDefinition/patient-pronouns
                      valueString: they/them
                    - url: http://xcaliber-fhir/StructureDefinition/patient-sexual-orientation
                      valueString: bisexual
                    - url: http://xcaliber-fhir/StructureDefinition/patient-notes
                      valueString: This is a note about the patient.
                    - url: http://xcaliber-fhir/StructureDefinition/patient-vip
                      valueBoolean: true
                    - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider.html
                      valueString: Dr. Smith
                    - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider-npi.html
                      valueString: '1234567890'
                    - url: http://xcaliber-fhir/StructureDefinition/master-patient
                      valueString: master-patient-id
                    - url: http://xcaliber-fhir/StructureDefinition/patient-created-date
                      valueString: '2022-01-01T09:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-deleted-date
                      valueString: '2023-01-01T09:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/caregiver-practice
                      valueInteger: 1001
                    - url: http://xcaliber-fhir/StructureDefinition/merged-into-chart
                      valueInteger: 9001
                    - url: http://xcaliber-fhir/StructureDefinition/patient-modified-date
                      valueDateTime: '2024-06-11T10:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-inactive-reason
                      valueString: Moved away
                    - url: http://xcaliber-fhir/StructureDefinition/patient-last-status-change
                      valueDateTime: '2023-12-12T11:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-status-notes
                      valueString: Became inactive due to moving.
                    - url: http://xcaliber-fhir/StructureDefinition/patient-status
                      valueString: inactive
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-service-location
                      valueString: Clinic 101
                    - url: http://xcaliber-fhir/StructureDefinition/patient-tags
                      extension:
                      - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                        valueString: asthma
                      - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                        valueString: diabetic
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preference
                      extension:
                      - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                        valueString: Pharmacy A
                      - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                        valueString: Pharmacy B
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: Bad request or missing field
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 400
                  message: Bad request or missing field
                  status: error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 401
                  message: Unauthorized
                  status: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal server error
                  details:
                    type: object
                    example: {}
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 500
                  message: Internal server error
                  details: {}
                  status: error
    delete:
      tags:
      - Patients
      summary: Delete Patient in Elation
      operationId: deletePatientInElation
      parameters:
      - name: x-source-id
        in: header
        required: true
        description: Source system identifier. — 🔴 On demand filter
        schema:
          type: string
      - name: patient-id
        in: query
        required: true
        description: .
        schema:
          type: string
      responses:
        '204':
          description: Patient deleted successfully
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: Bad request or missing field
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 400
                  message: Bad request or missing field
                  status: error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 401
                  message: Unauthorized
                  status: error
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal server error
                  details:
                    type: object
                    example: {}
                  status:
                    type: string
                    example: error
                example:
                  statusCode: 500
                  message: Internal server error
                  details: {}
                  status: error
components:
  schemas:
    Patient:
      resourceType: Patient
      id: example
      meta:
        versionId: '1'
        lastUpdated: '2022-01-01T12:00:00Z'
      text:
        status: additional
        div: <div xmlns="http://www.w3.org/1999/xhtml"><p>Example patient resource.</p></div>
      name:
      - use: usual
        family: Doe
        given:
        - John
      telecom:
      - system: phone
        value: +1-123-456-7890
        use: mobile
      gender: male
      birthDate: '1980-01-01'
      address:
      - use: home
        line:
        - 123 Main St
        city: Anytown
        state: NY
        postalCode: '12345'
        country: US
      managingOrganization:
        reference: Organization/example
      extension:
      - url: http://xcaliber-fhir/StructureDefinition/patient-sex
        valueCode: M
      - url: http://xcaliber-fhir/StructureDefinition/patient-ethnicity
        valueString: Hispanic
      - url: http://xcaliber-fhir/StructureDefinition/patient-race
        valueString: White
      - url: http://xcaliber-fhir/StructureDefinition/legal-gender-marker
        valueString: F
      - url: http://xcaliber-fhir/StructureDefinition/patient-pronouns
        valueString: they/them
      - url: http://xcaliber-fhir/StructureDefinition/patient-sexual-orientation
        valueString: bisexual
      - url: http://xcaliber-fhir/StructureDefinition/patient-notes
        valueString: This is a note about the patient.
      - url: http://xcaliber-fhir/StructureDefinition/patient-vip
        valueBoolean: true
      - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider.html
        valueString: Dr. Smith
      - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider-npi.html
        valueString: '1234567890'
      - url: http://xcaliber-fhir/StructureDefinition/master-patient
        valueString: master-patient-id
      - url: http://xcaliber-fhir/StructureDefinition/patient-created-date
        valueString: '2022-01-01T09:00:00Z'
      - url: http://xcaliber-fhir/StructureDefinition/patient-deleted-date
        valueString: '2023-01-01T09:00:00Z'
      - url: http://xcaliber-fhir/StructureDefinition/caregiver-practice
        valueInteger: 1001
      - url: http://xcaliber-fhir/StructureDefinition/merged-into-chart
        valueInteger: 9001
      - url: http://xcaliber-fhir/StructureDefinition/patient-modified-date
        valueDateTime: '2024-06-11T10:00:00Z'
      - url: http://xcaliber-fhir/StructureDefinition/patient-inactive-reason
        valueString: Moved away
      - url: http://xcaliber-fhir/StructureDefinition/patient-last-status-change
        valueDateTime: '2023-12-12T11:00:00Z'
      - url: http://xcaliber-fhir/StructureDefinition/patient-status-notes
        valueString: Became inactive due to moving.
      - url: http://xcaliber-fhir/StructureDefinition/patient-status
        valueString: inactive
      - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-service-location
        valueString: Clinic 101
      - url: http://xcaliber-fhir/StructureDefinition/patient-tags
        extension:
        - url: http://xcaliber-fhir/StructureDefinition/patient-tag
          valueString: asthma
        - url: http://xcaliber-fhir/StructureDefinition/patient-tag
          valueString: diabetic
      - url: http://xcaliber-fhir/StructureDefinition/patient-preference
        extension:
        - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
          valueString: Pharmacy A
        - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
          valueString: Pharmacy B
    ElationPatientsGetResponse:
      type: object
      properties:
        context:
          type: object
          properties:
            requestId:
              type: string
              example: abc123
            source:
              type: string
              example: ELATION
            quorum:
              type: boolean
              example: true
            notify:
              type: boolean
              example: true
        data:
          type: object
          properties:
            resourceType:
              type: string
              example: Bundle
            type:
              type: string
              example: searchset
            total:
              type: integer
              example: 1
            entry:
              type: array
              items:
                type: object
                properties:
                  resource:
                    resourceType: Patient
                    id: example
                    meta:
                      versionId: '1'
                      lastUpdated: '2022-01-01T12:00:00Z'
                    text:
                      status: additional
                      div: <div xmlns="http://www.w3.org/1999/xhtml"><p>Example patient resource.</p></div>
                    name:
                    - use: usual
                      family: Doe
                      given:
                      - John
                    telecom:
                    - system: phone
                      value: +1-123-456-7890
                      use: mobile
                    gender: male
                    birthDate: '1980-01-01'
                    address:
                    - use: home
                      line:
                      - 123 Main St
                      city: Anytown
                      state: NY
                      postalCode: '12345'
                      country: US
                    managingOrganization:
                      reference: Organization/example
                    extension:
                    - url: http://xcaliber-fhir/StructureDefinition/patient-sex
                      valueCode: M
                    - url: http://xcaliber-fhir/StructureDefinition/patient-ethnicity
                      valueString: Hispanic
                    - url: http://xcaliber-fhir/StructureDefinition/patient-race
                      valueString: White
                    - url: http://xcaliber-fhir/StructureDefinition/legal-gender-marker
                      valueString: F
                    - url: http://xcaliber-fhir/StructureDefinition/patient-pronouns
                      valueString: they/them
                    - url: http://xcaliber-fhir/StructureDefinition/patient-sexual-orientation
                      valueString: bisexual
                    - url: http://xcaliber-fhir/StructureDefinition/patient-notes
                      valueString: This is a note about the patient.
                    - url: http://xcaliber-fhir/StructureDefinition/patient-vip
                      valueBoolean: true
                    - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider.html
                      valueString: Dr. Smith
                    - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider-npi.html
                      valueString: '1234567890'
                    - url: http://xcaliber-fhir/StructureDefinition/master-patient
                      valueString: master-patient-id
                    - url: http://xcaliber-fhir/StructureDefinition/patient-created-date
                      valueString: '2022-01-01T09:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-deleted-date
                      valueString: '2023-01-01T09:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/caregiver-practice
                      valueInteger: 1001
                    - url: http://xcaliber-fhir/StructureDefinition/merged-into-chart
                      valueInteger: 9001
                    - url: http://xcaliber-fhir/StructureDefinition/patient-modified-date
                      valueDateTime: '2024-06-11T10:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-inactive-reason
                      valueString: Moved away
                    - url: http://xcaliber-fhir/StructureDefinition/patient-last-status-change
                      valueDateTime: '2023-12-12T11:00:00Z'
                    - url: http://xcaliber-fhir/StructureDefinition/patient-status-notes
                      valueString: Became inactive due to moving.
                    - url: http://xcaliber-fhir/StructureDefinition/patient-status
                      valueString: inactive
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-service-location
                      valueString: Clinic 101
                    - url: http://xcaliber-fhir/StructureDefinition/patient-tags
                      extension:
                      - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                        valueString: asthma
                      - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                        valueString: diabetic
                    - url: http://xcaliber-fhir/StructureDefinition/patient-preference
                      extension:
                      - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                        valueString: Pharmacy A
                      - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                        valueString: Pharmacy B
      example:
        context:
          requestId: abc123
          source: ELATION
          quorum: true
          notify: true
        data:
          resourceType: Bundle
          type: searchset
          total: 1
          entry:
          - resource:
              resourceType: Patient
              id: example
              meta:
                versionId: '1'
                lastUpdated: '2022-01-01T12:00:00Z'
              text:
                status: additional
                div: <div xmlns="http://www.w3.org/1999/xhtml"><p>Example patient resource.</p></div>
              name:
              - use: usual
                family: Doe
                given:
                - John
              telecom:
              - system: phone
                value: +1-123-456-7890
                use: mobile
              gender: male
              birthDate: '1980-01-01'
              address:
              - use: home
                line:
                - 123 Main St
                city: Anytown
                state: NY
                postalCode: '12345'
                country: US
              managingOrganization:
                reference: Organization/example
              extension:
              - url: http://xcaliber-fhir/StructureDefinition/patient-sex
                valueCode: M
              - url: http://xcaliber-fhir/StructureDefinition/patient-ethnicity
                valueString: Hispanic
              - url: http://xcaliber-fhir/StructureDefinition/patient-race
                valueString: White
              - url: http://xcaliber-fhir/StructureDefinition/legal-gender-marker
                valueString: F
              - url: http://xcaliber-fhir/StructureDefinition/patient-pronouns
                valueString: they/them
              - url: http://xcaliber-fhir/StructureDefinition/patient-sexual-orientation
                valueString: bisexual
              - url: http://xcaliber-fhir/StructureDefinition/patient-notes
                valueString: This is a note about the patient.
              - url: http://xcaliber-fhir/StructureDefinition/patient-vip
                valueBoolean: true
              - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider.html
                valueString: Dr. Smith
              - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider-npi.html
                valueString: '1234567890'
              - url: http://xcaliber-fhir/StructureDefinition/master-patient
                valueString: master-patient-id
              - url: http://xcaliber-fhir/StructureDefinition/patient-created-date
                valueString: '2022-01-01T09:00:00Z'
              - url: http://xcaliber-fhir/StructureDefinition/patient-deleted-date
                valueString: '2023-01-01T09:00:00Z'
              - url: http://xcaliber-fhir/StructureDefinition/caregiver-practice
                valueInteger: 1001
              - url: http://xcaliber-fhir/StructureDefinition/merged-into-chart
                valueInteger: 9001
              - url: http://xcaliber-fhir/StructureDefinition/patient-modified-date
                valueDateTime: '2024-06-11T10:00:00Z'
              - url: http://xcaliber-fhir/StructureDefinition/patient-inactive-reason
                valueString: Moved away
              - url: http://xcaliber-fhir/StructureDefinition/patient-last-status-change
                valueDateTime: '2023-12-12T11:00:00Z'
              - url: http://xcaliber-fhir/StructureDefinition/patient-status-notes
                valueString: Became inactive due to moving.
              - url: http://xcaliber-fhir/StructureDefinition/patient-status
                valueString: inactive
              - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-service-location
                valueString: Clinic 101
              - url: http://xcaliber-fhir/StructureDefinition/patient-tags
                extension:
                - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                  valueString: asthma
                - url: http://xcaliber-fhir/StructureDefinition/patient-tag
                  valueString: diabetic
              - url: http://xcaliber-fhir/StructureDefinition/patient-preference
                extension:
                - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                  valueString: Pharmacy A
                - url: http://xcaliber-fhir/StructureDefinition/patient-preferred-pharmacy
                  valueString: Pharmacy B
    ElationPatientByIdGetResponse:
      type: object
      properties:
        context:
          type: object
          properties:
            requestId:
              type: string
              example: abc123
            source:
              type: string
              example: ELATION
            quorum:
              type: boolean
              example: true
            notify:
              type: boolean
              example: true
        data:
          resourceType: Patient
          id: example
          meta:
            versionId: '1'
            lastUpdated: '2022-01-01T12:00:00Z'
          text:
            status: additional
            div: <div xmlns="http://www.w3.org/1999/xhtml"><p>Example patient resource.</p></div>
          name:
          - use: usual
            family: Doe
            given:
            - John
          telecom:
          - system: phone
            value: +1-123-456-7890
            use: mobile
          gender: male
          birthDate: '1980-01-01'
          address:
          - use: home
            line:
            - 123 Main St
            city: Anytown
            state: NY
            postalCode: '12345'
            country: US
          managingOrganization:
            reference: Organization/example
          extension:
          - url: http://xcaliber-fhir/StructureDefinition/patient-sex
            valueCode: M
          - url: http://xcaliber-fhir/StructureDefinition/patient-ethnicity
            valueString: Hispanic
          - url: http://xcaliber-fhir/StructureDefinition/patient-race
            valueString: White
          - url: http://xcaliber-fhir/StructureDefinition/legal-gender-marker
            valueString: F
          - url: http://xcaliber-fhir/StructureDefinition/patient-pronouns
            valueString: they/them
          - url: http://xcaliber-fhir/StructureDefinition/patient-sexual-orientation
            valueString: bisexual
          - url: http://xcaliber-fhir/StructureDefinition/patient-notes
            valueString: This is a note about the patient.
          - url: http://xcaliber-fhir/StructureDefinition/patient-vip
            valueBoolean: true
          - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider.html
            valueString: Dr. Smith
          - url: http://xcaliber-fhir/StructureDefinition/primary-care-provider-npi.html
            valueString: '1234567890'
          - url: http://xcaliber-fhir/StructureDefinition/master-patient
            valueString: master-patient-id
          - url: http://xcaliber-fhir/StructureDefinition/patient-created-date
            valueString: '2022-01-01T09:00:00Z'
          - url: http://xcaliber-fhir/StructureDefinition/patient-deleted-date
            valueString: '2023-01-01T09:00:00Z'
          - url: http://xcaliber-fhir/StructureDefinition/caregiver-practice
            valueInteger: 1001
          - url: http://xcaliber-fhir/StructureDefinition/merged-into-chart
            valueInteger: 9001
          - url: http://xcaliber-fhir/StructureDefinition/patient-modified-date
            valueDateTime: '2024-06-11T10:00:00Z'
          - url: http://xcaliber-fhir/StructureDefinition/patient-inactive-reason
            valueString: Moved away
          - url: http://xcaliber-fhir/StructureDefinition/patient-last-status-change
            valueDateTime: '2023-12-12T11:00:00Z'
[...]
